<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.mcdonald.terrainsummit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Terrain | Summit</name>
    <description>Where Every Achievement is a Summit Conquered.</description>
    <author email="peter@mcdonald.xyz" href="https://github.com/pete-mc/Summit">
        Peter McDonald
    </author>
    <content src="https://terrain.scouts.com.au" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-inappbrowser" spec="^4.1.0" />
</widget>