<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="xyz.mcdonald.terrainsummit" version="2.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Terrain | Summit</name>
  <description>Where Every Achievement is a Summit Conquered.</description>
  <author email="peter@mcdonald.xyz" href="https://github.com/pete-mc/Summit">&#xD;&#xD;
        Peter McDonald&#xD;&#xD;
    </author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <plugin name="cordova-plugin-inappbrowser" spec="^6.0.0"/>
  <platform name="android">
    <icon src="res/android/icon.png"/>
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/drawable/splash.png"/>
    <preference name="SplashScreenDelay" value="2000"/>
    <preference name="FadeSplashScreenDuration" value="500"/>
  </platform>
</widget>