<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.mcdonald.terrainsummit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Terrain | Summit</name>
    <description>Where Every Achievement is a Summit Conquered.</description>
    <author email="peter@mcdonald.xyz" href="https://github.com/pete-mc/Summit">
        Peter McDonald
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-inappbrowser" spec="^6.0.0" />
    <platform name="android">
        <icon src="res/android/icon.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/drawable/splash.png" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="FadeSplashScreenDuration" value="500"/> 
        <!-- <preference name="SplashScreen" value="res/drawable/splash.png" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashScreen" value="screen" /> -->
    </platform>
</widget>