.summit-btn { 
    background: linear-gradient(97.08deg,#004C00,#197419) !important;
  }
  .summit-menu { 
    background: #004C00 !important;
    border-bottom-color: #197419 !important;
    border-top-color: #197419 !important;
  }
  
  .summit-menu:hover {
    background-color: #197419 !important;
  }
