.MilestoneDialog__icon[data-v-6ee7c5d4] {
    align-self: center;
    height: 24px;
    margin-right: 12px;
    width: 24px
}

.MilestoneDialog__strong-row[data-v-6ee7c5d4] {
    font-weight: 600
}

.MilestoneDialog__normal-row[data-v-6ee7c5d4],
.MilestoneDialog__strong-row[data-v-6ee7c5d4] {
    color: var(--color-medium-charcoal);
    font-size: 14px;
    line-height: 40px
}

.MilestoneDialog__normal-row[data-v-6ee7c5d4] {
    align-items: flex-start
}

.MilestoneDialog__numbers[data-v-6ee7c5d4] {
    text-align: right;
    white-space: nowrap
}

.SiaDialog__strong-row[data-v-29db777f] {
    font-weight: 600;
    line-height: 40px
}

.SiaDialog__normal-row[data-v-29db777f],
.SiaDialog__strong-row[data-v-29db777f] {
    color: var(--color-medium-charcoal);
    font-size: 14px
}

.SiaDialog__normal-row[data-v-29db777f] {
    align-items: flex-start;
    letter-spacing: -.005em;
    line-height: 21px;
    padding-left: 12px
}

.SiaDialog__numbers[data-v-29db777f] {
    text-align: right;
    white-space: nowrap
}

.OasDialog__icon[data-v-8e2fec9c] {
    height: 24px;
    width: 24px
}

.OasDialog__strong-row[data-v-8e2fec9c] {
    color: var(--color-medium-charcoal);
    font-size: 14px;
    font-weight: 600;
    line-height: 40px
}

.OasDialog__normal-row[data-v-8e2fec9c] {
    line-height: 21px
}

.OasDialog__inner-row[data-v-8e2fec9c],
.OasDialog__normal-row[data-v-8e2fec9c] {
    align-items: flex-start;
    color: var(--color-medium-charcoal);
    font-size: 14px;
    letter-spacing: -.005em;
    padding-left: 12px
}

.OasDialog__inner-row[data-v-8e2fec9c] {
    line-height: 40px;
    text-align: right
}

.OasDialog__inner-row .col[data-v-8e2fec9c] {
    margin-right: 24px;
    padding-bottom: 0;
    padding-left: 3px
}

.v-application .GroupLifeMembersTable__table {
    margin-bottom: 30px
}

.v-application .GroupLifeMembersTable__table td {
    height: 55px !important
}

@media only screen and (min-width:600px) {
    .v-application .GroupLifeMembersTable__table {
        margin-bottom: 55px
    }
}

.GroupLifeMembersTable__table tbody tr td:first-child,
.GroupLifeMembersTable__table thead tr th:first-child {
    background: #fff;
    border-right: 1px solid #ccc;
    left: 0;
    position: sticky
}

@media only screen and (min-width:600px) {
    .GroupLifeMembersTable__search {
        width: 50%
    }
}

@media only screen and (min-width:960px) {
    .GroupLifeMembersTable__search {
        width: 33%
    }
}

.GroupLifeMembersTable__showModal {
    color: var(--color-base-blue);
    cursor: pointer;
    margin: 0
}

.GroupLifeMembersTable__prev-milestone {
    padding: 4px 0
}