.v-input--selection-controls {
    margin-top: 16px;
    padding-top: 4px
}

.v-input--selection-controls>.v-input__append-outer,
.v-input--selection-controls>.v-input__prepend-outer {
    margin-bottom: 0;
    margin-top: 0
}

.v-input--selection-controls:not(.v-input--hide-details)>.v-input__slot {
    margin-bottom: 12px
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
    cursor: pointer
}

.v-input--selection-controls .v-input__slot>.v-label,
.v-input--selection-controls .v-radio>.v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto
}

.v-input--selection-controls__input {
    color: inherit;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition-property: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 24px
}

.v-input--selection-controls__input .v-icon {
    width: 100%
}

.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 8px
}

.v-application--is-rtl .v-input--selection-controls__input {
    margin-left: 8px
}

.v-input--selection-controls__input input[role=checkbox],
.v-input--selection-controls__input input[role=radio],
.v-input--selection-controls__input input[role=switch] {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.v-input--selection-controls__input+.v-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-input--selection-controls__ripple {
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    left: -12px;
    margin: 7px;
    position: absolute;
    top: calc(50% - 24px);
    transition: inherit;
    width: 34px
}

.v-input--selection-controls__ripple:before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.2);
    transform-origin: center center;
    transition: inherit
}

.v-input--selection-controls__ripple>.v-ripple__container {
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--dense .v-input--selection-controls__ripple {
    height: 28px;
    left: -9px;
    width: 28px
}

.v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
    top: calc(50% - 21px)
}

.v-input--selection-controls.v-input {
    flex: 0 1 auto
}

.v-input--selection-controls .v-radio--is-focused .v-input--selection-controls__ripple:before,
.v-input--selection-controls.v-input--is-focused .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--indeterminate) .v-icon {
    color: inherit
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--is-readonly) {
    pointer-events: none
}

.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2);
    transition: none
}

.v-input--radio-group legend.v-label {
    cursor: text;
    font-size: 14px;
    height: auto
}

.v-input--radio-group__input {
    border: none;
    cursor: default;
    display: flex;
    width: 100%
}

.v-input--radio-group--column .v-input--radio-group__input>.v-label {
    padding-bottom: 8px
}

.v-input--radio-group--row .v-input--radio-group__input>.v-label {
    padding-right: 8px
}

.v-input--radio-group--row legend {
    align-self: center;
    display: inline-block
}

.v-input--radio-group--row .v-input--radio-group__input {
    flex-direction: row;
    flex-wrap: wrap
}

.v-input--radio-group--column legend {
    padding-bottom: 8px
}

.v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
    margin-bottom: 8px
}

.v-input--radio-group--column .v-input--radio-group__input {
    flex-direction: column
}

.theme--light.v-radio--is-disabled label {
    color: rgba(0, 0, 0, .38)
}

.theme--dark.v-radio--is-disabled label {
    color: hsla(0, 0%, 100%, .5)
}

.v-radio {
    align-items: center;
    display: flex;
    height: auto;
    outline: none
}

.v-radio--is-disabled {
    cursor: default;
    pointer-events: none
}

.v-input--radio-group.v-input--radio-group--row .v-radio {
    margin-right: 16px
}

.LogbookEntry {
    margin-bottom: 30px
}

@media only screen and (min-width:600px) {
    .LogbookEntry {
        margin-bottom: 55px
    }
}

.LogbookEntry__select {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-bottom: 0 !important;
    margin-top: 8px;
    text-transform: capitalize
}

@media only screen and (min-width:600px) {
    .LogbookEntry__select {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.LogbookEntry__checkbox {
    color: var(--color-dark-charcoal) !important;
    margin-top: 0;
    padding-bottom: 24px
}

.LogbookEntry__checkbox .v-icon.primary--text {
    color: var(--color-scouts-medium-blue) !important;
    font-size: 28px
}

.LogbookEntry__checkbox .v-label {
    font-size: 20px !important
}

@media only screen and (max-width:599px) {
    .LogbookEntry__checkbox {
        font-size: 18px
    }
}

.LogbookEntry__required-fields {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-top: 16px
}

.v-application .theme--light.v-text-field.v-input--is-disabled .v-label {
    color: rgba(0, 0, 0, .38) !important
}

.LogbookEntry__checkbox.v-input--is-disabled .v-label {
    font-size: 16px !important
}

.LogbookEntry__form-hint {
    align-items: center;
    color: var(--color-medium-charcoal);
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 0 24px
}

.DatePicker {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    position: relative
}

.DatePicker .mx-input {
    background: none !important;
    border: none;
    border-bottom: 1px solid var(--color-light-mid-charcoal);
    border-radius: 0;
    box-shadow: none;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-size: 18px;
    font-weight: inherit;
    height: 28px;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 5px;
    padding: 0;
    width: 100%
}

@media only screen and (min-width:600px) {
    .DatePicker .mx-input {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.DatePicker .mx-input::-moz-placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-input::placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-datepicker {
    width: 100%
}

.DatePicker .mx-icon-calendar {
    display: none
}

.DatePicker.disabled {
    opacity: .6
}

.DatePicker .v-text-field__details .v-messages {
    display: none
}

.DatePicker .v-text-field__details .v-messages.error--text {
    display: flex
}

.DatePicker__icon {
    margin-right: 9px;
    position: relative;
    top: 5px
}

.DatePicker__label {
    color: var(--color-scouts-medium-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    font-weight: 700;
    left: 32px;
    letter-spacing: inherit !important;
    line-height: 18px !important;
    margin-top: 0;
    position: absolute;
    top: -16px
}