.mx-icon-double-left:after,
.mx-icon-double-left:before,
.mx-icon-double-right:after,
.mx-icon-double-right:before,
.mx-icon-left:before,
.mx-icon-right:before {
    border-color: currentcolor;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 10px;
    position: relative;
    top: -1px;
    -webkit-transform: rotate(-45deg) scale(.7);
    transform: rotate(-45deg) scale(.7);
    -webkit-transform-origin: center;
    transform-origin: center;
    vertical-align: middle;
    width: 10px
}

.mx-icon-double-left:after {
    left: -4px
}

.mx-icon-double-right:before {
    left: 4px
}

.mx-icon-double-right:after,
.mx-icon-double-right:before,
.mx-icon-right:before {
    -webkit-transform: rotate(135deg) scale(.7);
    transform: rotate(135deg) scale(.7)
}

.mx-btn {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #73879c;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 7px 15px;
    white-space: nowrap
}

.mx-btn:hover {
    border-color: #1284e7;
    color: #1284e7
}

.mx-btn.disabled,
.mx-btn:disabled {
    color: #ccc;
    cursor: not-allowed
}

.mx-btn-text {
    border: 0;
    line-height: inherit;
    padding: 0 4px;
    text-align: left
}

.mx-scrollbar {
    height: 100%
}

.mx-scrollbar:hover .mx-scrollbar-track {
    opacity: 1
}

.mx-scrollbar-wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

.mx-scrollbar-track {
    border-radius: 4px;
    bottom: 2px;
    opacity: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    -webkit-transition: opacity .24s ease-out;
    transition: opacity .24s ease-out;
    width: 6px;
    z-index: 1
}

.mx-scrollbar-track .mx-scrollbar-thumb {
    background-color: hsla(220, 4%, 58%, .3);
    border-radius: inherit;
    cursor: pointer;
    height: 0;
    position: absolute;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    width: 100%
}

.mx-zoom-in-down-enter-active,
.mx-zoom-in-down-leave-active {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    -webkit-transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
    transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
}

.mx-zoom-in-down-enter,
.mx-zoom-in-down-enter-from,
.mx-zoom-in-down-leave-to {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0)
}

.mx-datepicker {
    display: inline-block;
    position: relative;
    width: 210px
}

.mx-datepicker svg {
    fill: currentColor;
    height: 1em;
    overflow: hidden;
    vertical-align: -.15em;
    width: 1em
}

.mx-datepicker-range {
    width: 320px
}

.mx-datepicker-inline {
    width: auto
}

.mx-input-wrapper {
    position: relative
}

.mx-input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.4;
    padding: 6px 30px 6px 10px;
    width: 100%
}

.mx-input:focus,
.mx-input:hover {
    border-color: #409aff
}

.mx-input.disabled,
.mx-input:disabled {
    background-color: #f3f3f3;
    border-color: #ccc;
    color: #ccc;
    cursor: not-allowed
}

.mx-input:focus {
    outline: none
}

.mx-input::-ms-clear {
    display: none
}

.mx-icon-calendar,
.mx-icon-clear {
    color: rgba(0, 0, 0, .5);
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle
}

.mx-icon-clear {
    cursor: pointer
}

.mx-icon-clear:hover {
    color: rgba(0, 0, 0, .8)
}

.mx-datepicker-main {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #73879c;
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, sans-serif
}

.mx-datepicker-popup {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-bottom: 1px;
    margin-top: 1px;
    position: absolute;
    z-index: 2001
}

.mx-datepicker-sidebar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: auto;
    padding: 6px;
    width: 100px
}

.mx-datepicker-sidebar+.mx-datepicker-content {
    border-left: 1px solid #e8e8e8;
    margin-left: 100px
}

.mx-datepicker-body {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mx-btn-shortcut {
    display: block;
    line-height: 24px;
    padding: 0 6px
}

.mx-range-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media(max-width:750px) {
    .mx-range-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.mx-datepicker-header {
    border-bottom: 1px solid #e8e8e8;
    padding: 6px 8px
}

.mx-datepicker-footer {
    border-top: 1px solid #e8e8e8;
    padding: 6px 8px;
    text-align: right
}

.mx-calendar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 12px;
    width: 248px
}

.mx-calendar+.mx-calendar {
    border-left: 1px solid #e8e8e8
}

.mx-calendar-header,
.mx-time-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    text-align: center
}

.mx-btn-icon-double-left,
.mx-btn-icon-left {
    float: left
}

.mx-btn-icon-double-right,
.mx-btn-icon-right {
    float: right
}

.mx-calendar-header-label {
    font-size: 14px
}

.mx-calendar-decade-separator {
    margin: 0 2px
}

.mx-calendar-decade-separator:after {
    content: "~"
}

.mx-calendar-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 224px;
    position: relative
}

.mx-calendar-content .cell {
    cursor: pointer
}

.mx-calendar-content .cell:hover {
    background-color: #f3f9fe;
    color: #73879c
}

.mx-calendar-content .cell.active {
    background-color: #1284e7;
    color: #fff
}

.mx-calendar-content .cell.hover-in-range,
.mx-calendar-content .cell.in-range {
    background-color: #dbedfb;
    color: #73879c
}

.mx-calendar-content .cell.disabled {
    background-color: #f3f3f3;
    color: #ccc;
    cursor: not-allowed
}

.mx-calendar-week-mode .mx-date-row {
    cursor: pointer
}

.mx-calendar-week-mode .mx-date-row:hover {
    background-color: #f3f9fe
}

.mx-calendar-week-mode .mx-date-row.mx-active-week {
    background-color: #dbedfb
}

.mx-calendar-week-mode .mx-date-row .cell.active,
.mx-calendar-week-mode .mx-date-row .cell:hover {
    background-color: transparent;
    color: inherit
}

.mx-week-number {
    opacity: .5
}

.mx-table {
    border-collapse: separate;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    width: 100%
}

.mx-table th {
    font-weight: 500
}

.mx-table td,
.mx-table th {
    padding: 0;
    vertical-align: middle
}

.mx-table-date td,
.mx-table-date th {
    font-size: 12px;
    height: 32px
}

.mx-table-date .today {
    color: #2a90e9
}

.mx-table-date .cell.not-current-month {
    background: none;
    color: #ccc
}

.mx-time {
    -webkit-box-flex: 1;
    background: #fff;
    -ms-flex: 1;
    flex: 1;
    width: 224px
}

.mx-time+.mx-time {
    border-left: 1px solid #e8e8e8
}

.mx-calendar-time {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.mx-time-header {
    border-bottom: 1px solid #e8e8e8
}

.mx-time-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 224px;
    overflow: hidden
}

.mx-time-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%
}

.mx-time-column {
    -webkit-box-flex: 1;
    border-left: 1px solid #e8e8e8;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-align: center
}

.mx-time-column:first-child {
    border-left: 0
}

.mx-time-column .mx-time-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.mx-time-column .mx-time-list:after {
    content: "";
    display: block;
    height: 192px
}

.mx-time-column .mx-time-item {
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px
}

.mx-time-column .mx-time-item:hover {
    background-color: #f3f9fe;
    color: #73879c
}

.mx-time-column .mx-time-item.active {
    background-color: transparent;
    color: #1284e7;
    font-weight: 700
}

.mx-time-column .mx-time-item.disabled {
    background-color: #f3f3f3;
    color: #ccc;
    cursor: not-allowed
}

.mx-time-option {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 10px
}

.mx-time-option:hover {
    background-color: #f3f9fe;
    color: #73879c
}

.mx-time-option.active {
    background-color: transparent;
    color: #1284e7;
    font-weight: 700
}

.mx-time-option.disabled {
    background-color: #f3f3f3;
    color: #ccc;
    cursor: not-allowed
}