@media only screen and (min-width:960px) {
    .InProgressAchievementList[data-v-30dc1952] {
        -moz-column-count: 2;
        column-count: 2
    }
}

@media only screen and (max-width:959px) {
    .InProgressAchievementList[data-v-30dc1952] {
        -moz-column-count: 1;
        column-count: 1
    }
}

.InProgressAchievementList .InProgressAchievementList__card[data-v-30dc1952] {
    display: inline-block
}

.InProgressAchievementList .v-card[data-v-30dc1952]:not(.v-card--shaped) {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4);
    margin-bottom: 16px;
    padding: 24px;
    width: 100%
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-list-item--three-line[data-v-30dc1952] {
    min-height: -moz-min-content;
    min-height: min-content
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-list-item__title[data-v-30dc1952] {
    color: var(--color-slate);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.005em;
    line-height: 32px
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-btn[data-v-30dc1952],
.InProgressAchievementList .v-card:not(.v-card--shaped) .v-btn__content[data-v-30dc1952],
.InProgressAchievementList .v-card:not(.v-card--shaped) .v-card__actions[data-v-30dc1952],
.InProgressAchievementList .v-card:not(.v-card--shaped) .v-list-item[data-v-30dc1952] {
    padding: 0
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-btn[data-v-30dc1952] {
    height: -moz-min-content;
    height: min-content;
    margin: 0;
    min-width: -moz-min-content;
    min-width: min-content
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-list-item__content[data-v-30dc1952] {
    height: -moz-min-content;
    height: min-content;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.InProgressAchievementList .v-card:not(.v-card--shaped) .v-avatar[data-v-30dc1952] {
    margin: 0
}

.InProgressAchievementList .v-card:not(.v-card--shaped) img[data-v-30dc1952] {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none
}

.List[data-v-1b4fefe6] {
    margin-bottom: 24px
}

.List .ListItem[data-v-1b4fefe6] {
    align-items: center;
    border-bottom: 1px solid var(--color-light-charcoal);
    border-left: 1px solid var(--color-light-charcoal);
    border-radius: 0;
    border-right: 1px solid var(--color-light-charcoal);
    display: flex;
    padding: 16px
}

@media only screen and (min-width:600px) {
    .List .ListItem[data-v-1b4fefe6] {
        padding: 8px 16px
    }
}

.List .ListItem[data-v-1b4fefe6]:first-of-type {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid var(--color-light-charcoal)
}

.List .ListItem[data-v-1b4fefe6]:last-of-type {
    border-radius: 0 0 4px 4px
}

.List .ListItem[data-v-1b4fefe6]:first-of-type:last-of-type {
    border: 1px solid var(--color-light-charcoal);
    border-radius: 4px
}

.List .ListItem--rounded[data-v-1b4fefe6] {
    border: none !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    margin-bottom: 16px;
    padding: 24px;
    transition: all .2s ease
}

.List .ListItem--rounded .ListItem__title[data-v-1b4fefe6] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .List .ListItem--rounded .ListItem__title[data-v-1b4fefe6] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.List .row[data-v-1b4fefe6] {
    margin: 0
}

.List .col[data-v-1b4fefe6] {
    padding: 0
}

.List .ListItem__title-col[data-v-1b4fefe6] {
    margin-right: 16px;
    width: 0
}

@media only screen and (min-width:600px) {
    .List .ListItem__title-col[data-v-1b4fefe6] {
        display: flex;
        margin-right: 0
    }
}

.List .ListItem__action-col[data-v-1b4fefe6] {
    display: flex;
    margin-top: 16px
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-col[data-v-1b4fefe6] {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        margin-top: 0
    }
}

.List .ListItem__action-btn-col[data-v-1b4fefe6] {
    display: flex;
    justify-content: flex-end
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-btn-col[data-v-1b4fefe6] {
        min-width: 190px
    }
}

.List .ListItem__area-icon[data-v-1b4fefe6] {
    display: flex;
    margin-right: 24px;
    width: 24px
}

.List .ListItem__status[data-v-1b4fefe6],
.List .ListItem__title[data-v-1b4fefe6] {
    color: var(--color-dark-charcoal);
    font-style: normal;
    font-weight: 400
}

.List .ListItem__status.v-chip[data-v-1b4fefe6],
.List .ListItem__status.v-chip[data-v-1b4fefe6]:not(.v-chip--active) {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-size: 12px !important;
    font-weight: inherit;
    height: 22px;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 !important;
    margin-top: 16px;
    padding: 2px 8px
}

.List .ListItem__title[data-v-1b4fefe6] {
    font-size: 16px;
    letter-spacing: -.005em;
    line-height: 24px;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.List .ListItem__action[data-v-1b4fefe6] {
    float: right;
    height: -moz-min-content !important;
    height: min-content !important;
    margin-left: 24px;
    margin-right: -20px !important
}

@media only screen and (min-width:600px) {
    .List .ListItem__action[data-v-1b4fefe6] {
        margin-right: 0 !important;
        padding: 0
    }
}

.List .ListItem__action[data-v-1b4fefe6]:last-child,
.List .ListItem__action[data-v-1b4fefe6]:not(:first-child) {
    margin-left: 12px
}

.List .ListItem__action .v-btn--text[data-v-1b4fefe6] {
    margin-bottom: 0;
    padding: 0
}

.List .ListItem__action-icon[data-v-1b4fefe6] {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-icon[data-v-1b4fefe6] {
        margin-top: 0
    }
}

.List .ListItem__action[data-v-1b4fefe6]:first-of-type {
    margin-left: 0;
    margin-right: 0
}

@media only screen and (min-width:600px) {
    .ListItem__title-col[data-v-1b4fefe6] {
        flex-basis: 35%
    }
    .ListItem__status-col[data-v-1b4fefe6] {
        display: flex;
        justify-content: flex-start;
        width: 140px
    }
}

.AchievementOverview .AchievementOverview__headline[data-v-6d5f1028] {
    color: inherit;
    display: flex;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 14px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .AchievementOverview .AchievementOverview__headline[data-v-6d5f1028] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.AchievementOverview .AchievementOverview__headline--plan[data-v-6d5f1028] {
    margin-top: 12px
}

.AchievementOverview .InProgressAchievementList[data-v-6d5f1028] {
    margin-top: 1rem
}