.SupportPage[data-v-508d766c] {
    margin-bottom: 72px
}

.SupportPage__title[data-v-508d766c] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .SupportPage__title[data-v-508d766c] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.SupportPage__subtitle[data-v-508d766c] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.SupportPage__subtitle[data-v-508d766c]:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .SupportPage__subtitle[data-v-508d766c] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.SupportPage__body[data-v-508d766c] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.SupportPage a[data-v-508d766c] {
    display: block;
    margin-bottom: 16px
}

.SupportPage__section[data-v-508d766c] {
    margin: 48px 0
}

.SupportPage__youtube-playlist[data-v-508d766c] {
    width: 100%
}

@media only screen and (min-width:600px) {
    .SupportPage__youtube-playlist[data-v-508d766c] {
        width: 70%
    }
}