.MembersOverview__header[data-v-a15101f8] {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px !important
}

@media only screen and (min-width:600px) {
    .MembersOverview__header[data-v-a15101f8] {
        margin: 0 0 24px !important
    }
}

.MembersOverview__header .MembersOverview__title[data-v-a15101f8] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 0;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .MembersOverview__header .MembersOverview__title[data-v-a15101f8] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.MembersOverview__main .MembersOverview__group-title[data-v-a15101f8] {
    background: inherit;
    color: inherit;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin: 12px 0 !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .MembersOverview__main .MembersOverview__group-title[data-v-a15101f8] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important;
        width: 75%
    }
}

.MembersOverview__table[data-v-a15101f8] {
    display: flex;
    flex-direction: column
}

.MembersOverview__retrieved-date[data-v-a15101f8] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    letter-spacing: 0 !important;
    line-height: 18px !important;
    margin-top: 24px
}