.v-carousel {
    overflow: hidden;
    position: relative;
    width: 100%
}

.v-carousel__controls {
    align-items: center;
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    width: 100%;
    z-index: 1
}

.v-carousel__controls>.v-item-group {
    flex: 0 1 auto
}

.v-carousel__controls__item {
    margin: 0 8px
}

.v-carousel__controls__item .v-icon {
    opacity: .5
}

.v-carousel__controls__item--active .v-icon {
    opacity: 1;
    vertical-align: middle
}

.v-carousel__controls__item:hover {
    background: none
}

.v-carousel__controls__item:hover .v-icon {
    opacity: .8
}

.v-carousel__progress {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0
}

.v-carousel .v-window-item {
    display: block;
    height: inherit;
    -webkit-text-decoration: none;
    text-decoration: none
}

.v-carousel--hide-delimiter-background .v-carousel__controls {
    background: transparent
}

.v-carousel--vertical-delimiters .v-carousel__controls {
    height: 100% !important;
    width: 50px
}

.v-window {
    overflow: hidden
}

.v-window__container {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window__container--is-active {
    overflow: hidden
}

.v-window__next,
.v-window__prev {
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    margin: 0 16px;
    position: absolute;
    top: calc(50% - 20px);
    z-index: 1
}

.v-window__next .v-btn:hover,
.v-window__prev .v-btn:hover {
    background: none
}

.v-application--is-ltr .v-window__prev {
    left: 0
}

.v-application--is-ltr .v-window__next,
.v-application--is-rtl .v-window__prev {
    right: 0
}

.v-application--is-rtl .v-window__next {
    left: 0
}

.v-window--show-arrows-on-hover {
    overflow: hidden
}

.v-window--show-arrows-on-hover .v-window__next,
.v-window--show-arrows-on-hover .v-window__prev {
    transition: transform .2s cubic-bezier(.25, .8, .5, 1)
}

.v-application--is-ltr .v-window--show-arrows-on-hover .v-window__prev {
    transform: translateX(-200%)
}

.v-application--is-ltr .v-window--show-arrows-on-hover .v-window__next,
.v-application--is-rtl .v-window--show-arrows-on-hover .v-window__prev {
    transform: translateX(200%)
}

.v-application--is-rtl .v-window--show-arrows-on-hover .v-window__next {
    transform: translateX(-200%)
}

.v-window--show-arrows-on-hover:hover .v-window__next,
.v-window--show-arrows-on-hover:hover .v-window__prev {
    transform: translateX(0)
}

.v-window-x-reverse-transition-enter-active,
.v-window-x-reverse-transition-leave-active,
.v-window-x-transition-enter-active,
.v-window-x-transition-leave-active,
.v-window-y-reverse-transition-enter-active,
.v-window-y-reverse-transition-leave-active,
.v-window-y-transition-enter-active,
.v-window-y-transition-leave-active {
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window-x-reverse-transition-leave,
.v-window-x-reverse-transition-leave-to,
.v-window-x-transition-leave,
.v-window-x-transition-leave-to,
.v-window-y-reverse-transition-leave,
.v-window-y-reverse-transition-leave-to,
.v-window-y-transition-leave,
.v-window-y-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%
}

.v-window-x-transition-enter {
    transform: translateX(100%)
}

.v-window-x-reverse-transition-enter,
.v-window-x-transition-leave-to {
    transform: translateX(-100%)
}

.v-window-x-reverse-transition-leave-to {
    transform: translateX(100%)
}

.v-window-y-transition-enter {
    transform: translateY(100%)
}

.v-window-y-reverse-transition-enter,
.v-window-y-transition-leave-to {
    transform: translateY(-100%)
}

.v-window-y-reverse-transition-leave-to {
    transform: translateY(100%)
}

.theme--light.v-expansion-panels .v-expansion-panel {
    background-color: #fff;
    color: rgba(0, 0, 0, .87)
}

.theme--light.v-expansion-panels .v-expansion-panel--disabled {
    color: rgba(0, 0, 0, .38)
}

.theme--light.v-expansion-panels .v-expansion-panel:not(:first-child):after {
    border-color: rgba(0, 0, 0, .12)
}

.theme--light.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
    color: rgba(0, 0, 0, .54)
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:hover:before {
    opacity: .04
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .12
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:focus:before {
    opacity: .16
}

.theme--light.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:before {
    opacity: .04
}

.theme--dark.v-expansion-panels .v-expansion-panel {
    background-color: #1e1e1e;
    color: #fff
}

.theme--dark.v-expansion-panels .v-expansion-panel--disabled {
    color: hsla(0, 0%, 100%, .5)
}

.theme--dark.v-expansion-panels .v-expansion-panel:not(:first-child):after {
    border-color: hsla(0, 0%, 100%, .12)
}

.theme--dark.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
    color: #fff
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:hover:before {
    opacity: .08
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .24
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:focus:before {
    opacity: .32
}

.theme--dark.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:before {
    opacity: .08
}

.v-expansion-panels {
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    z-index: 1
}

.v-expansion-panels>* {
    cursor: auto
}

.v-expansion-panels>:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.v-expansion-panels>:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--active {
    border-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--active+.v-expansion-panel {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--next-active {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--next-active .v-expansion-panel-header {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}

.v-expansion-panel {
    flex: 1 0 100%;
    max-width: 100%;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-expansion-panel:before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    z-index: -1
}

.v-expansion-panel:not(:first-child):after {
    border-top: thin solid;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-color .2s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1)
}

.v-expansion-panel--disabled .v-expansion-panel-header {
    pointer-events: none
}

.v-expansion-panel--active+.v-expansion-panel,
.v-expansion-panel--active:not(:first-child) {
    margin-top: 16px
}

.v-expansion-panel--active+.v-expansion-panel:after,
.v-expansion-panel--active:not(:first-child):after {
    opacity: 0
}

.v-expansion-panel--active>.v-expansion-panel-header {
    min-height: 64px
}

.v-expansion-panel--active>.v-expansion-panel-header--active .v-expansion-panel-header__icon:not(.v-expansion-panel-header__icon--disable-rotate) .v-icon {
    transform: rotate(-180deg)
}

.v-expansion-panel-header__icon {
    display: inline-flex;
    margin-bottom: -4px;
    margin-top: -4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-application--is-ltr .v-expansion-panel-header__icon {
    margin-left: auto
}

.v-application--is-rtl .v-expansion-panel-header__icon {
    margin-right: auto
}

.v-expansion-panel-header {
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    font-size: .9375rem;
    line-height: 1;
    min-height: 48px;
    outline: none;
    padding: 16px 24px;
    position: relative;
    transition: min-height .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%
}

.v-application--is-ltr .v-expansion-panel-header {
    text-align: left
}

.v-application--is-rtl .v-expansion-panel-header {
    text-align: right
}

.v-expansion-panel-header:not(.v-expansion-panel-header--mousedown):focus:before {
    opacity: .12
}

.v-expansion-panel-header:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s cubic-bezier(.25, .8, .5, 1)
}

.v-expansion-panel-header>:not(.v-expansion-panel-header__icon) {
    flex: 1 1 auto
}

.v-expansion-panel-content {
    display: flex
}

.v-expansion-panel-content__wrap {
    flex: 1 1 auto;
    max-width: 100%;
    padding: 0 24px 16px
}

.v-expansion-panels--accordion>.v-expansion-panel {
    margin-top: 0
}

.v-expansion-panels--accordion>.v-expansion-panel:after {
    opacity: 1
}

.v-expansion-panels--popout>.v-expansion-panel {
    max-width: calc(100% - 32px)
}

.v-expansion-panels--popout>.v-expansion-panel--active {
    max-width: calc(100% + 16px)
}

.v-expansion-panels--inset>.v-expansion-panel {
    max-width: 100%
}

.v-expansion-panels--inset>.v-expansion-panel--active {
    max-width: calc(100% - 32px)
}

.v-expansion-panels--flat>.v-expansion-panel:after {
    border-top: none
}

.v-expansion-panels--flat>.v-expansion-panel:before {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.v-expansion-panels--tile,
.v-expansion-panels--tile>.v-expansion-panel:before {
    border-radius: 0
}