.DeletePatrolDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-9c4c0ec0] {
    margin-bottom: 0
}

.DeletePatrolDialog__card.v-card .DeletePatrolDialog__saveBtn[data-v-9c4c0ec0] {
    color: var(--color-base-blue)
}

.DeletePatrolDialog__card.v-card .DeletePatrolDialog__saveBtn.inactive[data-v-9c4c0ec0] {
    opacity: .5
}

.DeletePatrolDialog__card.v-card .v-btn__content[data-v-9c4c0ec0] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.DeleteUnitDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-5ca40065] {
    margin-bottom: 0
}

.DeleteUnitDialog__card.v-card .DeleteUnitDialog__saveBtn[data-v-5ca40065] {
    color: var(--color-base-blue)
}

.DeleteUnitDialog__card.v-card .DeleteUnitDialog__saveBtn.inactive[data-v-5ca40065] {
    opacity: .5
}

.DeleteUnitDialog__card.v-card .v-btn__content[data-v-5ca40065] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.v-input--checkbox.v-input--indeterminate.v-input--is-disabled {
    opacity: .6
}

.v-input--checkbox.v-input--dense {
    margin-top: 4px
}

.v-input--selection-controls {
    margin-top: 16px;
    padding-top: 4px
}

.v-input--selection-controls>.v-input__append-outer,
.v-input--selection-controls>.v-input__prepend-outer {
    margin-bottom: 0;
    margin-top: 0
}

.v-input--selection-controls:not(.v-input--hide-details)>.v-input__slot {
    margin-bottom: 12px
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
    cursor: pointer
}

.v-input--selection-controls .v-input__slot>.v-label,
.v-input--selection-controls .v-radio>.v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto
}

.v-input--selection-controls__input {
    color: inherit;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition-property: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 24px
}

.v-input--selection-controls__input .v-icon {
    width: 100%
}

.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 8px
}

.v-application--is-rtl .v-input--selection-controls__input {
    margin-left: 8px
}

.v-input--selection-controls__input input[role=checkbox],
.v-input--selection-controls__input input[role=radio],
.v-input--selection-controls__input input[role=switch] {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.v-input--selection-controls__input+.v-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-input--selection-controls__ripple {
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    left: -12px;
    margin: 7px;
    position: absolute;
    top: calc(50% - 24px);
    transition: inherit;
    width: 34px
}

.v-input--selection-controls__ripple:before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.2);
    transform-origin: center center;
    transition: inherit
}

.v-input--selection-controls__ripple>.v-ripple__container {
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--dense .v-input--selection-controls__ripple {
    height: 28px;
    left: -9px;
    width: 28px
}

.v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
    top: calc(50% - 21px)
}

.v-input--selection-controls.v-input {
    flex: 0 1 auto
}

.v-input--selection-controls .v-radio--is-focused .v-input--selection-controls__ripple:before,
.v-input--selection-controls.v-input--is-focused .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--indeterminate) .v-icon {
    color: inherit
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--is-readonly) {
    pointer-events: none
}

.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2);
    transition: none
}

.v-application .ImportDataDialog__card[data-v-551ce9f9] {
    box-sizing: border-box
}

.v-application .ImportDataDialog__radio[data-v-551ce9f9] {
    margin-bottom: 16px;
    margin-right: 24px
}

.v-application .ImportDataDialog__radio .v-input--selection-controls__input[data-v-551ce9f9] {
    margin-right: 16px !important
}

.v-application .ImportDataDialog__radio[data-v-551ce9f9]:last-child {
    margin-bottom: 0
}

.v-application .ImportDataDialog__radio-group[data-v-551ce9f9] {
    margin-bottom: 24px
}

.v-application .ImportDataDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-551ce9f9] {
    margin-bottom: 0
}

.v-application .ImportDataDialog__card.v-card .ImportDataDialog__saveBtn[data-v-551ce9f9] {
    color: var(--color-base-blue)
}

.v-application .ImportDataDialog__card.v-card .ImportDataDialog__saveBtn.inactive[data-v-551ce9f9] {
    opacity: .5
}

.v-application .ImportDataDialog__card.v-card .v-btn__content[data-v-551ce9f9] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.v-application .ImportDataDialog__actions[data-v-551ce9f9] {
    margin-top: 40px
}

.RenamePatrolDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-37780d3e] {
    margin-bottom: 0
}

.RenamePatrolDialog__card.v-card .RenamePatrolDialog__saveBtn[data-v-37780d3e] {
    color: var(--color-base-blue)
}

.RenamePatrolDialog__card.v-card .RenamePatrolDialog__saveBtn.inactive[data-v-37780d3e] {
    opacity: .5
}

.RenamePatrolDialog__card.v-card .v-btn__content[data-v-37780d3e] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.RenameUnitDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-0d0146c6] {
    margin-bottom: 0
}

.RenameUnitDialog__card.v-card .RenameUnitDialog__saveBtn[data-v-0d0146c6] {
    color: var(--color-base-blue)
}

.RenameUnitDialog__card.v-card .RenameUnitDialog__saveBtn.inactive[data-v-0d0146c6] {
    opacity: .5
}

.RenameUnitDialog__card.v-card .v-btn__content[data-v-0d0146c6] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.v-application .MembersTable .v-select.v-input--is-label-active.v-text-field .v-label {
    color: var(--color-dark-charcoal)
}

.v-application .MembersTable .v-select__selections,
.v-application .MembersTable td {
    text-transform: capitalize
}

.v-application .MembersTable td {
    height: 55px !important
}

.v-application .MembersTable .v-card__title {
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    padding-bottom: 0;
    padding-top: 0
}

@media only screen and (min-width:600px) {
    .v-application .MembersTable .v-card__title {
        margin-top: 8px
    }
}

.v-application .MembersTable .dropdown__duty,
.v-application .MembersTable .dropdown__patrol,
.v-application .MembersTable .dropdown__unit {
    width: 110px
}

@media only screen and (min-width:600px) {
    .v-application .MembersTable .dropdown__patrol,
    .v-application .MembersTable .dropdown__unit {
        width: 130px
    }
    .v-application .MembersTable .dropdown__duty {
        width: 66px
    }
}

.v-application .MembersTable .v-card__title {
    color: inherit;
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0
}

@media only screen and (min-width:600px) {
    .v-application .MembersTable .v-card__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.v-application .MembersTable .v-card__title .v-text-field {
    height: 74px;
    margin-bottom: 0;
    padding-right: 1rem;
    width: 50%
}

.v-application .MembersTable .v-card__title .MembersTable__filter {
    padding-right: 1rem;
    width: 50%
}

.v-application .MembersTable .MembersTable__actions {
    width: -moz-max-content;
    width: max-content
}

.v-application .MembersTable .MembersTable__actions :first-child {
    padding-left: 0
}

.v-application .MembersTable .MembersTable__actions .v-btn span.v-btn__content {
    padding: 0
}

.v-application .MembersTable .MembersTable__actions .v-btn span.v-btn__content .v-image {
    height: 1.5rem;
    margin-left: 0;
    margin-right: .5rem;
    width: 1.5rem
}

.v-application .MembersTable .MembersTable__actions-complete {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0;
    text-transform: uppercase
}

@media only screen and (max-width:599px) {
    .v-application .MembersTable .MembersTable__actions .v-btn span.v-btn__content {
        width: .5rem
    }
    .v-application .MembersTable .MembersTable__actions .v-btn span.v-btn__content .v-image {
        margin-left: 1.5rem
    }
    .v-application .MembersTable .MembersTable__actions .v-btn span.v-btn__content span {
        display: none
    }
}

.v-application .MembersTable__unit-name {
    color: var(--color-base-blue);
    cursor: pointer;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0;
    text-transform: uppercase
}

.v-application .MembersTable__actions-container {
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 100px
}

.v-application .MembersTable__actions-container .MembersTable__actions-container-divider {
    display: none
}

@media only screen and (min-width:600px) {
    .v-application .MembersTable__actions-container .MembersTable__actions-container-divider {
        display: inline;
        padding: 0 8px
    }
    .v-application .MembersTable__actions-container {
        display: inline;
        margin-right: 0
    }
    .v-application .MembersTable__actions-container .v-btn {
        height: 28px
    }
}

.v-application .MembersTable__achievement-modal-icon {
    cursor: pointer;
    margin-left: 8px
}

.v-application .MembersTable__search {
    margin-bottom: 48px;
    margin-top: 24px;
    width: 100%
}

.v-application .MembersTable__search .v-input__append-inner {
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .v-application .MembersTable__search {
        width: 33%
    }
}

@media only screen and (max-width:959px) {
    .v-application .v-data-footer__select {
        margin: auto !important
    }
    .v-application .v-data-footer__pagination {
        margin: 0 14px !important
    }
}