.BasecampLeaders[data-v-7b649138] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between
}

@media only screen and (min-width:960px) {
    .BasecampLeaders[data-v-7b649138] {
        flex-direction: row
    }
}

@keyframes animateIn-7b649138 {
    0% {
        opacity: 0;
        transform: scale(.9)
    }
    to {
        opacity: 1
    }
}

.BasecampLeaders__item[data-v-7b649138] {
    animation-delay: calc(var(--animation-order)*.1s);
    animation-duration: .45s;
    animation-fill-mode: both;
    animation-name: animateIn-7b649138;
    animation-timing-function: ease-out;
    background-color: #fff;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex: 0 0 48%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0;
    transition: all .2s ease;
    width: 100%
}

.BasecampLeaders__item[data-v-7b649138]:hover {
    box-shadow: 0 5px 10px #e5e9ec !important;
    transform: scale(1.01)
}

@media only screen and (min-width:600px) {
    .BasecampLeaders__item[data-v-7b649138] {
        flex-direction: row
    }
}

@media only screen and (min-width:1264px) {
    .BasecampLeaders__item[data-v-7b649138] {
        max-height: 210px
    }
}

.BasecampLeaders__text-container[data-v-7b649138] {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0
}

@media only screen and (min-width:600px) {
    .BasecampLeaders__text-container[data-v-7b649138] {
        padding: 40px 0 40px 40px
    }
}

.BasecampLeaders__text-container .BasecampLeaders__title[data-v-7b649138] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0 0 16px
}

@media only screen and (min-width:600px) {
    .BasecampLeaders__text-container .BasecampLeaders__title[data-v-7b649138] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BasecampLeaders__text-container .BasecampLeaders__description[data-v-7b649138] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin: 0 0 12px
}

.BasecampLeaders__image[data-v-7b649138] {
    align-self: flex-start;
    padding: 0 40px 12px 20px;
    width: auto
}

@media only screen and (min-width:600px) {
    .BasecampLeaders__image[data-v-7b649138] {
        align-self: center;
        max-width: 50% !important;
        padding: 0;
        width: auto
    }
}

.BasecampLeader__item--hover-fix[data-v-7b649138] {
    animation-fill-mode: none
}