.AdditionalAwardsRequirement[data-v-47031332] {
    margin: 0 auto 115px;
    max-width: 770px
}

@media only screen and (min-width:600px) {
    .AdditionalAwardsRequirement[data-v-47031332] {
        margin-bottom: 155px
    }
}

.AdditionalAwardsRequirement__title[data-v-47031332] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 36px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .AdditionalAwardsRequirement__title[data-v-47031332] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}