.theme--light.v-calendar-events .v-event-timed {
    border: 1px solid !important
}

.theme--light.v-calendar-events .v-event-more {
    background-color: #fff
}

.theme--light.v-calendar-events .v-event-more.v-outside {
    background-color: #f7f7f7
}

.theme--dark.v-calendar-events .v-event-timed {
    border: 1px solid !important
}

.theme--dark.v-calendar-events .v-event-more {
    background-color: #303030
}

.theme--dark.v-calendar-events .v-event-more.v-outside {
    background-color: #202020
}

.v-calendar .v-event {
    border-radius: 4px;
    line-height: 20px;
    margin-right: -1px
}

.v-calendar .v-event,
.v-calendar .v-event-more {
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1
}

.v-calendar .v-event-more {
    font-weight: 700
}

.v-calendar .v-event-timed-container {
    bottom: 0;
    left: 0;
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.v-calendar .v-event-timed {
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    pointer-events: all;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap
}

.v-calendar .v-event-summary {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.v-calendar.v-calendar-events .v-calendar-weekly__head-weekday {
    margin-right: -1px
}

.v-calendar.v-calendar-events .v-calendar-weekly__day {
    margin-right: -1px;
    overflow: visible
}

.theme--light.v-calendar-weekly {
    background-color: #fff;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0
}

.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday {
    border-right: 1px solid #e0e0e0;
    color: #000
}

.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past {
    color: rgba(0, 0, 0, .38)
}

.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside {
    background-color: #f7f7f7
}

.theme--light.v-calendar-weekly .v-calendar-weekly__head-weeknumber {
    background-color: #f1f3f4;
    border-right: 1px solid #e0e0e0
}

.theme--light.v-calendar-weekly .v-calendar-weekly__day {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    color: #000
}

.theme--light.v-calendar-weekly .v-calendar-weekly__day.v-outside {
    background-color: #f7f7f7
}

.theme--light.v-calendar-weekly .v-calendar-weekly__weeknumber {
    background-color: #f1f3f4;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    color: #000
}

.theme--dark.v-calendar-weekly {
    background-color: #303030;
    border-left: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday {
    border-right: 1px solid #9e9e9e;
    color: #fff
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past {
    color: hsla(0, 0%, 100%, .5)
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside {
    background-color: #202020
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weeknumber {
    background-color: #202020;
    border-right: 1px solid #9e9e9e
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__day {
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    color: #fff
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__day.v-outside {
    background-color: #202020
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__weeknumber {
    background-color: #202020;
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    color: #fff
}

.v-calendar-weekly {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    width: 100%
}

.v-calendar-weekly__head {
    display: flex
}

.v-calendar-weekly__head,
.v-calendar-weekly__head-weekday {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-calendar-weekly__head-weekday {
    flex: 1 0 20px;
    font-size: 11px;
    overflow: hidden;
    padding: 0 4px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap
}

.v-calendar-weekly__head-weeknumber {
    flex: 0 0 24px;
    position: relative
}

.v-calendar-weekly__week {
    display: flex;
    flex: 1;
    height: auto;
    min-height: 0
}

.v-calendar-weekly__weeknumber {
    display: flex;
    flex: 0 0 24px;
    height: auto;
    min-height: 0;
    padding-top: 14.5px;
    text-align: center
}

.v-calendar-weekly__weeknumber>small {
    width: 100% !important
}

.v-calendar-weekly__day {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 0
}

.v-calendar-weekly__day.v-present .v-calendar-weekly__day-month {
    color: currentColor
}

.v-calendar-weekly__day-label {
    box-shadow: none;
    cursor: pointer;
    margin: 4px 0 0;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-calendar-weekly__day-label .v-btn {
    font-size: 12px;
    text-transform: none
}

.v-calendar-weekly__day-month {
    box-shadow: none;
    height: 32px;
    left: 36px;
    line-height: 32px;
    position: absolute;
    -webkit-text-decoration: none;
    text-decoration: none;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.theme--light.v-calendar-daily {
    background-color: #fff;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0
}

.theme--light.v-calendar-daily .v-calendar-daily__intervals-head {
    border-right: 1px solid #e0e0e0
}

.theme--light.v-calendar-daily .v-calendar-daily__intervals-head:after {
    background: #e0e0e0;
    background: linear-gradient(90deg, transparent, #e0e0e0)
}

.theme--light.v-calendar-daily .v-calendar-daily_head-day {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    color: #000
}

.theme--light.v-calendar-daily .v-calendar-daily_head-day.v-past .v-calendar-daily_head-day-label,
.theme--light.v-calendar-daily .v-calendar-daily_head-day.v-past .v-calendar-daily_head-weekday {
    color: rgba(0, 0, 0, .38)
}

.theme--light.v-calendar-daily .v-calendar-daily__intervals-body {
    border-right: 1px solid #e0e0e0
}

.theme--light.v-calendar-daily .v-calendar-daily__intervals-body .v-calendar-daily__interval-text {
    color: #424242
}

.theme--light.v-calendar-daily .v-calendar-daily__day {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0
}

.theme--light.v-calendar-daily .v-calendar-daily__day-interval {
    border-top: 1px solid #e0e0e0
}

.theme--light.v-calendar-daily .v-calendar-daily__day-interval:first-child {
    border-top: none !important
}

.theme--light.v-calendar-daily .v-calendar-daily__interval:after {
    border-top: 1px solid #e0e0e0
}

.theme--dark.v-calendar-daily {
    background-color: #303030;
    border-left: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e
}

.theme--dark.v-calendar-daily .v-calendar-daily__intervals-head {
    border-right: 1px solid #9e9e9e
}

.theme--dark.v-calendar-daily .v-calendar-daily__intervals-head:after {
    background: #9e9e9e;
    background: linear-gradient(90deg, transparent, #9e9e9e)
}

.theme--dark.v-calendar-daily .v-calendar-daily_head-day {
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    color: #fff
}

.theme--dark.v-calendar-daily .v-calendar-daily_head-day.v-past .v-calendar-daily_head-day-label,
.theme--dark.v-calendar-daily .v-calendar-daily_head-day.v-past .v-calendar-daily_head-weekday {
    color: hsla(0, 0%, 100%, .5)
}

.theme--dark.v-calendar-daily .v-calendar-daily__intervals-body {
    border-right: 1px solid #9e9e9e
}

.theme--dark.v-calendar-daily .v-calendar-daily__intervals-body .v-calendar-daily__interval-text {
    color: #eee
}

.theme--dark.v-calendar-daily .v-calendar-daily__day {
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e
}

.theme--dark.v-calendar-daily .v-calendar-daily__day-interval {
    border-top: 1px solid #9e9e9e
}

.theme--dark.v-calendar-daily .v-calendar-daily__day-interval:first-child {
    border-top: none !important
}

.theme--dark.v-calendar-daily .v-calendar-daily__interval:after {
    border-top: 1px solid #9e9e9e
}

.v-calendar-daily {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden
}

.v-calendar-daily__head {
    display: flex;
    flex: none
}

.v-calendar-daily__intervals-head {
    flex: none;
    position: relative
}

.v-calendar-daily__intervals-head:after {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

.v-calendar-daily_head-day {
    flex: 1 1 auto;
    position: relative;
    width: 0
}

.v-calendar-daily_head-weekday {
    font-size: 11px;
    padding: 3px 0 0;
    text-transform: uppercase
}

.v-calendar-daily_head-day-label,
.v-calendar-daily_head-weekday {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-calendar-daily_head-day-label {
    cursor: pointer;
    padding: 0 0 3px
}

.v-calendar-daily__body {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    overflow: hidden;
    position: relative
}

.v-calendar-daily__scroll-area {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    overflow-y: scroll
}

.v-calendar-daily__pane {
    align-items: flex-start;
    display: flex;
    flex: none;
    overflow-y: hidden;
    width: 100%
}

.v-calendar-daily__day-container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%
}

.v-calendar-daily__intervals-body {
    flex: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-calendar-daily__interval {
    border-bottom: none;
    padding-right: 8px;
    position: relative;
    text-align: right
}

.v-calendar-daily__interval:after {
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: 8px
}

.v-calendar-daily__interval-text {
    display: block;
    font-size: 10px;
    padding-right: 4px;
    position: relative;
    top: -6px
}

.v-calendar-daily__day {
    flex: 1;
    position: relative;
    width: 0
}

.theme--light.v-calendar-category .v-calendar-category__column,
.theme--light.v-calendar-category .v-calendar-category__column-header {
    border-right: 1px solid #e0e0e0
}

.theme--light.v-calendar-category .v-calendar-daily__head,
.theme--light.v-calendar-category .v-calendar-daily__intervals-body,
.theme--light.v-calendar-category .v-calendar-daily__intervals-head {
    background: #fff
}

.theme--dark.v-calendar-category .v-calendar-category__column,
.theme--dark.v-calendar-category .v-calendar-category__column-header {
    border-right: 1px solid #9e9e9e
}

.theme--dark.v-calendar-category .v-calendar-daily__head,
.theme--dark.v-calendar-category .v-calendar-daily__intervals-body,
.theme--dark.v-calendar-category .v-calendar-daily__intervals-head {
    background: #303030
}

.v-calendar-category {
    overflow: auto;
    position: relative
}

.v-calendar-category .v-calendar-category__category {
    text-align: center
}

.v-calendar-category .v-calendar-daily__day-container {
    width: -moz-min-content;
    width: min-content
}

.v-calendar-category .v-calendar-daily__day-container .v-calendar-category__columns {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.v-calendar-category .v-calendar-daily__day-body {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%
}

.v-calendar-category .v-calendar-daily__head {
    flex-direction: row;
    min-width: 100%;
    position: sticky;
    top: 0;
    width: -moz-min-content;
    width: min-content;
    z-index: 2
}

.v-calendar-category .v-calendar-daily_head-day {
    position: static;
    width: auto
}

.v-calendar-category .v-calendar-daily__intervals-head {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 2
}

.v-calendar-category .v-calendar-daily_head-weekday {
    left: 50%;
    position: sticky;
    width: 50px
}

.v-calendar-category .v-calendar-daily_head-day-label {
    left: 50%;
    position: sticky;
    width: 56px
}

.v-calendar-category .v-calendar-daily__day {
    min-width: 200px
}

.v-calendar-category .v-calendar-daily__intervals-body {
    left: 0;
    position: sticky;
    z-index: 1
}

.v-calendar-category .v-calendar-daily__interval:last-of-type:after {
    display: none
}

.v-calendar-category .v-calendar-daily__body {
    overflow: visible
}

.v-calendar-category .v-calendar-daily__body .v-calendar-daily__scroll-area {
    flex: none;
    overflow-y: visible
}

.v-calendar-category .v-calendar-daily__pane {
    overflow-y: visible
}

.v-calendar-category .v-calendar-category__columns {
    display: flex;
    min-width: 100%;
    width: -moz-min-content;
    width: min-content
}

.v-calendar-category .v-calendar-category__columns .v-calendar-category__column,
.v-calendar-category .v-calendar-category__columns .v-calendar-category__column-header {
    flex: 1 1 auto;
    position: relative;
    width: 0
}

.v-calendar-category .v-calendar-category__columns .v-calendar-category__column-header {
    min-width: 200px
}

.v-speed-dial {
    position: relative;
    z-index: 1
}

.v-speed-dial--absolute {
    position: absolute
}

.v-speed-dial--fixed {
    position: fixed
}

.v-speed-dial--absolute,
.v-speed-dial--fixed {
    z-index: 4
}

.v-speed-dial--absolute>.v-btn--floating,
.v-speed-dial--fixed>.v-btn--floating {
    margin: 0
}

.v-speed-dial--top {
    top: 16px
}

.v-speed-dial--bottom {
    bottom: 16px
}

.v-speed-dial--left {
    left: 16px
}

.v-speed-dial--right {
    right: 16px
}

.v-speed-dial--direction-left .v-speed-dial__list,
.v-speed-dial--direction-right .v-speed-dial__list {
    height: 100%;
    padding: 0 16px;
    top: 0
}

.v-speed-dial--direction-bottom .v-speed-dial__list,
.v-speed-dial--direction-top .v-speed-dial__list {
    left: 0;
    width: 100%
}

.v-speed-dial--direction-top .v-speed-dial__list {
    bottom: 100%;
    flex-direction: column-reverse
}

.v-speed-dial--direction-right .v-speed-dial__list {
    flex-direction: row;
    left: 100%
}

.v-speed-dial--direction-bottom .v-speed-dial__list {
    flex-direction: column;
    top: 100%
}

.v-speed-dial--direction-left .v-speed-dial__list {
    flex-direction: row-reverse;
    right: 100%
}

.v-speed-dial__list {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    position: absolute
}

.v-speed-dial__list .v-btn {
    margin: 6px
}

.v-speed-dial:not(.v-speed-dial--is-active) .v-speed-dial__list {
    pointer-events: none
}

.theme--light.v-file-input .v-file-input__text {
    color: rgba(0, 0, 0, .87)
}

.theme--light.v-file-input .v-file-input__text--placeholder {
    color: rgba(0, 0, 0, .6)
}

.theme--light.v-file-input.v-input--is-disabled .v-file-input__text,
.theme--light.v-file-input.v-input--is-disabled .v-file-input__text .v-file-input__text--placeholder {
    color: rgba(0, 0, 0, .38)
}

.theme--dark.v-file-input .v-file-input__text {
    color: #fff
}

.theme--dark.v-file-input .v-file-input__text--placeholder {
    color: hsla(0, 0%, 100%, .7)
}

.theme--dark.v-file-input.v-input--is-disabled .v-file-input__text,
.theme--dark.v-file-input.v-input--is-disabled .v-file-input__text .v-file-input__text--placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.v-file-input input[type=file] {
    left: 0;
    max-width: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0
}

.v-file-input .v-file-input__text {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.v-file-input .v-file-input__text.v-file-input__text--chips {
    flex-wrap: wrap
}

.v-file-input .v-file-input__text .v-chip {
    margin: 4px
}

.v-file-input .v-text-field__slot {
    min-height: 32px
}

.v-file-input.v-input--dense .v-text-field__slot {
    min-height: 26px
}

.v-file-input.v-text-field--filled:not(.v-text-field--single-line) .v-file-input__text {
    padding-top: 22px
}

.v-file-input.v-text-field--outlined .v-text-field__slot {
    padding: 6px 0
}

.v-file-input.v-text-field--outlined.v-input--dense .v-text-field__slot {
    padding: 3px 0
}

.theme--light.v-expansion-panels .v-expansion-panel {
    background-color: #fff;
    color: rgba(0, 0, 0, .87)
}

.theme--light.v-expansion-panels .v-expansion-panel--disabled {
    color: rgba(0, 0, 0, .38)
}

.theme--light.v-expansion-panels .v-expansion-panel:not(:first-child):after {
    border-color: rgba(0, 0, 0, .12)
}

.theme--light.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
    color: rgba(0, 0, 0, .54)
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:hover:before {
    opacity: .04
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .12
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:focus:before {
    opacity: .16
}

.theme--light.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:before {
    opacity: .04
}

.theme--dark.v-expansion-panels .v-expansion-panel {
    background-color: #1e1e1e;
    color: #fff
}

.theme--dark.v-expansion-panels .v-expansion-panel--disabled {
    color: hsla(0, 0%, 100%, .5)
}

.theme--dark.v-expansion-panels .v-expansion-panel:not(:first-child):after {
    border-color: hsla(0, 0%, 100%, .12)
}

.theme--dark.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
    color: #fff
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:hover:before {
    opacity: .08
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .24
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:focus:before {
    opacity: .32
}

.theme--dark.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:before {
    opacity: .08
}

.v-expansion-panels {
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    z-index: 1
}

.v-expansion-panels>* {
    cursor: auto
}

.v-expansion-panels>:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.v-expansion-panels>:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--active {
    border-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--active+.v-expansion-panel {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--next-active {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile)>.v-expansion-panel--next-active .v-expansion-panel-header {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}

.v-expansion-panel {
    flex: 1 0 100%;
    max-width: 100%;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-expansion-panel:before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    z-index: -1
}

.v-expansion-panel:not(:first-child):after {
    border-top: thin solid;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-color .2s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1)
}

.v-expansion-panel--disabled .v-expansion-panel-header {
    pointer-events: none
}

.v-expansion-panel--active+.v-expansion-panel,
.v-expansion-panel--active:not(:first-child) {
    margin-top: 16px
}

.v-expansion-panel--active+.v-expansion-panel:after,
.v-expansion-panel--active:not(:first-child):after {
    opacity: 0
}

.v-expansion-panel--active>.v-expansion-panel-header {
    min-height: 64px
}

.v-expansion-panel--active>.v-expansion-panel-header--active .v-expansion-panel-header__icon:not(.v-expansion-panel-header__icon--disable-rotate) .v-icon {
    transform: rotate(-180deg)
}

.v-expansion-panel-header__icon {
    display: inline-flex;
    margin-bottom: -4px;
    margin-top: -4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-application--is-ltr .v-expansion-panel-header__icon {
    margin-left: auto
}

.v-application--is-rtl .v-expansion-panel-header__icon {
    margin-right: auto
}

.v-expansion-panel-header {
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    font-size: .9375rem;
    line-height: 1;
    min-height: 48px;
    outline: none;
    padding: 16px 24px;
    position: relative;
    transition: min-height .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%
}

.v-application--is-ltr .v-expansion-panel-header {
    text-align: left
}

.v-application--is-rtl .v-expansion-panel-header {
    text-align: right
}

.v-expansion-panel-header:not(.v-expansion-panel-header--mousedown):focus:before {
    opacity: .12
}

.v-expansion-panel-header:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s cubic-bezier(.25, .8, .5, 1)
}

.v-expansion-panel-header>:not(.v-expansion-panel-header__icon) {
    flex: 1 1 auto
}

.v-expansion-panel-content {
    display: flex
}

.v-expansion-panel-content__wrap {
    flex: 1 1 auto;
    max-width: 100%;
    padding: 0 24px 16px
}

.v-expansion-panels--accordion>.v-expansion-panel {
    margin-top: 0
}

.v-expansion-panels--accordion>.v-expansion-panel:after {
    opacity: 1
}

.v-expansion-panels--popout>.v-expansion-panel {
    max-width: calc(100% - 32px)
}

.v-expansion-panels--popout>.v-expansion-panel--active {
    max-width: calc(100% + 16px)
}

.v-expansion-panels--inset>.v-expansion-panel {
    max-width: 100%
}

.v-expansion-panels--inset>.v-expansion-panel--active {
    max-width: calc(100% - 32px)
}

.v-expansion-panels--flat>.v-expansion-panel:after {
    border-top: none
}

.v-expansion-panels--flat>.v-expansion-panel:before {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.v-expansion-panels--tile,
.v-expansion-panels--tile>.v-expansion-panel:before {
    border-radius: 0
}

.v-input--checkbox.v-input--indeterminate.v-input--is-disabled {
    opacity: .6
}

.v-input--checkbox.v-input--dense {
    margin-top: 4px
}

.v-input--selection-controls {
    margin-top: 16px;
    padding-top: 4px
}

.v-input--selection-controls>.v-input__append-outer,
.v-input--selection-controls>.v-input__prepend-outer {
    margin-bottom: 0;
    margin-top: 0
}

.v-input--selection-controls:not(.v-input--hide-details)>.v-input__slot {
    margin-bottom: 12px
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
    cursor: pointer
}

.v-input--selection-controls .v-input__slot>.v-label,
.v-input--selection-controls .v-radio>.v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto
}

.v-input--selection-controls__input {
    color: inherit;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition-property: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 24px
}

.v-input--selection-controls__input .v-icon {
    width: 100%
}

.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 8px
}

.v-application--is-rtl .v-input--selection-controls__input {
    margin-left: 8px
}

.v-input--selection-controls__input input[role=checkbox],
.v-input--selection-controls__input input[role=radio],
.v-input--selection-controls__input input[role=switch] {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.v-input--selection-controls__input+.v-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-input--selection-controls__ripple {
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    left: -12px;
    margin: 7px;
    position: absolute;
    top: calc(50% - 24px);
    transition: inherit;
    width: 34px
}

.v-input--selection-controls__ripple:before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.2);
    transform-origin: center center;
    transition: inherit
}

.v-input--selection-controls__ripple>.v-ripple__container {
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--dense .v-input--selection-controls__ripple {
    height: 28px;
    left: -9px;
    width: 28px
}

.v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
    top: calc(50% - 21px)
}

.v-input--selection-controls.v-input {
    flex: 0 1 auto
}

.v-input--selection-controls .v-radio--is-focused .v-input--selection-controls__ripple:before,
.v-input--selection-controls.v-input--is-focused .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--indeterminate) .v-icon {
    color: inherit
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--is-readonly) {
    pointer-events: none
}

.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2);
    transition: none
}