.LogbookCard[data-v-67c25f40] {
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    display: flex;
    height: 100%;
    transition: all .2s ease
}

.LogbookCard__title[data-v-67c25f40] {
    color: var(--color-medium-charcoal);
    min-width: 175px;
    padding: 30px 0 12px 40px;
    word-break: break-word
}

@media screen and (min-width:600px)and (max-width:959px) {
    .LogbookCard__title[data-v-67c25f40] {
        padding-right: 40px
    }
}

.LogbookCard__subtitle[data-v-67c25f40] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 36px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 42px !important;
    margin-top: 0 !important;
    margin-top: 24px;
    padding: 0 0 30px 40px
}

@media only screen and (min-width:600px) {
    .LogbookCard__subtitle[data-v-67c25f40] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 48px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 56px !important;
        margin-top: 64px
    }
}

.LogbookCard__image[data-v-67c25f40] {
    margin-left: 12px;
    margin-right: 24px;
    min-width: 64px
}