.v-application .ActivitiesTable .ActivitiesTable__challenge-area-chip {
    border-radius: 100px;
    color: #000;
    display: inline-block;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: 0 !important;
    line-height: 14px !important;
    margin-top: 0;
    padding: 9px 16px;
    width: auto
}

.v-application .ActivitiesTable .text-start {
    max-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.v-application .ActivitiesTable .v-data-table__mobile-row .v-data-table__mobile-row__cell {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media only screen and (min-width:480px) {
    .v-application .ActivitiesTable .v-data-table__mobile-row .v-data-table__mobile-row__cell {
        max-width: 280px
    }
}

.v-application .ActivitiesTable .is-creative {
    background-color: var(--color-creative-challenge-red);
    color: #fff
}

.v-application .ActivitiesTable .is-community {
    background-color: var(--color-community-challenge-blue);
    color: #fff
}

.v-application .ActivitiesTable .is-outdoors {
    background-color: var(--color-outdoors-challenge-green);
    color: #fff
}

.v-application .ActivitiesTable .is-personal-growth {
    background-color: var(--color-personal-growth-challenge-yellow);
    color: #000
}

.v-application .ActivitiesTable .v-select__selections,
.v-application .ActivitiesTable td {
    text-transform: capitalize
}

.v-application .ActivitiesTable .v-card__title {
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

@media only screen and (min-width:600px) {
    .v-application .ActivitiesTable .v-card__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.v-application .ActivitiesTable .v-card__title .v-text-field {
    height: 74px;
    padding-right: 1rem;
    width: 50%
}

.v-application .ActivitiesTable .v-card__title .ActivitiesTable__filter {
    margin-top: 0;
    padding-right: 1rem;
    width: 50%
}

@media only screen and (min-width:600px) {
    .v-application .ActivitiesTable .v-card__title .ActivitiesTable__filter {
        margin: 0;
        width: 20%
    }
    .v-application .ActivitiesTable .v-card__title .v-text-field {
        width: 40%
    }
    .v-application .ActivitiesTable .v-card__title .ActivitiesTable__filter:nth-child(2n) {
        padding-right: 1rem
    }
    .v-application .ActivitiesTable .v-card__title .ActivitiesTable__filter:last-child {
        padding-right: 0
    }
}

.v-application .ActivitiesTable .ActivitiesTable__actions {
    width: -moz-max-content;
    width: max-content
}

.v-application .ActivitiesTable .ActivitiesTable__actions :first-child {
    padding-left: 0
}

.v-application .ActivitiesTable .ActivitiesTable__actions .v-btn span.v-btn__content {
    padding: 0
}

.v-application .ActivitiesTable .ActivitiesTable__actions .v-btn span.v-btn__content .v-image {
    height: 1.5rem;
    margin-left: 0;
    margin-right: .5rem;
    width: 1.5rem
}

@media only screen and (max-width:599px) {
    .v-application .ActivitiesTable .ActivitiesTable__actions .v-btn span.v-btn__content {
        width: .5rem
    }
    .v-application .ActivitiesTable .ActivitiesTable__actions .v-btn span.v-btn__content .v-image {
        margin-left: 1.5rem
    }
    .v-application .ActivitiesTable .ActivitiesTable__actions .v-btn span.v-btn__content span {
        display: none
    }
}

.v-application .ActivitiesTable__filter {
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 490px
}

.v-application .ActivitiesTable__action-btn:last-child {
    margin-right: -12px
}

@media only screen and (min-width:600px) {
    .v-application .ActivitiesTable__action-btn:last-child {
        margin-right: 0
    }
}

.Accordion .Accordion__panel button {
    margin-bottom: 0;
    margin-top: 0
}

.Accordion .v-expansion-panel-header {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px
}

.Accordion .v-expansion-panel-header:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        padding: 24px 40px
    }
}

.Accordion .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-content__wrap {
        padding: 0 40px 24px
    }
}

.Accordion .v-expansion-panel {
    border-radius: 16px !important
}

.Accordion .v-expansion-panel:before {
    box-shadow: none !important
}

.Accordion .v-expansion-panel-header__icon {
    padding-left: 12px
}

.Accordion--theme-alt .v-expansion-panel-header {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0;
    padding: 16px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important;
        padding: 24px
    }
}

.Accordion--theme-alt .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-content__wrap {
        padding: 0 24px 24px
    }
}

[data-v-70f3c971] {
    color: var(--color-medium-charcoal)
}

.ProgrammingSidebarContent__title[data-v-70f3c971] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.ProgrammingSidebarContent__title[data-v-70f3c971]:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .ProgrammingSidebarContent__title[data-v-70f3c971] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.ProgrammingSidebarContent__link[data-v-70f3c971] {
    color: var(--color-base-blue);
    display: flex;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 24px;
    text-transform: uppercase
}

.ProgrammingSidebar__default {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    padding: 40px;
    transition: all .2s ease
}

.ActivityList__title[data-v-08cdebe4] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 16px;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .ActivityList__title[data-v-08cdebe4] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.ActivityListItem[data-v-08cdebe4] {
    align-items: center;
    border-bottom: 1px solid var(--color-light-charcoal);
    border-left: 1px solid var(--color-light-charcoal);
    border-radius: 0;
    border-right: 1px solid var(--color-light-charcoal);
    display: flex;
    padding: 7px 12px 7px 16px
}

@media only screen and (min-width:600px) {
    .ActivityListItem[data-v-08cdebe4] {
        padding: 7px 0 7px 24px
    }
}

.ActivityListItem[data-v-08cdebe4]:first-of-type {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid var(--color-light-charcoal)
}

.ActivityListItem[data-v-08cdebe4]:last-of-type {
    border-radius: 0 0 4px 4px
}

.ActivityListItem[data-v-08cdebe4]:first-of-type:last-of-type {
    border: 1px solid var(--color-light-charcoal);
    border-radius: 4px
}

.row[data-v-08cdebe4] {
    margin: 0
}

.col[data-v-08cdebe4] {
    padding: 0
}

.ActivityListItem__title-col[data-v-08cdebe4] {
    margin-right: 16px;
    width: 0
}

@media only screen and (min-width:600px) {
    .ActivityListItem__title-col[data-v-08cdebe4] {
        display: flex;
        margin-right: 0
    }
}

.ActivityListItem__action-col[data-v-08cdebe4] {
    margin-top: 16px;
    min-width: 80px
}

@media only screen and (min-width:600px) {
    .ActivityListItem__action-col[data-v-08cdebe4] {
        margin-top: 0
    }
}

.ActivityListItem__status[data-v-08cdebe4],
.ActivityListItem__title[data-v-08cdebe4] {
    color: var(--color-dark-charcoal);
    font-style: normal;
    font-weight: 400
}

.ActivityListItem__status[data-v-08cdebe4] {
    font-size: 12px;
    height: 22px
}

.ActivityListItem__title[data-v-08cdebe4] {
    font-size: 16px;
    letter-spacing: -.005em;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ActivityListItem__action[data-v-08cdebe4] {
    float: right;
    height: -moz-min-content;
    height: min-content;
    margin-left: 24px;
    margin-right: -20px !important
}

@media only screen and (min-width:600px) {
    .ActivityListItem__action[data-v-08cdebe4] {
        margin-right: 0 !important;
        padding: 0
    }
}

.ActivityListItem__action[data-v-08cdebe4]:last-child,
.ActivityListItem__action[data-v-08cdebe4]:not(:first-child) {
    margin-left: 8px
}

.ActivityListItem__action .v-btn--text[data-v-08cdebe4] {
    margin-bottom: 0;
    padding: 0
}

.ActivityListItem__action-icon[data-v-08cdebe4] {
    height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    width: 16px
}

@media only screen and (min-width:600px) {
    .ActivityListItem__action-icon[data-v-08cdebe4] {
        margin-top: 0
    }
}

.ActivityListItem__action[data-v-08cdebe4]:first-of-type {
    margin-right: 0
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-1.v-input--checkbox .v-icon {
    caret-color: #00664a !important;
    color: #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-2.v-input--checkbox .v-icon {
    caret-color: #099270 !important;
    color: #099270 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #099270 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-3.v-input--checkbox .v-icon {
    caret-color: #00664a !important;
    color: #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-4.v-input--checkbox .v-icon {
    caret-color: #00492f !important;
    color: #00492f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00492f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-5.v-input--checkbox .v-icon {
    caret-color: #00664a !important;
    color: #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00664a !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-6.v-input--checkbox .v-icon {
    caret-color: #00492f !important;
    color: #00492f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-group-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00492f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-1.v-input--checkbox .v-icon {
    caret-color: #b65518 !important;
    color: #b65518 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #b65518 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-2.v-input--checkbox .v-icon {
    caret-color: #8d4b22 !important;
    color: #8d4b22 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #8d4b22 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-3.v-input--checkbox .v-icon {
    caret-color: #744121 !important;
    color: #744121 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #744121 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-4.v-input--checkbox .v-icon {
    caret-color: #5f3720 !important;
    color: #5f3720 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #5f3720 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-5.v-input--checkbox .v-icon {
    caret-color: #4e2f1e !important;
    color: #4e2f1e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #4e2f1e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-6.v-input--checkbox .v-icon {
    caret-color: #381e0f !important;
    color: #381e0f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-joey-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #381e0f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-1.v-input--checkbox .v-icon {
    caret-color: #ffc82e !important;
    color: #ffc82e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #ffc82e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-2.v-input--checkbox .v-icon {
    caret-color: #f1cf80 !important;
    color: #f1cf80 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #f1cf80 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-3.v-input--checkbox .v-icon {
    caret-color: #f08f00 !important;
    color: #f08f00 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #f08f00 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-4.v-input--checkbox .v-icon {
    caret-color: #e16e01 !important;
    color: #e16e01 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #e16e01 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-5.v-input--checkbox .v-icon {
    caret-color: #e87d00 !important;
    color: #e87d00 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #e87d00 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-6.v-input--checkbox .v-icon {
    caret-color: #e16e01 !important;
    color: #e16e01 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-cub-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #e16e01 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-1.v-input--checkbox .v-icon {
    caret-color: #00ae42 !important;
    color: #00ae42 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00ae42 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-2.v-input--checkbox .v-icon {
    caret-color: #008c2d !important;
    color: #008c2d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #008c2d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-3.v-input--checkbox .v-icon {
    caret-color: #007b23 !important;
    color: #007b23 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #007b23 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-4.v-input--checkbox .v-icon {
    caret-color: #005d13 !important;
    color: #005d13 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #005d13 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-5.v-input--checkbox .v-icon {
    caret-color: #13481d !important;
    color: #13481d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #13481d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-6.v-input--checkbox .v-icon {
    caret-color: #0d3c16 !important;
    color: #0d3c16 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-scout-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #0d3c16 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-1.v-input--checkbox .v-icon {
    caret-color: #9e1b32 !important;
    color: #9e1b32 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #9e1b32 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-2.v-input--checkbox .v-icon {
    caret-color: #e4637b !important;
    color: #e4637b !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #e4637b !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-3.v-input--checkbox .v-icon {
    caret-color: #db2f4f !important;
    color: #db2f4f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #db2f4f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-4.v-input--checkbox .v-icon {
    caret-color: #920b26 !important;
    color: #920b26 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #920b26 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-5.v-input--checkbox .v-icon {
    caret-color: #65212d !important;
    color: #65212d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #65212d !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-6.v-input--checkbox .v-icon {
    caret-color: #531f28 !important;
    color: #531f28 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-venturer-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #531f28 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-1.v-input--checkbox .v-icon {
    caret-color: #dc291e !important;
    color: #dc291e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #dc291e !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-2.v-input--checkbox .v-icon {
    caret-color: #f65938 !important;
    color: #f65938 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #f65938 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-3.v-input--checkbox .v-icon {
    caret-color: #b40002 !important;
    color: #b40002 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #b40002 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-4.v-input--checkbox .v-icon {
    caret-color: #81000f !important;
    color: #81000f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #81000f !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-5.v-input--checkbox .v-icon {
    caret-color: #710005 !important;
    color: #710005 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #710005 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-6.v-input--checkbox .v-icon {
    caret-color: #520004 !important;
    color: #520004 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-unit-rover-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #520004 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-1.v-input--checkbox .v-icon {
    caret-color: #00a3bf !important;
    color: #00a3bf !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-1.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #00a3bf !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-2.v-input--checkbox .v-icon {
    caret-color: #8dccdd !important;
    color: #8dccdd !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-2.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #8dccdd !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-3.v-input--checkbox .v-icon {
    caret-color: #2c8ba1 !important;
    color: #2c8ba1 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-3.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #2c8ba1 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-4.v-input--checkbox .v-icon {
    caret-color: #005264 !important;
    color: #005264 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-4.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #005264 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-5.v-input--checkbox .v-icon {
    caret-color: #0a3b46 !important;
    color: #0a3b46 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-5.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #0a3b46 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-6.v-input--checkbox .v-icon {
    caret-color: #052b33 !important;
    color: #052b33 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-patrol-6.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #052b33 !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-project-patrol.v-input--checkbox .v-icon {
    caret-color: #1070ca !important;
    color: #1070ca !important
}

.v-application.theme--light .CalendarToggle__checkbox--color-event-project-patrol.v-input--checkbox .v-input--selection-controls__input {
    border: 1px solid #1070ca !important
}

.CalendarToggle {
    height: 95%;
    overflow: auto;
    padding-bottom: 20px
}

@media only screen and (min-width:960px) {
    .CalendarToggle {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(229, 233, 236, .4);
        height: auto;
        margin-right: 30px;
        padding: 24px
    }
}

.CalendarToggle .CalendarToggle__checkbox.v-input--checkbox .v-label {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0
}

.CalendarToggle .CalendarToggle__checkbox.v-input--checkbox .v-input--selection-controls__input {
    margin-right: 16px
}

.CalendarToggle__title {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin: 0 0 24px
}

.CalendarToggle__expansion-panel-header {
    height: 24px
}

.CalendarToggle__expansion-panel-background {
    background-color: var(--color-default-background)
}

@media only screen and (min-width:960px) {
    .CalendarToggle__expansion-panel-background {
        background: #fff
    }
}

.Loading[data-v-f099b51a] {
    text-align: center
}

.SubscriptionModal[data-v-40aee17a] {
    z-index: 999
}

.SubscriptionModal__title[data-v-40aee17a] {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.SubscriptionModal__title[data-v-40aee17a]:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .SubscriptionModal__title[data-v-40aee17a] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.SubscriptionModal__copy-button[data-v-40aee17a] {
    align-items: center;
    background-color: var(--color-light-charcoal);
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.SubscriptionModal__copy-button[data-v-40aee17a]:hover {
    background-color: #d3d6d9
}

.Programming[data-v-022e1a9d] {
    margin-bottom: 55px
}

@media only screen and (min-width:600px) {
    .Programming[data-v-022e1a9d] {
        margin-bottom: 80px
    }
}

.Programming__nav[data-v-022e1a9d] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px
}

@media only screen and (min-width:600px) {
    .Programming__nav[data-v-022e1a9d] {
        margin-bottom: 48px
    }
}

.Programming__tabs[data-v-022e1a9d] {
    width: 100%
}

@media only screen and (min-width:960px) {
    .Programming__tabs[data-v-022e1a9d] {
        width: 80%
    }
    .Programming--no-cal-margin[data-v-022e1a9d] {
        margin-top: 72px
    }
}

.Programming__buttons[data-v-022e1a9d] {
    display: flex;
    justify-content: flex-end
}

.Programming__calendar-nav-button[data-v-022e1a9d] {
    margin: 0;
    min-width: auto !important
}

@media only screen and (min-width:960px) {
    .Programming__calendar-nav-button[data-v-022e1a9d] {
        margin: 0 8px;
        min-width: inherit !important
    }
}

.Programming__month-title[data-v-022e1a9d] {
    font-size: 18px
}

.Programming__calendar-toggle[data-v-022e1a9d] {
    margin-bottom: 48px;
    margin-top: 62px;
    max-width: 300px
}

.Programming__calendar-button[data-v-022e1a9d] {
    align-items: center;
    background: #fff;
    border: 1px solid var(--color-light-charcoal) !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    height: 40px;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0;
    padding: 0 16px !important;
    text-transform: uppercase;
    white-space: nowrap
}

.Programming__calendar-toolbar[data-v-022e1a9d] {
    background-color: transparent !important
}

.Programming__calendar-toolbar[data-v-022e1a9d] .v-toolbar__content {
    padding: 0 0 4px
}

.Programming__calendar-toggle-icon[data-v-022e1a9d] {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 40px;
    min-width: 40px
}

.Programming__calendar-toggle-icon--on[data-v-022e1a9d] {
    background: var(--color-light-charcoal)
}

.Programming__calendar-image[data-v-022e1a9d] {
    display: none
}

@media only screen and (min-width:600px) {
    .Programming__calendar-image[data-v-022e1a9d] {
        display: block;
        justify-content: center;
        margin: 0 auto;
        width: 75%
    }
}

@media only screen and (min-width:1264px) {
    .Programming__calendar-image[data-v-022e1a9d] {
        margin: 160px auto 0;
        width: 90%
    }
}

.Programming__calendar[data-v-022e1a9d] {
    width: 100%
}

.PageHeader[data-v-5317aa88] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px
}

@media only screen and (min-width:600px) {
    .PageHeader[data-v-5317aa88] {
        flex-direction: row
    }
}

.PageHeader__container[data-v-5317aa88] {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 12px !important
}

.PageHeader__ap[data-v-5317aa88] {
    color: var(--color-medium-charcoal);
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0 0 8px;
    text-transform: uppercase
}

.PageHeader__ap[data-v-5317aa88],
.PageHeader__title[data-v-5317aa88] {
    font-family: NunitoSans-light, arial, sans-serif !important
}

.PageHeader__title[data-v-5317aa88] {
    color: var(--color-slate);
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0 !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PageHeader__title[data-v-5317aa88] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.PageHeader__subtitle[data-v-5317aa88] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .PageHeader__subtitle[data-v-5317aa88] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.PageHeader__infobox-container--large[data-v-5317aa88] {
    margin-left: 48px;
    width: 33%
}

.PageHeader__infobox-container--small[data-v-5317aa88] {
    margin-top: 24px;
    width: 100%
}

.PopupDrawer[data-v-6ff45cbe] {
    background-color: var(--color-default-background);
    padding: 12px 12px 0 24px
}

.PopupDrawer[data-v-6ff45cbe] .v-navigation-drawer__content {
    overflow-y: hidden
}

@media only screen and (min-width:600px) {
    .PopupDrawer--large-padding[data-v-6ff45cbe] {
        padding: 24px 24px 0 48px
    }
}

.PopupDrawer__title[data-v-6ff45cbe] {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PopupDrawer__title[data-v-6ff45cbe] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.PopupDrawer__close[data-v-6ff45cbe] {
    cursor: pointer;
    max-width: 24px;
    vertical-align: middle;
    width: 24px
}

.ProgressBar__dialog_card[data-v-881def16] {
    height: 128px
}

.ProgressBar__text[data-v-881def16] {
    color: var(--color-dark-charcoal);
    margin-bottom: 24px
}

.ProgressBar__progress_percentage[data-v-881def16] {
    color: var(--color-dark-charcoal);
    margin-top: 8px;
    text-align: right
}