.Accordion .Accordion__panel button {
    margin-bottom: 0;
    margin-top: 0
}

.Accordion .v-expansion-panel-header {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px
}

.Accordion .v-expansion-panel-header:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        padding: 24px 40px
    }
}

.Accordion .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-content__wrap {
        padding: 0 40px 24px
    }
}

.Accordion .v-expansion-panel {
    border-radius: 16px !important
}

.Accordion .v-expansion-panel:before {
    box-shadow: none !important
}

.Accordion .v-expansion-panel-header__icon {
    padding-left: 12px
}

.Accordion--theme-alt .v-expansion-panel-header {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0;
    padding: 16px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important;
        padding: 24px
    }
}

.Accordion--theme-alt .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-content__wrap {
        padding: 0 24px 24px
    }
}

.ActionCard {
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    margin-bottom: 16px;
    padding: 24px;
    transition: all .2s ease
}

.ActionCard .v-card__text {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 0;
    padding: 0
}

@media only screen and (min-width:600px) {
    .ActionCard .v-card__text {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.ActionCard__col {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%
}

@media only screen and (min-width:600px) {
    .ActionCard__col {
        flex-direction: row;
        justify-content: space-between
    }
}

.ActionCard__title {
    margin-bottom: 24px;
    text-align: center
}

@media only screen and (min-width:600px) {
    .ActionCard__title {
        margin-bottom: 0;
        margin-right: 24px;
        text-align: left
    }
}

.BaseOverviewSubDescription {
    border-radius: 16px !important;
    padding: 24px
}

@media only screen and (min-width:600px) {
    .BaseOverviewSubDescription {
        margin-left: 0
    }
}

@media only screen and (min-width:960px) {
    .BaseOverviewSubDescription {
        box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
        margin-bottom: 55px;
        margin-left: 0;
        padding: 40px;
        transition: all .2s ease
    }
}

.BaseOverviewSubDescription p {
    margin: 0 0 24px
}

.BaseOverviewSubDescription h3,
.BaseOverviewSubDescription h4 {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin: 0 0 24px
}

.BaseOverviewSubDescription h3:first-child,
.BaseOverviewSubDescription h4:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .BaseOverviewSubDescription h3,
    .BaseOverviewSubDescription h4 {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.BaseOverviewSubDescription .v-card__text {
    color: var(--color-medium-charcoal) !important;
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding: 0
}

.BaseOverviewSubDescription__image {
    max-width: 100%
}

.InfoDialogCard {
    align-items: center;
    background-color: #fff;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    box-sizing: border-box;
    display: flex;
    padding: 20px 24px;
    transition: all .2s ease;
    width: 100%
}

.InfoDialogCard__title {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .InfoDialogCard__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.InfoDialogCard__image {
    display: flex;
    margin: 40px 0;
    max-width: 100%
}

.InfoDialogCard__info-icon {
    cursor: pointer
}

.v-application .InfoDialogCard__link {
    color: var(--color-base-blue);
    cursor: pointer;
    display: flex;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 16px 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: normal;
    width: -moz-fit-content;
    width: fit-content
}

.v-application .InfoDialogCard__link:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.Card {
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    padding: 24px 16px;
    transition: all .2s ease
}

@media only screen and (min-width:600px) {
    .Card {
        margin-left: 0
    }
}

@media only screen and (min-width:960px) {
    .Card {
        margin-left: 0;
        padding: 40px
    }
}

.Card .v-card__text {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding: 0
}

.Card__col {
    width: 100%
}

.MilestonesMiniReviewDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-d39c4e0a] {
    margin-bottom: 0
}

.MilestonesMiniReviewDialog__card.v-card .MilestonesMiniReviewDialog__saveBtn[data-v-d39c4e0a] {
    color: var(--color-base-blue)
}

.MilestonesMiniReviewDialog__card.v-card .MilestonesMiniReviewDialog__saveBtn.inactive[data-v-d39c4e0a] {
    opacity: .5
}

.MilestonesMiniReviewDialog__card.v-card .v-btn__content[data-v-d39c4e0a] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.MilestonesMiniReview[data-v-13f5aa37] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    min-height: 24px
}

.MilestonesMiniReview[data-v-13f5aa37]:first-child {
    margin-top: 24px
}

.MilestonesMiniReview--disabled[data-v-13f5aa37] {
    opacity: .5;
    pointer-events: none
}

.MilestonesMiniReview__title-container[data-v-13f5aa37] {
    display: flex;
    justify-content: flex-start
}

.MilestonesMiniReview__action-container[data-v-13f5aa37] {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.MilestonesMiniReview__title[data-v-13f5aa37] {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 24px 0 0
}

.MilestonesMiniReview__title-status[data-v-13f5aa37] {
    margin-right: 8px
}

.MilestonesMiniReview__status-chip.v-chip[data-v-13f5aa37]:not(.v-chip--active) {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-size: 12px !important;
    font-weight: inherit;
    height: 22px;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 !important;
    margin-top: 16px;
    padding: 2px 8px
}

.MilestonesMiniReview__icon[data-v-13f5aa37] {
    margin-right: 8px;
    width: 24px
}

.MilestonesMiniReview__challenge-area[data-v-13f5aa37] {
    align-items: center;
    color: var(--color-neutral-charcoal);
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 6px 0 24px
}

.MilestonesMiniReview__challenge-area-label[data-v-13f5aa37] {
    display: none
}

@media only screen and (min-width:1264px) {
    .MilestonesMiniReview__challenge-area-label[data-v-13f5aa37] {
        display: inline;
        width: 170px
    }
}

.MilestonesMiniReview__action-button[data-v-13f5aa37] {
    display: flex;
    justify-content: flex-end;
    padding-right: 0
}

@media only screen and (min-width:600px) {
    .MilestonesMiniReview__action-button[data-v-13f5aa37] {
        margin-left: 12px;
        width: 100px
    }
}

.v-progress-linear__determinate[data-v-3cfe9620] {
    height: 8px !important
}

.MilestonesParticipates__pal-container[data-v-3cfe9620] {
    margin-top: 24px
}

.MilestonesParticipates__challenge-title[data-v-3cfe9620] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    letter-spacing: inherit !important;
    line-height: 24px !important;
    margin: 0
}

.MilestonesParticipates__pal-icon[data-v-3cfe9620] {
    margin-right: 16px;
    width: 24px
}

.PageHeader[data-v-5317aa88] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px
}

@media only screen and (min-width:600px) {
    .PageHeader[data-v-5317aa88] {
        flex-direction: row
    }
}

.PageHeader__container[data-v-5317aa88] {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 12px !important
}

.PageHeader__ap[data-v-5317aa88] {
    color: var(--color-medium-charcoal);
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0 0 8px;
    text-transform: uppercase
}

.PageHeader__ap[data-v-5317aa88],
.PageHeader__title[data-v-5317aa88] {
    font-family: NunitoSans-light, arial, sans-serif !important
}

.PageHeader__title[data-v-5317aa88] {
    color: var(--color-slate);
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0 !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PageHeader__title[data-v-5317aa88] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.PageHeader__subtitle[data-v-5317aa88] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .PageHeader__subtitle[data-v-5317aa88] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.PageHeader__infobox-container--large[data-v-5317aa88] {
    margin-left: 48px;
    width: 33%
}

.PageHeader__infobox-container--small[data-v-5317aa88] {
    margin-top: 24px;
    width: 100%
}

.Milestones {
    margin-bottom: 35px
}

@media only screen and (min-width:600px) {
    .Milestones {
        margin-bottom: 55px
    }
    .Milestones__page-header-container {
        border: none;
        border-bottom: 1px solid var(--color-light-charcoal);
        margin-bottom: 24px
    }
}

@media only screen and (min-width:960px) {
    .Milestones__page-header-container {
        border: none;
        margin-bottom: 48px
    }
}

.Milestones__carousel-title {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin: 0 0 24px
}

@media only screen and (min-width:600px) {
    .Milestones__carousel-title {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.Milestones__carousel-subtitle {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0 0 4px;
    text-transform: uppercase
}

.Milestones__carousel-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Milestones__carousel-item-title {
    color: var(--color-base-blue);
    cursor: pointer;
    display: none;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0;
    position: absolute;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    top: 46%;
    transition: all .3s ease
}

.Milestones__carousel-item-title:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

@media only screen and (min-width:600px) {
    .Milestones__carousel-item-title {
        display: block
    }
}

.Milestones__carousel-image-container {
    position: relative;
    width: 170px
}

.Milestones__carousel-image {
    width: 170px
}

.Milestones__carousel-image--awarded {
    background: url(/images/awarded-trophy.svg) no-repeat;
    background-size: cover;
    height: 48px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 48px
}

.Milestones__carousel-item-title--left {
    left: 60px
}

.Milestones__carousel-item-title--right {
    right: 60px
}

.Milestones__carousel .v-window__next,
.Milestones__carousel .v-window__prev {
    background: none
}

.Milestones__carousel .v-window__next .v-btn .v-icon,
.Milestones__carousel .v-window__prev .v-btn .v-icon {
    color: var(--color-base-blue)
}

.MilestonesCard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px
}

@media only screen and (min-width:600px) {
    .MilestonesCard__container {
        align-items: center;
        flex-direction: row
    }
}

.MilestonesCard__title {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .MilestonesCard__title {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.MilestonesCard__progress-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media only screen and (min-width:600px) {
    .MilestonesCard__progress-container {
        align-items: center;
        flex-direction: row
    }
}

.MilestonesCard__mini-review-container {
    border-top: 1px solid var(--color-light-charcoal);
    margin-top: 12px
}

@media only screen and (min-width:600px) {
    .MilestonesCard__mini-review-container {
        margin-top: 24px
    }
}

.MilestonesCard__progress-meter {
    margin-bottom: 8px;
    width: 100%
}

@media only screen and (min-width:600px) {
    .MilestonesCard__progress-meter {
        margin-bottom: 0;
        margin-right: 24px;
        min-width: 240px;
        width: 31.1688311688%
    }
}

.MilestonesCard__total {
    color: var(--color-medium-charcoal);
    font-size: 16px !important;
    font-weight: inherit;
    line-height: 24px !important;
    margin: 0;
    min-width: 52px;
    text-align: right
}

.MilestonesCard__subtitle,
.MilestonesCard__total {
    font-family: NunitoSans-regular, arial, sans-serif !important;
    letter-spacing: -.01em !important
}

.MilestonesCard__subtitle {
    color: var(--color-medium-charcoal);
    font-size: 14px !important;
    font-weight: inherit;
    line-height: 21px !important;
    margin-bottom: 24px;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .MilestonesCard__subtitle {
        margin-bottom: 0
    }
}

.Milestones__review-subtitle {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 24px 0;
    text-align: center
}