.v-carousel {
    overflow: hidden;
    position: relative;
    width: 100%
}

.v-carousel__controls {
    align-items: center;
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    width: 100%;
    z-index: 1
}

.v-carousel__controls>.v-item-group {
    flex: 0 1 auto
}

.v-carousel__controls__item {
    margin: 0 8px
}

.v-carousel__controls__item .v-icon {
    opacity: .5
}

.v-carousel__controls__item--active .v-icon {
    opacity: 1;
    vertical-align: middle
}

.v-carousel__controls__item:hover {
    background: none
}

.v-carousel__controls__item:hover .v-icon {
    opacity: .8
}

.v-carousel__progress {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0
}

.v-carousel .v-window-item {
    display: block;
    height: inherit;
    -webkit-text-decoration: none;
    text-decoration: none
}

.v-carousel--hide-delimiter-background .v-carousel__controls {
    background: transparent
}

.v-carousel--vertical-delimiters .v-carousel__controls {
    height: 100% !important;
    width: 50px
}

.v-window {
    overflow: hidden
}

.v-window__container {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window__container--is-active {
    overflow: hidden
}

.v-window__next,
.v-window__prev {
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    margin: 0 16px;
    position: absolute;
    top: calc(50% - 20px);
    z-index: 1
}

.v-window__next .v-btn:hover,
.v-window__prev .v-btn:hover {
    background: none
}

.v-application--is-ltr .v-window__prev {
    left: 0
}

.v-application--is-ltr .v-window__next,
.v-application--is-rtl .v-window__prev {
    right: 0
}

.v-application--is-rtl .v-window__next {
    left: 0
}

.v-window--show-arrows-on-hover {
    overflow: hidden
}

.v-window--show-arrows-on-hover .v-window__next,
.v-window--show-arrows-on-hover .v-window__prev {
    transition: transform .2s cubic-bezier(.25, .8, .5, 1)
}

.v-application--is-ltr .v-window--show-arrows-on-hover .v-window__prev {
    transform: translateX(-200%)
}

.v-application--is-ltr .v-window--show-arrows-on-hover .v-window__next,
.v-application--is-rtl .v-window--show-arrows-on-hover .v-window__prev {
    transform: translateX(200%)
}

.v-application--is-rtl .v-window--show-arrows-on-hover .v-window__next {
    transform: translateX(-200%)
}

.v-window--show-arrows-on-hover:hover .v-window__next,
.v-window--show-arrows-on-hover:hover .v-window__prev {
    transform: translateX(0)
}

.v-window-x-reverse-transition-enter-active,
.v-window-x-reverse-transition-leave-active,
.v-window-x-transition-enter-active,
.v-window-x-transition-leave-active,
.v-window-y-reverse-transition-enter-active,
.v-window-y-reverse-transition-leave-active,
.v-window-y-transition-enter-active,
.v-window-y-transition-leave-active {
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window-x-reverse-transition-leave,
.v-window-x-reverse-transition-leave-to,
.v-window-x-transition-leave,
.v-window-x-transition-leave-to,
.v-window-y-reverse-transition-leave,
.v-window-y-reverse-transition-leave-to,
.v-window-y-transition-leave,
.v-window-y-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%
}

.v-window-x-transition-enter {
    transform: translateX(100%)
}

.v-window-x-reverse-transition-enter,
.v-window-x-transition-leave-to {
    transform: translateX(-100%)
}

.v-window-x-reverse-transition-leave-to {
    transform: translateX(100%)
}

.v-window-y-transition-enter {
    transform: translateY(100%)
}

.v-window-y-reverse-transition-enter,
.v-window-y-transition-leave-to {
    transform: translateY(-100%)
}

.v-window-y-reverse-transition-leave-to {
    transform: translateY(100%)
}

.BasecampYouth[data-v-2916eae8] {
    align-items: center;
    background-color: var(--color-basecamp);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -24px !important
}

@media only screen and (min-width:600px) {
    .BasecampYouth[data-v-2916eae8] {
        margin-top: -48px !important;
        margin: 0
    }
}

.BasecampYouth__background[data-v-2916eae8] {
    background-size: cover;
    height: 1170px;
    min-width: 1170px;
    width: 1170px
}

.BasecampYouth__select[data-v-2916eae8] {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    width: 1170px
}

.BasecampYouth__select .v-input[data-v-2916eae8] {
    font-size: 20px;
    max-width: 200px !important
}

.BasecampYouth__button[data-v-2916eae8] {
    background-color: var(--color-light-charcoal);
    border-radius: 20px;
    color: var(--color-dark-charcoal);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .04em;
    margin-bottom: 8px;
    padding: 10px 24px 7px;
    text-transform: uppercase;
    transition: all .2s ease
}

.BasecampYouth__button[data-v-2916eae8]:hover {
    background-color: var(--color-scouts-medium-blue);
    color: var(--color-white)
}

.BasecampYouth__button[data-v-2916eae8]:active {
    background-color: var(--color-australian-nav-blue);
    color: var(--color-white)
}

.BasecampYouth__mobile-select[data-v-2916eae8] {
    align-items: center;
    display: flex;
    font-size: 20px;
    min-width: 300px;
    width: 100%
}

.BasecampYouth__mobile-select .v-input[data-v-2916eae8] {
    font-size: 20px
}

.BasecampYouth .BasecampYouth__mobile-select-sections[data-v-2916eae8] {
    margin: 0
}

.BasecampYouth__mobile-title[data-v-2916eae8] {
    color: inherit;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .BasecampYouth__mobile-title[data-v-2916eae8] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BasecampYouth__mobile-carousel-image[data-v-2916eae8] {
    max-width: 80%
}

.BasecampYouth__intro-buttons[data-v-2916eae8] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: flex-end;
    width: 435px
}

.BasecampYouth__intro-buttons.cub[data-v-2916eae8],
.BasecampYouth__intro-buttons.scout[data-v-2916eae8] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 463px;
    justify-content: flex-end;
    width: 435px
}

.BasecampYouth__intro-buttons.venturer[data-v-2916eae8] {
    height: 480px;
    width: 364px
}

.BasecampYouth__intro-buttons.rover[data-v-2916eae8],
.BasecampYouth__intro-buttons.venturer[data-v-2916eae8] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.BasecampYouth__intro-buttons.rover[data-v-2916eae8] {
    height: 455px;
    width: 367px
}

.BasecampYouth__patrol[data-v-2916eae8] {
    width: 280px
}

.BasecampYouth__patrol.cub[data-v-2916eae8],
.BasecampYouth__patrol[data-v-2916eae8] {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 480px;
    justify-content: flex-end
}

.BasecampYouth__patrol.cub[data-v-2916eae8] {
    width: 250px
}

.BasecampYouth__patrol.scout[data-v-2916eae8] {
    width: 170px
}

.BasecampYouth__patrol.rover[data-v-2916eae8],
.BasecampYouth__patrol.scout[data-v-2916eae8],
.BasecampYouth__patrol.venturer[data-v-2916eae8] {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 480px;
    justify-content: flex-end
}

.BasecampYouth__patrol.rover[data-v-2916eae8],
.BasecampYouth__patrol.venturer[data-v-2916eae8] {
    width: 305px
}

.BasecampYouth__special-interest-areas[data-v-2916eae8] {
    height: 417px
}

.BasecampYouth__special-interest-areas.cub[data-v-2916eae8],
.BasecampYouth__special-interest-areas[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 650px
}

.BasecampYouth__special-interest-areas.cub[data-v-2916eae8] {
    height: 403px
}

.BasecampYouth__special-interest-areas.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 396px;
    justify-content: flex-end;
    width: 670px
}

.BasecampYouth__special-interest-areas.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 417px;
    justify-content: flex-end;
    width: 720px
}

.BasecampYouth__special-interest-areas.rover[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 398px;
    justify-content: flex-end;
    width: 720px
}

.BasecampYouth__personal-development[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: flex-end;
    width: 1170px
}

.BasecampYouth__personal-development.cub[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 340px;
    justify-content: flex-end;
    width: 1120px
}

.BasecampYouth__personal-development.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 126px;
    justify-content: flex-end;
    width: 1176px
}

.BasecampYouth__personal-development.venturer[data-v-2916eae8] {
    height: 90px
}

.BasecampYouth__personal-development.rover[data-v-2916eae8],
.BasecampYouth__personal-development.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1140px
}

.BasecampYouth__personal-development.rover[data-v-2916eae8] {
    height: 100px
}

.BasecampYouth__peak-award[data-v-2916eae8] {
    width: 690px
}

.BasecampYouth__peak-award.cub[data-v-2916eae8],
.BasecampYouth__peak-award[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: flex-end
}

.BasecampYouth__peak-award.cub[data-v-2916eae8] {
    margin-top: -265px;
    width: 640px
}

.BasecampYouth__peak-award.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: flex-end;
    width: 690px
}

.BasecampYouth__peak-award.rover[data-v-2916eae8],
.BasecampYouth__peak-award.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: flex-end;
    width: 645px
}

.BasecampYouth__outdoor-adventure-skills[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 410px;
    justify-content: flex-end;
    width: 475px
}

.BasecampYouth__outdoor-adventure-skills.cub[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 252px;
    justify-content: flex-end;
    width: 375px
}

.BasecampYouth__outdoor-adventure-skills.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 450px;
    justify-content: flex-end;
    width: 375px
}

.BasecampYouth__outdoor-adventure-skills.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 480px;
    justify-content: flex-end;
    width: 340px
}

.BasecampYouth__outdoor-adventure-skills.rover[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 450px;
    justify-content: flex-end;
    width: 333px
}

.BasecampYouth__adventurous-journey[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 340px;
    justify-content: center;
    width: 310px
}

.BasecampYouth__adventurous-journey.cub[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 172px;
    justify-content: center;
    width: 390px
}

.BasecampYouth__adventurous-journey.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 360px;
    justify-content: flex-end;
    width: 375px
}

.BasecampYouth__adventurous-journey.venturer[data-v-2916eae8] {
    height: 340px
}

.BasecampYouth__adventurous-journey.rover[data-v-2916eae8],
.BasecampYouth__adventurous-journey.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 360px
}

.BasecampYouth__adventurous-journey.rover[data-v-2916eae8] {
    height: 350px
}

.BasecampYouth__personal-reflection[data-v-2916eae8] {
    height: 510px;
    width: 290px
}

.BasecampYouth__personal-reflection.cub[data-v-2916eae8],
.BasecampYouth__personal-reflection[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.BasecampYouth__personal-reflection.cub[data-v-2916eae8] {
    height: 342px;
    width: 256px
}

.BasecampYouth__personal-reflection.scout[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 490px;
    justify-content: flex-end;
    width: 345px
}

.BasecampYouth__personal-reflection.venturer[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: flex-end;
    width: 337px
}

.BasecampYouth__personal-reflection.rover[data-v-2916eae8] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 520px;
    justify-content: flex-end;
    width: 340px
}