hr[data-v-f0153bc0] {
    border: none;
    border-top: 1px solid var(--color-light-charcoal);
    margin: 1.5rem 0
}

.BaseOverview .BaseOverview__link[data-v-f0153bc0] {
    color: var(--color-base-blue);
    cursor: pointer;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 4px 0 24px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease
}

.BaseOverview .BaseOverview__link[data-v-f0153bc0]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.BaseOverview .BaseOverview__header[data-v-f0153bc0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.BaseOverview .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .BaseOverview .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BaseOverview .BaseOverview__header .BaseOverview__segment[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 0;
    text-transform: uppercase
}

.BaseOverview .BaseOverview__header .BaseOverview__subtitle[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-bottom: 24px;
    margin-top: 16px
}

@media only screen and (min-width:600px) {
    .BaseOverview .BaseOverview__header .BaseOverview__subtitle[data-v-f0153bc0] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        margin-bottom: 0 !important
    }
}

.BaseOverview__main .BaseOverview__body[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-bottom: 0;
    margin-top: 0
}

.BaseOverview__image[data-v-f0153bc0] {
    margin-top: 24px
}

.BaseOverview__overview-image[data-v-f0153bc0] {
    height: auto;
    max-width: 670px;
    width: 100%
}

@media only screen and (max-width:1263px) {
    .BaseOverview__title[data-v-f0153bc0] {
        margin: 12px 0 24px !important
    }
}

@media only screen and (max-width:599px) {
    .BaseOverview__header[data-v-f0153bc0] {
        flex-direction: column
    }
    .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
        margin: 1rem 0 !important
    }
    .BaseOverview__main .BaseOverview__body[data-v-f0153bc0] {
        width: 100%
    }
    .BaseOverview__main a.Nuxt__Link[data-v-f0153bc0] {
        margin: 0 auto !important;
        width: 100%
    }
}

.BaseOverview__header[data-v-f0153bc0] {
    flex-direction: row
}

@media only screen and (min-width:600px) {
    .BaseOverview__sub-description-container[data-v-f0153bc0] {
        align-self: center;
        display: flex
    }
}

.BaseNoAchievements {
    align-items: center;
    display: flex;
    flex-direction: column
}

.BaseNoAchievements__empty {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 48px;
    margin-top: 12px
}

@media only screen and (min-width:600px) {
    .BaseNoAchievements__empty {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important;
        margin-bottom: 100px
    }
}

.BaseSubDescriptionSmall[data-v-ba8d013a] {
    border-radius: .5rem !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    display: flex;
    padding: 1rem;
    transition: all .2s ease;
    width: 100%
}

.BaseSubDescriptionSmall img[data-v-ba8d013a] {
    height: 32px;
    margin: auto .5rem !important;
    -o-object-fit: contain;
    object-fit: contain;
    width: 32px
}

.BaseSubDescriptionSmall .v-card__text[data-v-ba8d013a] {
    align-self: center;
    color: var(--color-medium-charcoal);
    display: flex;
    flex-direction: column;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-left: 1rem;
    margin-top: 0;
    padding: 0 1.5rem 0 0
}

.BaseSubDescriptionSmall .v-card__text .BaseSubDescriptionSmall__link[data-v-ba8d013a] {
    color: var(--color-base-blue);
    cursor: pointer;
    display: inline;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 8px 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: normal;
    width: -moz-fit-content;
    width: fit-content
}

.BaseSubDescriptionSmall .v-card__text .BaseSubDescriptionSmall__link[data-v-ba8d013a]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

@media only screen and (min-width:600px) {
    .BaseSubDescriptionSmall[data-v-ba8d013a] {
        padding: 1.5rem;
        width: 270px
    }
    .BaseSubDescriptionSmall .v-card__text[data-v-ba8d013a] {
        padding: 0
    }
}

.BaseSubDescription[data-v-ce7aa1e4] {
    border-radius: 16px !important;
    padding: 24px
}

@media only screen and (min-width:600px) {
    .BaseSubDescription[data-v-ce7aa1e4] {
        margin-left: 0
    }
}

@media only screen and (min-width:960px) {
    .BaseSubDescription[data-v-ce7aa1e4] {
        box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
        margin-left: 0;
        padding: 40px;
        transition: all .2s ease
    }
}

.BaseSubDescription .v-card__text[data-v-ce7aa1e4] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding: 0
}

.PersonalReflectionSubDescription .PersonalReflectionSubDescription--semibold[data-v-ab4161ba] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.PersonalReflectionSubDescription .Nuxt__link[data-v-ab4161ba] {
    color: var(--color-base-blue);
    cursor: pointer;
    display: flex;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 24px 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease
}

.PersonalReflectionSubDescription .Nuxt__link[data-v-ab4161ba]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.PersonalReflectionSubDescription img[data-v-ab4161ba] {
    height: auto;
    max-width: 100%;
    padding: 12px 0
}

.PersonalReflectionOverview[data-v-16117a49] {
    margin-bottom: 20px
}

@media only screen and (min-width:600px) {
    .PersonalReflectionOverview[data-v-16117a49] {
        margin-bottom: 50px
    }
}

.PersonalReflectionOverview .PersonalReflectionOverview__description[data-v-16117a49] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.PersonalReflectionOverview .PersonalReflectionOverview__description li[data-v-16117a49] {
    padding-bottom: 12px
}

.PersonalReflectionOverview .PersonalReflectionOverview__description--semibold[data-v-16117a49] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.PersonalReflectionOverview .PersonalReflectionOverview__description--subtitle[data-v-16117a49] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .PersonalReflectionOverview .PersonalReflectionOverview__description--subtitle[data-v-16117a49] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.PersonalReflectionOverview .PersonalReflectionOverview__create-button[data-v-16117a49] {
    margin-top: 16px
}

.PersonalReflectionOverview .PersonalReflectionOverview__unit-council-info[data-v-16117a49] {
    margin-top: 32px;
    width: 100%
}