.Login {
    height: 100%;
    overflow: auto
}

.Login .Login__cols-container {
    align-items: center;
    background: url(/images/bg-login.svg) no-repeat bottom;
    background-color: var(--color-australian-nav-blue);
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0 15px;
    text-align: center
}

@media only screen and (min-width:600px) {
    .Login .Login__cols-container {
        padding: 0
    }
}

@media only screen and (min-width:960px) {
    .Login .Login__cols-container {
        background: #fff;
        flex-direction: row
    }
}

.Login .Login__layout-left {
    align-items: center;
    background: var(--color-australian-nav-blue);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    padding: 0;
    width: 100%
}

@media only screen and (min-width:960px) {
    .Login .Login__layout-left {
        background: var(--color-australian-nav-blue) url(/images/bg-login.svg) no-repeat center bottom;
        background-size: contain;
        height: 100%;
        width: 50%
    }
}

.Login .Login__layout-left-inner {
    width: 100%
}

@media only screen and (min-width:960px) {
    .Login .Login__layout-left-inner {
        height: 100%;
        margin-top: 27.3871983211%
    }
}

.Login .Login__layout-right {
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.Login .Login__app-logo {
    margin-bottom: 20px;
    margin-top: 32px;
    position: relative;
    width: 25.5555555556%
}

@media only screen and (min-width:960px) {
    .Login .Login__app-logo {
        min-width: 184px
    }
}

.Login .Login__strapline {
    animation-delay: 1s;
    animation-duration: 1.8s;
    color: inherit;
    display: none;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .Login .Login__strapline {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

@media only screen and (min-width:960px) {
    .Login .Login__strapline {
        display: inline-flex;
        max-width: 450px
    }
}

.Login .Login__offline-container {
    background-color: #fff;
    border-radius: 16px !important;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 40px
}

@media only screen and (min-width:600px) {
    .Login .Login__offline-container {
        margin-top: 0
    }
}

.Login .Login__offline-title {
    color: var(--color-alert-danger);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .Login .Login__offline-title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.Login .Login__offline-subtitle {
    color: var(--color-scouts-medium-blue);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.Login .Login__offline-subtitle:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Login .Login__offline-subtitle {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.Login .Login__scouts-logo {
    margin-bottom: 24px;
    margin-top: 20px
}

@media only screen and (min-width:960px) {
    .Login .Login__scouts-logo {
        bottom: 2.518363064%;
        left: 21%;
        margin-top: 0;
        position: absolute
    }
}

.Login .Login__module-back-link {
    left: 15px;
    position: absolute;
    top: 10px
}

@media only screen and (min-width:600px) {
    .Login .Login__module-back-link {
        left: 20px;
        top: 20px
    }
}

.Login.Login--one-col-layout .Login__cols-container {
    background: none;
    background-color: #fff
}

.Login.Login--one-col-layout .Login__layout-right {
    display: flex;
    flex-direction: column
}

.Login.Login--one-col-layout .Login__scouts-logo {
    bottom: auto;
    left: auto;
    margin: 24px auto 0;
    position: relative
}

@media only screen and (min-width:960px) {
    .Login.Login--one-col-layout .Login__scouts-logo {
        bottom: 10px;
        margin-top: 150px
    }
}

.Login.Login--one-col-layout .Login__subtitle {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.Login.Login--one-col-layout .Login__subtitle:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Login.Login--one-col-layout .Login__subtitle {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.Login.Login--one-col-layout .Login__title {
    color: var(--color-australian-nav-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 16px !important;
    margin-bottom: 24px;
    margin-top: 48px !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .Login.Login--one-col-layout .Login__title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

@media only screen and (min-width:960px) {
    .Login.Login--one-col-layout .Login__title {
        margin-bottom: 24px !important;
        margin-top: 80px !important
    }
}

.Login.Login--one-col-layout .Login__layout-right {
    height: 100%;
    padding-top: 0
}

.Login.Login--one-col-layout .Login__app-logo {
    margin-bottom: 20px;
    margin-top: 32px
}

@media only screen and (min-width:960px) {
    .Login.Login--one-col-layout .Login__app-logo {
        margin: 30px auto 64px
    }
}

.Login .LoginModule__title {
    color: var(--color-australian-nav-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 48px;
    margin-top: 48px;
    text-align: center
}

@media only screen and (min-width:600px) {
    .Login .LoginModule__title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.Login .LoginModule__subtitle {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: left
}

.Login .LoginModule__subtitle:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Login .LoginModule__subtitle {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.Login .LoginModule__text {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-bottom: 24px;
    margin-top: 16px;
    text-align: center
}