* {
    -webkit-text-decoration: none;
    text-decoration: none
}

.OasStreamCard {
    background: #fff;
    border-radius: 8px !important;
    height: auto
}

@media only screen and (min-width:600px) {
    .OasStreamCard {
        background: none;
        border-radius: 16px !important;
        margin-bottom: 8px
    }
}

.OasStreamCard .v-card {
    background: #fff;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    cursor: pointer;
    margin: 0;
    transition: all .2s ease;
    transition: all .5s ease
}

.OasStreamCard .v-card:hover {
    box-shadow: 0 5px 10px #e5e9ec !important;
    transform: scale(1.01)
}

@media only screen and (min-width:600px) {
    .OasStreamCard .v-card {
        border-radius: 16px !important
    }
}

.OasStreamCard .v-card .chevron {
    position: absolute;
    right: 10px
}

@media only screen and (min-width:600px) {
    .OasStreamCard .v-card .chevron {
        display: none
    }
}

.OasStreamCard .OasStreamCard__stage-icon {
    color: "white";
    display: none;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0;
    position: absolute
}

@media only screen and (min-width:600px) {
    .OasStreamCard .OasStreamCard__stage-icon {
        display: inline-block;
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        height: 40px;
        left: 7.25%;
        letter-spacing: -.02em !important;
        line-height: 40px !important;
        top: 7.25%;
        width: 40px
    }
}

.OasStreamCard .OasStreamCard__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 80px;
    padding: 20px 8px 20px 16px
}

@media only screen and (min-width:600px) {
    .OasStreamCard .OasStreamCard__content {
        flex-direction: column;
        padding: 24px 0
    }
}

.OasStreamCard .OasStreamCard__content .OasStreamCard__stream-icon {
    width: 40px
}

@media only screen and (min-width:600px) {
    .OasStreamCard .OasStreamCard__content .OasStreamCard__stream-icon {
        margin-bottom: 12px;
        width: 88px
    }
}

.OasStreamCard .OasStreamCard__content .OasStreamCard__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 16px
}

@media only screen and (min-width:600px) {
    .OasStreamCard .OasStreamCard__content .OasStreamCard__text {
        align-items: center;
        margin-left: 0
    }
}

.OasStreamCard .OasStreamCard__content .OasStreamCard__text .v-card__title {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize
}

@media only screen and (min-width:600px) {
    .OasStreamCard .OasStreamCard__content .OasStreamCard__text .v-card__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-size: 24px;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important;
        line-height: 32px
    }
}

.OasStreamCard .OasStreamCard__content .OasStreamCard__text .v-card__subtitle {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: 0 !important;
    letter-spacing: .1em;
    line-height: 18px !important;
    margin-top: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase
}

.OasStreamCard--active * {
    color: #fff !important
}

.OasStreamCard--active .OasStreamCard__stream-icon,
.OasStreamCard--active .v-card .chevron {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(300%) contrast(101%)
}

hr[data-v-f0153bc0] {
    border: none;
    border-top: 1px solid var(--color-light-charcoal);
    margin: 1.5rem 0
}

.BaseOverview .BaseOverview__link[data-v-f0153bc0] {
    color: var(--color-base-blue);
    cursor: pointer;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 4px 0 24px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease
}

.BaseOverview .BaseOverview__link[data-v-f0153bc0]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.BaseOverview .BaseOverview__header[data-v-f0153bc0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.BaseOverview .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .BaseOverview .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BaseOverview .BaseOverview__header .BaseOverview__segment[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 0;
    text-transform: uppercase
}

.BaseOverview .BaseOverview__header .BaseOverview__subtitle[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-bottom: 24px;
    margin-top: 16px
}

@media only screen and (min-width:600px) {
    .BaseOverview .BaseOverview__header .BaseOverview__subtitle[data-v-f0153bc0] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        margin-bottom: 0 !important
    }
}

.BaseOverview__main .BaseOverview__body[data-v-f0153bc0] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-bottom: 0;
    margin-top: 0
}

.BaseOverview__image[data-v-f0153bc0] {
    margin-top: 24px
}

.BaseOverview__overview-image[data-v-f0153bc0] {
    height: auto;
    max-width: 670px;
    width: 100%
}

@media only screen and (max-width:1263px) {
    .BaseOverview__title[data-v-f0153bc0] {
        margin: 12px 0 24px !important
    }
}

@media only screen and (max-width:599px) {
    .BaseOverview__header[data-v-f0153bc0] {
        flex-direction: column
    }
    .BaseOverview__header .BaseOverview__title[data-v-f0153bc0] {
        margin: 1rem 0 !important
    }
    .BaseOverview__main .BaseOverview__body[data-v-f0153bc0] {
        width: 100%
    }
    .BaseOverview__main a.Nuxt__Link[data-v-f0153bc0] {
        margin: 0 auto !important;
        width: 100%
    }
}

.BaseOverview__header[data-v-f0153bc0] {
    flex-direction: row
}

@media only screen and (min-width:600px) {
    .BaseOverview__sub-description-container[data-v-f0153bc0] {
        align-self: center;
        display: flex
    }
}

.BaseNoAchievements {
    align-items: center;
    display: flex;
    flex-direction: column
}

.BaseNoAchievements__empty {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 48px;
    margin-top: 12px
}

@media only screen and (min-width:600px) {
    .BaseNoAchievements__empty {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important;
        margin-bottom: 100px
    }
}

.BaseOverviewSubDescription {
    border-radius: 16px !important;
    padding: 24px
}

@media only screen and (min-width:600px) {
    .BaseOverviewSubDescription {
        margin-left: 0
    }
}

@media only screen and (min-width:960px) {
    .BaseOverviewSubDescription {
        box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
        margin-bottom: 55px;
        margin-left: 0;
        padding: 40px;
        transition: all .2s ease
    }
}

.BaseOverviewSubDescription p {
    margin: 0 0 24px
}

.BaseOverviewSubDescription h3,
.BaseOverviewSubDescription h4 {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin: 0 0 24px
}

.BaseOverviewSubDescription h3:first-child,
.BaseOverviewSubDescription h4:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .BaseOverviewSubDescription h3,
    .BaseOverviewSubDescription h4 {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.BaseOverviewSubDescription .v-card__text {
    color: var(--color-medium-charcoal) !important;
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding: 0
}

.BaseOverviewSubDescription__image {
    max-width: 100%
}

.BaseSubDescription[data-v-ce7aa1e4] {
    border-radius: 16px !important;
    padding: 24px
}

@media only screen and (min-width:600px) {
    .BaseSubDescription[data-v-ce7aa1e4] {
        margin-left: 0
    }
}

@media only screen and (min-width:960px) {
    .BaseSubDescription[data-v-ce7aa1e4] {
        box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
        margin-left: 0;
        padding: 40px;
        transition: all .2s ease
    }
}

.BaseSubDescription .v-card__text[data-v-ce7aa1e4] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding: 0
}

.OasSubDescriptionSmall__link[data-v-aaf92480] {
    color: var(--color-base-blue);
    cursor: pointer;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 24px 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease
}

.OasSubDescriptionSmall__link[data-v-aaf92480]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

img[data-v-aaf92480] {
    max-width: 100%
}

.InfoDialogCard {
    align-items: center;
    background-color: #fff;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    box-sizing: border-box;
    display: flex;
    padding: 20px 24px;
    transition: all .2s ease;
    width: 100%
}

.InfoDialogCard__title {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .InfoDialogCard__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.InfoDialogCard__image {
    display: flex;
    margin: 40px 0;
    max-width: 100%
}

.InfoDialogCard__info-icon {
    cursor: pointer
}

.v-application .InfoDialogCard__link {
    color: var(--color-base-blue);
    cursor: pointer;
    display: flex;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 16px 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: normal;
    width: -moz-fit-content;
    width: fit-content
}

.v-application .InfoDialogCard__link:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.OasOverview__subtitle {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .OasOverview__subtitle {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.OasOverview__section-title {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 32px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .OasOverview__section-title {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.OasOverview__showcase {
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
    margin: 3rem 0 4rem;
    padding: 1.5rem 3rem
}

.OasOverview__showcase .OasOverview__showcase-content .OasOverview__showcase-title {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 10px;
    margin-top: 24px
}

.OasOverview__showcase .OasOverview__showcase-content .OasOverview__showcase-title:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .OasOverview__showcase .OasOverview__showcase-content .OasOverview__showcase-title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.OasOverview__showcase .OasOverview__showcase-content .OasOverview__showcase-statement {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-bottom: 36px;
    margin-top: 16px;
    padding-right: 1rem
}

.OasOverview__stream-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px
}

.OasOverview__stream-card {
    margin-bottom: 8px;
    width: 100%
}

.OasOverview__stream-card:nth-child(11),
.OasOverview__stream-card:nth-child(4),
.OasOverview__stream-card:nth-child(8) {
    margin-right: 0
}

@media only screen and (min-width:600px) {
    .OasOverview__stream-card {
        margin-bottom: 30px;
        margin-right: 3%;
        width: 30%
    }
}

.OasOverview__link {
    color: var(--color-base-blue) !important;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 1.5rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase
}

.OasOverview__link:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.OasOverview__skills-title {
    color: var(--color-dark-charcoal);
    display: flex;
    flex-basis: 100%;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0 0 12px
}

@media only screen and (min-width:600px) {
    .OasOverview__skills-title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
    .OasOverview__stream-cards {
        width: 100%
    }
}