.v-autocomplete.v-input>.v-input__control>.v-input__slot {
    cursor: text
}

.v-autocomplete input {
    align-self: center
}

.v-autocomplete.v-select.v-input--is-focused input {
    min-width: 64px
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
    max-height: 0;
    padding: 0
}

.v-autocomplete--is-selecting-index input {
    opacity: 0
}

.v-autocomplete.v-text-field--enclosed:not(.v-text-field--solo):not(.v-text-field--single-line):not(.v-text-field--outlined) .v-select__slot>input {
    margin-top: 24px
}

.v-autocomplete.v-text-field--enclosed:not(.v-text-field--solo):not(.v-text-field--single-line):not(.v-text-field--outlined).v-input--dense .v-select__slot>input {
    margin-top: 20px
}

.v-autocomplete__content.v-menu__content,
.v-autocomplete__content.v-menu__content .v-card {
    border-radius: 0
}

.AddUnitMember__title[data-v-ae725434] {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 48px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .AddUnitMember__title[data-v-ae725434] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.AddUnitMember__subtitle[data-v-ae725434] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.AddUnitMember__subtitle[data-v-ae725434]:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .AddUnitMember__subtitle[data-v-ae725434] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}