@import "../base/base.scss";

//layout variables
$cmenu-back-icon: '\e7e4' !default;
$cmenu-back-icon-margin: 8px !default;
$cmenu-bigger-caret-font-size: $text-lg !default;
$cmenu-bigger-font-size: $text-base !default;
$cmenu-bigger-li-height: 40px !default;
$cmenu-bigger-li-padding: 0 12px !default;
$cmenu-bigger-max-width: 280px !default;
$cmenu-bigger-min-width: 112px !default;
$cmenu-caret-blank-icon: $text-base !default;
$cmenu-caret-font-size: $text-base !default;
$cmenu-caret-icon: '\e7c2' !default;
$cmenu-caret-icon-rtl: '\e7c1' !default;
$cmenu-caret-li-padding: 36px !default;
$cmenu-caret-right: 7px !default;
$cmenu-icon-margin-right: 8px !default;
$cmenu-li-height: 36px !default;
$cmenu-li-padding: 0 8px !default;
$cmenu-li-right-padding: 12px !default;
$cmenu-li-border-width: 1px !default;
$cmenu-max-width: 240px !default;
$cmenu-icon-font-size: $text-base !default;
$cmenu-icon-bigger-font-size: $text-lg !default;
$cmenu-min-width: 120px !default;
$cmenu-parent-ul-box-shadow: $shadow-md !default;
$cmenu-seperator-bigger-padding: 4px 0 !default;
$cmenu-seperator-padding: 4px 0 !default;
$cmenu-ul-border: 1px solid $border-light !default;
$cmenu-ul-border-radius: 4px !default;
$cmenu-ul-padding: 0 !default;
$cmenu-ul-bigger-padding: 4px 0 !default;
$cmenu-caret-color: $icon-color !default;
$cmenu-color: $content-text-color !default;
$cmenu-disable-text: $flyout-text-color-disabled !default;
$cmenu-font-size: $text-sm !default;
$cmenu-font-weight: $font-weight-normal !default;
$cmenu-li-bgcolor: $flyout-bg-color-hover !default;
$cmenu-li-border-color: $border-light !default;
$cmenu-li-border-style: solid !default;
$cmenu-li-selection-bgcolor: $flyout-bg-color-focus !default;
$cmenu-li-selection-font-color: $content-text-color-focus !default;
$cmenu-li-hover-outline-offset: 0 !default;
$cmenu-li-selected-outline: 0 solid $cmenu-li-selection-bgcolor !default;
$cmenu-li-selected-outline-offset: 0 !default;
$cmenu-icon-color: $icon-color !default;
$cmenu-icon-disabled-color: $icon-color-disabled !default;
$cmenu-selected-color: $cmenu-li-selection-font-color !default;
$cmenu-sub-ul-box-shadow: $shadow-md !default;
$cmenu-ul-bgcolor: $flyout-bg-color !default;
$cmenu-li-hover-outline: 0 solid $cmenu-li-border-color !default;
$cmenu-caret-hover-color: $icon-color !default;
$cmenu-hover-icon-color: $icon-color !default;

@mixin ul-layout {
  font-weight: $cmenu-font-weight;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  user-select: none;

  &.e-ul,
  &.e-ul * {
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}

@mixin ul-size {
  font-size: $cmenu-font-size;
  padding: $cmenu-ul-padding;
}

@mixin li-layout {
  cursor: pointer;
  position: relative;

  &.e-menu-hide {
    display: none;
  }

  &.e-menu-header {
    border-bottom-style: $cmenu-li-border-style;
    border-bottom-width: $cmenu-li-border-width;
  }

  & .e-menu-url {
    text-decoration: none;
  }

  & .e-menu-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &.e-separator {
    cursor: auto;
    line-height: normal;
    pointer-events: none;
  }
}

@mixin li-size {
  height: $cmenu-li-height;
  line-height: $cmenu-li-height;
  padding: $cmenu-li-padding;

  & .e-menu-url {
    display: inline-block;
    min-width: 120px;
  }

  & .e-menu-icon {
    font-size: $cmenu-icon-font-size;
    line-height: $cmenu-li-height;
    margin-right: $cmenu-icon-margin-right;
    width: 1em;
  }

  & .e-caret {
    line-height: $cmenu-li-height;
    margin-left: 16px;
    margin-right: 0;
    position: absolute;
    right: $cmenu-caret-right;
  }

  &.e-menu-caret-icon {
    padding-right: $cmenu-caret-li-padding;
  }

  &.e-separator {
    @include separator-size;
    margin: $cmenu-seperator-padding;
  }
}

@mixin separator-size {
  border-bottom-style: $cmenu-li-border-style;
  border-bottom-width: $cmenu-li-border-width;
  height: auto;
}

@mixin separator-bigger-size {
  height: auto;
  line-height: normal;
}

@mixin rtl-li-layout {
  & .e-menu-icon {
    margin-right: 0;
  }

  & .e-caret {
    margin-left: 0;
    margin-right: 16px;
    right: auto;
  }
}

@mixin rtl-li-size {
  & .e-menu-icon {
    margin-left: $cmenu-icon-margin-right;
  }

  & .e-caret {
    left: $cmenu-caret-right;
  }

  &.e-menu-caret-icon {
    @if $skin-name != 'FluentUI' {
      padding-left: $cmenu-caret-li-padding;
    }
    padding-right: $cmenu-li-right-padding;
  }

  &.e-blankicon {
    padding-left: $cmenu-caret-blank-icon;

    &.e-menu-caret-icon {
      padding-left: $cmenu-caret-li-padding;
    }
  }
}

@mixin bigger-ul-size {
  font-size: $cmenu-bigger-font-size;
  padding: $cmenu-ul-bigger-padding;
  white-space: nowrap;
}

@mixin bigger-li-size {
  height: $cmenu-bigger-li-height;
  line-height: $cmenu-bigger-li-height;

  & .e-menu-icon {
    font-size: $cmenu-icon-bigger-font-size;
    line-height: $cmenu-bigger-li-height;
    @if $skin-name == 'tailwind' {
      margin-right: $cmenu-icon-bigger-margin-right;
    }
  }

  & .e-caret {
    line-height: $cmenu-bigger-li-height;
  }

  &.e-separator {
    @include separator-bigger-size;
  }
}

@mixin bigger-rtl-blank-icon {
  padding-left: $cmenu-caret-blank-icon;

  &.e-menu-caret-icon {
    padding-left: $cmenu-caret-li-padding;
  }
}



@include export-module('contextmenu-layout') {

  /*! contextmenu layout */
  .e-contextmenu-wrapper,
  .e-contextmenu-container {
    @at-root {
      & ul {
        @include ul-layout;
        @include ul-size;
        border: $cmenu-ul-border;
        border-radius: $cmenu-ul-border-radius;
        box-shadow: $cmenu-sub-ul-box-shadow;
        display: none;
        min-width: $cmenu-min-width;
        position: absolute;

        &.e-contextmenu {
          box-shadow: $cmenu-parent-ul-box-shadow;
          @if $skin-name == 'bootstrap5' or $skin-name == 'tailwind' or $skin-name == 'Material3' {
            padding: 4px 0;
          }
        }

        &.e-ul {
          font-family: $font-family;
        }

        & .e-menu-item  {
          @include li-layout;
          @include li-size;

          & .e-caret {
            font-size: $cmenu-caret-font-size;
          }

          & .e-previous {
            margin-right: $cmenu-back-icon-margin;
          }

          &.e-disabled {
            cursor: auto;
            pointer-events: none;
          }
        }

        .e-menu-item .e-checkbox-wrapper {
          width: max-content;
        }
      }
    }

    &.e-sfcontextmenu {
      position: absolute;

      & .e-menu-vscroll {
        position: absolute;
      }

      & ul {
        white-space: nowrap;

        &.e-transparent {
          background: transparent;
          border: 0;
          box-shadow: none;
          height: 1px;
          left: 0;
          min-width: 0;
          padding: 0;
          top: 0;
          width: 0;
        }

        &.e-transparent .e-menu-item {
          height: 0;
          padding: 0;
        }

        &.e-transparent .e-menu-item.e-separator {
          border: 0;
          margin: 0;
        }
      }
    }

    &:not(.e-menu-container) {

      & .e-menu-vscroll.e-vscroll {
        box-shadow: $cmenu-parent-ul-box-shadow;

        & .e-vscroll-bar {
          height: 100%;
          width: inherit;
        }

        & .e-scroll-nav {
          height: 16px;
        }

        &:not(.e-scroll-device) {
          padding: 16px 0;
        }

        & ul {
          box-shadow: none;
          margin-top: -12px;
          width: inherit;
        }
      }
    }
  }

  .e-rtl.e-contextmenu-wrapper .e-menu-item,
  .e-rtl.e-contextmenu-container .e-menu-item {
    @include rtl-li-layout;
    @include rtl-li-size;
  }

  .e-bigger .e-contextmenu-wrapper ul,
  .e-bigger.e-contextmenu-wrapper ul,
  .e-bigger .e-contextmenu-container ul,
  .e-bigger.e-contextmenu-container ul {
    @include bigger-ul-size;
    box-shadow: $cmenu-parent-ul-box-shadow;
    max-width: $cmenu-bigger-max-width;
    min-width: $cmenu-bigger-min-width;
    @if $skin-name == 'bootstrap5' or  $skin-name == 'Material3' {
      padding: 8px 0;
    }

    & .e-menu-item  {
      @include bigger-li-size;

      & .e-caret {
        font-size: $cmenu-bigger-caret-font-size;
      }
    }
  }

  .e-bigger .e-contextmenu-wrapper.e-rtl ul .e-blankicon,
  .e-bigger.e-contextmenu-wrapper.e-rtl ul .e-blankicon,
  .e-bigger .e-contextmenu-container.e-rtl ul .e-blankicon,
  .e-bigger.e-contextmenu-container.e-rtl ul .e-blankicon {
    @if $skin-name != 'FluentUI' {
      @include bigger-rtl-blank-icon;
    }
  }
}


@mixin focused-icon-color {
  @if $skin-name != 'bootstrap5' {
    & .e-caret {
      color: $cmenu-caret-color;
    }
  
    & .e-menu-icon {
      color: $cmenu-icon-color;
    }
  }
}

@mixin selected-icon-color {
  @if $skin-name != 'bootstrap5' {
    & .e-caret {
      color: $cmenu-caret-hover-color;
    }
  
    & .e-menu-icon {
      color: $cmenu-hover-icon-color;
    }
  }
}

@mixin icon-color {
  &.e-menu-header {
    border-bottom-color: $cmenu-li-border-color;
  }
  @include focused-icon-color;
}

@mixin focused-color {
  background-color: $cmenu-li-bgcolor;
  color: $cmenu-li-selection-font-color;
  outline: $cmenu-li-hover-outline;
  outline-offset: $cmenu-li-hover-outline-offset;
}

@mixin selected-color {
  background-color: $cmenu-li-selection-bgcolor;
  color: $cmenu-selected-color;
  outline: $cmenu-li-selected-outline;
  outline-offset: $cmenu-li-selected-outline-offset;
}

@mixin disabled-color {
  & .e-disabled {
    color: $cmenu-disable-text;
    opacity: 1;

    & .e-menu-icon {
      color: $cmenu-icon-disabled-color;
    }

    & .e-caret {
      color: $cmenu-icon-disabled-color;
    }

    & .e-menu-url {
      color: $cmenu-disable-text;
    }
  }
}



@include export-module('contextmenu-theme') {

  /*! contextmenu theme */
  .e-contextmenu-wrapper,
  .e-contextmenu-container {
    @at-root {
      & ul {
        @if $skin-name == 'Material3' {
          background: $cmenu-ul-bgcolor;
        }
        @else {
          background-color: $cmenu-ul-bgcolor;
        }
        color: $cmenu-color;

        & .e-menu-item  {
          @include icon-color;

          & .e-menu-url {
            color: $cmenu-color;
          }

          &.e-focused {
            @include focused-color;
            @include focused-icon-color;
          }

          &.e-selected {
            @include selected-color;
            @include selected-icon-color;
          }
        }

        @include disabled-color;

        & .e-separator {
          border-bottom-color: $cmenu-li-border-color;
        }
      }
    }

    &:not(.e-menu-container) {

      & .e-menu-vscroll.e-vscroll {
        background-color: inherit;
        border: $cmenu-ul-border;

        & .e-scroll-nav {
          border-color: $cmenu-li-border-color;
        }
      }
    }
  }
}


@include export-module('context-menu-fluent-icons') {

  /*! contextmenu layout */
  .e-contextmenu-wrapper,
  .e-contextmenu-container {
    @at-root {
      & ul {
        & .e-menu-item  {
          & .e-previous {
            &::before {
              content: '\e773';
            }
          }

          & .e-caret {
            &::before {
              content: '\e748';
            }
          }
        }
      }
    }
  }

  .e-rtl.e-contextmenu-wrapper .e-menu-item,
  .e-rtl.e-contextmenu-container .e-menu-item {
    & .e-caret {
      &::before {
        content: '\e765';
      }
    }
  }
}

