@import "../base/base.scss";
@import "../buttons/button.scss";

$fab-offset: 16px !default;

$fab-border-radius: 9999px !default;
$fab-min-height: 40px !default;
$fab-min-width: 40px !default;
$fab-padding: 0 15px !default;
$fab-icon-font-size: $text-sm !default;

$fab-small-border-radius: $fab-border-radius !default;
$fab-small-min-height: 32px !default;
$fab-small-min-width: 32px !default;
$fab-small-padding: 0 11px !default;
$fab-small-icon-font-size: $text-xs !default;

$fab-bigger-border-radius: $fab-border-radius !default;
$fab-bigger-min-height: 52px !default;
$fab-bigger-min-width: 52px !default;
$fab-bigger-padding: 0 21px !default;
$fab-bigger-icon-font-size: $text-base !default;

$fab-bigger-small-border-radius: $fab-border-radius !default;
$fab-bigger-small-min-height: 48px !default;
$fab-bigger-small-min-width: 48px !default;
$fab-bigger-small-padding: 0 17px !default;
$fab-bigger-small-icon-font-size: $text-sm !default;

$fab-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .2), 0 -2px 15px -3px rgba(0, 0, 0, .1), 0 6px 10px rgba(0, 0, 0, .14) !default;

@include export-module('floating-action-button-layout') {
  .e-fab.e-btn {
    align-items: center;
    border-radius: $fab-border-radius;
    display: inline-flex;
    min-height: $fab-min-height;
    min-width: $fab-min-width;
    padding: $fab-padding;
    position: absolute;
    z-index: 100000;

    .e-btn-icon {
      margin-top: 0;
      font-size: $fab-icon-font-size;
    }

    &.e-icon-btn {
      padding: 0;
    }

    &.e-fab-fixed {
      position: fixed;
    }

    &.e-fab-top {
      top: $fab-offset;
      &.e-fab-middle {
        top: var(--fabVertDist);
      }
    }

    &.e-fab-bottom {
      bottom: $fab-offset;
      &.e-fab-middle {
        bottom: var(--fabVertDist);
      }
    }

    &.e-fab-left {
      left: $fab-offset;
      &.e-fab-center {
        left: var(--fabHorzDist);
      }
    }

    &.e-fab-right {
      right: $fab-offset;
      &.e-fab-center {
        right: var(--fabHorzDist);
      }
    }
  }

  .e-fab-hidden {
    visibility: hidden;
  }

  .e-small.e-fab.e-btn,
  .e-small .e-fab.e-btn {
    border-radius: $fab-small-border-radius;
    min-height: $fab-small-min-height;
    min-width: $fab-small-min-width;
    padding: $fab-small-padding;

    &.e-icon-btn {
      padding: 0;
    }

    .e-btn-icon {
      font-size: $fab-small-icon-font-size;
    }
  }
  .e-bigger.e-fab.e-btn,
  .e-bigger .e-fab.e-btn {
    border-radius: $fab-bigger-border-radius;
    min-height: $fab-bigger-min-height;
    min-width: $fab-bigger-min-width;
    padding: $fab-bigger-padding;

    &.e-icon-btn {
      padding: 0;
    }

    .e-btn-icon {
      font-size: $fab-bigger-icon-font-size;
    }
  }
  .e-bigger.e-small.e-fab.e-btn,
  .e-bigger.e-small .e-fab.e-btn,
  .e-bigger .e-small.e-fab.e-btn,
  .e-small .e-bigger.e-fab.e-btn {
    border-radius: $fab-bigger-small-border-radius;
    min-height: $fab-bigger-small-min-height;
    min-width: $fab-bigger-small-min-width;
    padding: $fab-bigger-small-padding;

    &.e-icon-btn {
      padding: 0;
    }

    .e-btn-icon {
      font-size: $fab-bigger-small-icon-font-size;
    }
  }
}


@include export-module('floating-action-button-theme') {

  .e-fab.e-btn {
    box-shadow: $fab-box-shadow;

    &:hover:not(:focus),
    &:active,
    &.e-active,
    &:disabled {
      box-shadow: $fab-box-shadow;
    }

    &:focus {
      @if ($skin-name != 'tailwind' and $skin-name != 'tailwind-dark' and $skin-name != 'bootstrap4' and $skin-name != 'bootstrap5' and $skin-name != 'bootstrap5-dark') {
        box-shadow: $fab-box-shadow;
      }
      @if ($skin-name == 'tailwind') {
        box-shadow: $fab-focus-box-shadow;
      }
    }
  }
}

