@import "../base/base.scss";

$skeleton-background-color: $content-bg-color-alt2 !default;
$shimmer-wave-color: $content-bg-color !default;
$shimmer-background-color: transparent !default;
$shimmer-wave-color-opacity: 50% !default;
$shimmer-wave-length: 100px !default;
$shimmer-wave-pos: 50% !default;
$shimmer-wave-angle: 90deg !default;
$skeleton-border-radius: 2px !default;
$shimmer-wave-angle-rtl: 45deg !default;
$shimmer-effect-duration: 2s !default;
$shimmer-effect-timing-function: ease-in-out !default;
$skeleton-boder: none;

@include export-module('skeleton-layout') {
  .e-skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: $skeleton-boder;

    @at-root {
      &.e-skeleton-text,
      &.e-skeleton-square,
      &.e-skeleton-rectangle {
        border-radius: $skeleton-border-radius;
      }

      @if ($skin-name == 'highcontrast' or $skin-name == 'highcontrast-light') {
        &.e-skeleton-text {
          border-width: $skeleton-text-boder-width;
        }
      }

      &.e-skeleton-circle {
        border-radius: 50%;
      }

      &.e-visible-none {
        display: none;
      }

      &.e-shimmer-wave::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: calc(200% + 200px);
        animation: e-shimmer-wave $shimmer-effect-duration infinite;
        animation-timing-function: $shimmer-effect-timing-function;
      }

      &.e-shimmer-fade {
        animation: e-shimmer-fade $shimmer-effect-duration infinite;
        animation-timing-function: $shimmer-effect-timing-function;
      }

      &.e-shimmer-pulse {
        animation: e-shimmer-pulse $shimmer-effect-duration infinite;
        animation-timing-function: $shimmer-effect-timing-function;
      }
    }
  }

  .e-rtl .e-shimmer-wave::after,
  .e-rtl.e-shimmer-wave::after {
    animation: e-shimmer-wave-rtl $shimmer-effect-duration infinite;
  }

  @keyframes e-shimmer-wave {
    to {
      transform: translateX(calc(50% + 100px));
    }
  }

  @keyframes e-shimmer-wave-rtl {
    from {
      transform: translateX(calc(50% + 100px));
    }
  }

  @keyframes e-shimmer-fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes e-shimmer-pulse {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scale(1);
    }
    50% {
      transform: scale(.975);
    }
    100% {
      transform: scale(1);
    }
  }
}


.e-skeleton {
  @at-root {
    &.e-shimmer-wave::after {
      @if ($skin-name =='Material3') {
        // Added direct color value to resolve the compile issue
        background-image: linear-gradient($shimmer-wave-angle, $shimmer-background-color calc($shimmer-wave-pos - $shimmer-wave-length), $shimmer-wave-color $shimmer-wave-pos, $shimmer-background-color calc($shimmer-wave-pos + $shimmer-wave-length));
      }
      @else {
        background-image: linear-gradient($shimmer-wave-angle, $shimmer-background-color calc($shimmer-wave-pos - $shimmer-wave-length), #e6e1e5 $shimmer-wave-pos, $shimmer-background-color calc($shimmer-wave-pos + $shimmer-wave-length));
      }
    }

    &.e-skeleton-text,
    &.e-skeleton-square,
    &.e-skeleton-rectangle,
    &.e-skeleton-circle {
      @if ($skin-name =='Material3') {
        background: $skeleton-background-color;
      }
      @else {
        background-color: $skeleton-background-color;
      }
    }
  }
}

