div:has(> a[href*="/summit/"]) {
  background: #004C00 !important;
  border-bottom-color: #197419 !important;
  border-top-color: #197419 !important;
}  

div:has(> a[href*="/summit/"]):hover {
  background-color: #197419 !important;
}

.summit-btn { 
  background: linear-gradient(97.08deg,#004C00,#197419) !important;
}
.summit-menu { 
  background: #004C00 !important;
  border-bottom-color: #197419 !important;
  border-top-color: #197419 !important;
}

.summit-menu-outline { 
  border: 1px solid #004C00 !important;
  color: #004C00 !important;
}
.summit-menu:hover {
  background-color: #197419 !important;
}
