.ApprovalsPage[data-v-346866bd] {
    margin-bottom: 55px
}

@media only screen and (min-width:600px) {
    .ApprovalsPage[data-v-346866bd] {
        margin-bottom: 80px
    }
}

.v-application .ApprovalsTable .v-select__selections[data-v-4de1ab50],
.v-application .ApprovalsTable td[data-v-4de1ab50] {
    text-transform: capitalize
}

.v-application .ApprovalsTable .v-card__title[data-v-4de1ab50] {
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

@media only screen and (min-width:600px) {
    .v-application .ApprovalsTable .v-card__title[data-v-4de1ab50] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.v-application .ApprovalsTable .v-card__title .v-text-field[data-v-4de1ab50] {
    height: 74px;
    padding-right: 1rem;
    width: 50%
}

.v-application .ApprovalsTable .v-card__title .ApprovalsTable__filter[data-v-4de1ab50] {
    margin-top: 0;
    padding-right: 1rem;
    width: 50%
}

@media only screen and (min-width:600px) {
    .v-application .ApprovalsTable .v-card__title .ApprovalsTable__filter[data-v-4de1ab50] {
        width: 20%
    }
    .v-application .ApprovalsTable .v-card__title .v-text-field[data-v-4de1ab50] {
        width: 40%
    }
    .v-application .ApprovalsTable .v-card__title .ApprovalsTable__filter[data-v-4de1ab50]:nth-child(2n) {
        padding-right: 1rem
    }
    .v-application .ApprovalsTable .v-card__title .ApprovalsTable__filter[data-v-4de1ab50]:last-child {
        padding-right: 0
    }
}

.v-application .ApprovalsTable .ApprovalsTable__actions[data-v-4de1ab50] {
    width: -moz-max-content;
    width: max-content
}

.v-application .ApprovalsTable .ApprovalsTable__actions[data-v-4de1ab50] :first-child {
    padding-left: 0
}

.v-application .ApprovalsTable .ApprovalsTable__actions .v-btn span.v-btn__content[data-v-4de1ab50] {
    padding: 0
}

.v-application .ApprovalsTable .ApprovalsTable__actions .v-btn span.v-btn__content .v-image[data-v-4de1ab50] {
    height: 1.5rem;
    margin-left: 0;
    margin-right: .5rem;
    width: 1.5rem
}

@media only screen and (max-width:599px) {
    .v-application .ApprovalsTable .ApprovalsTable__actions .v-btn span.v-btn__content[data-v-4de1ab50] {
        width: .5rem
    }
    .v-application .ApprovalsTable .ApprovalsTable__actions .v-btn span.v-btn__content .v-image[data-v-4de1ab50] {
        margin-left: 1.5rem
    }
    .v-application .ApprovalsTable .ApprovalsTable__actions .v-btn span.v-btn__content span[data-v-4de1ab50] {
        display: none
    }
}

.v-application .ApprovalsTable__filter[data-v-4de1ab50] {
    max-width: 490px
}

.v-application .ApprovalsTable__action-btn[data-v-4de1ab50]:last-child {
    margin-right: -12px
}

@media only screen and (min-width:600px) {
    .v-application .ApprovalsTable__action-btn[data-v-4de1ab50]:last-child {
        margin-right: 0
    }
}

.ApprovalOverview__title[data-v-586041e2] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0 0 24px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .ApprovalOverview__title[data-v-586041e2] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important;
        margin: 0 0 48px !important
    }
    .ApprovalOverview__tabs[data-v-586041e2] {
        width: 50%
    }
}

.ApprovalOverview__subtitle[data-v-586041e2] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 24px 0
}

@media only screen and (min-width:600px) {
    .ApprovalOverview__subtitle[data-v-586041e2] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        margin: 48px 0 24px
    }
}

.BaseRequirements[data-v-81d1b748] {
    margin-bottom: 30px
}

@media only screen and (min-width:600px) {
    .BaseRequirements[data-v-81d1b748] {
        margin-bottom: 55px
    }
}

.BaseRequirements .BaseRequirements__title[data-v-81d1b748] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 12px
}

@media only screen and (min-width:600px) {
    .BaseRequirements .BaseRequirements__title[data-v-81d1b748] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BaseRequirements .BaseRequirements__title.BaseRequirements__title--confirmation[data-v-81d1b748] {
    font-size: 24px
}

.BaseRequirements .BaseRequirements__subtitle[data-v-81d1b748] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .BaseRequirements .BaseRequirements__subtitle[data-v-81d1b748] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.BaseRequirements .BaseRequirements__header[data-v-81d1b748] {
    display: flex;
    flex-direction: column
}

.BaseRequirements .v-stepper__items[data-v-81d1b748] {
    margin-top: 1rem
}

@media only screen and (max-width:959px) {
    .BaseRequirements .BaseRequirements__PlanDoReview[data-v-81d1b748] {
        width: calc(100% - 2.5rem)
    }
}

.BaseRequirements .BaseRequirements__buttons .v-btn[data-v-81d1b748] {
    margin-bottom: 12px
}

@media only screen and (min-width:600px) {
    .BaseRequirements .BaseRequirements__buttons .v-btn[data-v-81d1b748]:not(:first-child) {
        margin-left: 12px
    }
}

.BaseRequirements .BaseRequirements__buttons .v-btn.v-btn--disabled[data-v-81d1b748]:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: var(--color-light-charcoal) !important
}

@media only screen and (max-width:599px) {
    .BaseRequirements .BaseRequirements__buttons[data-v-81d1b748] {
        display: flex;
        flex-direction: column
    }
    .BaseRequirements .BaseRequirements__buttons .v-btn[data-v-81d1b748] {
        margin-bottom: 12px;
        width: 100%
    }
}

.BaseRequirements .BaseRequirements__btn-submit-stage[data-v-81d1b748] {
    order: 3
}

.BaseRequirements .BaseRequirements__svg-edit[data-v-81d1b748] {
    filter: invert(32%) sepia(67%) saturate(1633%) hue-rotate(188deg) brightness(93%) contrast(95%);
    height: 24px;
    width: 24px
}

.BaseRequirements__milestone-title[data-v-81d1b748] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .BaseRequirements__milestone-title[data-v-81d1b748] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.TwoColumnSelectableList[data-v-7eb8e8c4] {
    -moz-column-count: 1;
    column-count: 1
}

@media only screen and (min-width:600px) {
    .TwoColumnSelectableList[data-v-7eb8e8c4] {
        -moz-column-count: 2;
        column-count: 2
    }
}

.TwoColumnSelectableList .v-card.TwoColumnSelectableList__card[data-v-7eb8e8c4]:not(.v-card--shaped) {
    border: 1px solid #fff;
    border-radius: 40px;
    display: inline-block;
    margin-bottom: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.TwoColumnSelectableList .v-card.TwoColumnSelectableList__card:not(.v-card--shaped).--selected[data-v-7eb8e8c4] {
    border: 1px solid var(--color-light-mid-charcoal)
}

.TwoColumnSelectableList .v-card.TwoColumnSelectableList__card:not(.v-card--shaped) .v-list-item[data-v-7eb8e8c4] {
    padding: 0 20px 0 10px
}

.TwoColumnSelectableList .v-card.TwoColumnSelectableList__card:not(.v-card--shaped) .v-list-item__content .v-list-item__subtitle[data-v-7eb8e8c4] {
    color: var(--color-medium-charcoal);
    white-space: normal
}

.TwoColumnSelectableList .v-card.TwoColumnSelectableList__card:not(.v-card--shaped) img[data-v-7eb8e8c4] {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    margin: 0
}

.TwoColumnSelectableList.disabled .v-card[data-v-7eb8e8c4] {
    background-color: var(--color-light-charcoal);
    border: none !important;
    cursor: default;
    opacity: .7
}

.v-application .TemplateGroup {
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    margin: 16px 0;
    padding: 24px 16px;
    transition: all .2s ease
}

@media only screen and (min-width:600px) {
    .v-application .TemplateGroup {
        padding: 40px
    }
}

.v-application .TemplateGroup .TemplateGroup__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px;
    padding: 0
}

.v-application .TemplateGroup .TemplateGroup__title {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin: 0 24px 0 0
}

.v-application .TemplateGroup .TemplateGroup__title:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .v-application .TemplateGroup .TemplateGroup__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.v-application .TemplateGroup .TemplateGroup__subtitle-1 {
    color: var(--color-dark-charcoal);
    flex-basis: 100%;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .v-application .TemplateGroup .TemplateGroup__subtitle-1 {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.v-application .TemplateGroup .TemplateGroup__link {
    align-self: center;
    color: var(--color-scouts-medium-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 0;
    padding-left: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap
}

.v-application .TemplateGroup:not(.TemplateGroup--condensed) .TemplateGroup__statements--pad-adjacent+.TemplateGroup__statements--pad-adjacent {
    padding-top: 32px
}

.v-application .TemplateGroup .TemplateGroup__statements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0
}

.v-application .TemplateGroup .TemplateGroup__statements .v-input {
    color: var(--color-dark-charcoal) !important;
    margin-bottom: 0;
    margin-top: 11px;
    padding-left: 0
}

.v-application .TemplateGroup .TemplateGroup__statements .v-input .v-input--selection-controls {
    margin-top: 0
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__statements-inner-container {
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__statements-inner-container .col {
    padding-bottom: 0;
    padding-top: 0
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__statements-inner-container.no-wrap-item {
    flex-wrap: nowrap
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__description {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-bottom: 24px;
    margin-left: 0;
    margin-top: 0 !important;
    margin-top: 16px;
    width: 100%
}

.v-application .TemplateGroup .TemplateGroup__statements img {
    margin: 24px 0;
    max-width: 800px;
    width: 100%
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__checkbox-verify-and-info {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__checkbox-verify-and-info img {
    margin: 0 0 0 12px;
    max-width: 24px;
    width: auto
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__checkbox-verify-and-info .v-input {
    margin-top: 0
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__checkbox-verify-and-info-inner {
    margin-bottom: 12px;
    margin-right: 8px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__verified-details {
    color: var(--color-neutral-charcoal);
    margin-top: -6px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__event-statement,
.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__verified-details {
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-bottom: 16px;
    margin-left: 48px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__event-statement {
    color: var(--color-medium-charcoal);
    font-size: 10px !important;
    margin-top: -15px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__markdown {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__markdown li {
    padding-bottom: 12px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__text-area textarea {
    overflow-y: auto
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__text-link {
    margin: 48px 0
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__action-icons {
    align-self: baseline;
    display: flex;
    justify-content: flex-end;
    min-width: 70px
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__action-icons .TemplateGroup__action-icon {
    cursor: pointer;
    margin-left: 12px
}

@media only screen and (min-width:600px) {
    .v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__action-icons .TemplateGroup__action-icon {
        margin-left: 24px
    }
}

.v-application .TemplateGroup .TemplateGroup__statements .TemplateGroup__action-icons .TemplateGroup__action-icon:last-child {
    margin-right: 0
}

.v-application .TemplateGroup .TwoColumnSelectableList {
    flex-basis: 100%;
    padding-top: 24px
}

.v-application .TemplateGroup .TemplateGroup__icon--view-doc-container {
    display: flex;
    margin: auto 0 auto 1rem
}

.v-application .TemplateGroup .TemplateGroup__icon--view-doc {
    margin: 0 !important;
    min-height: 1.5rem;
    min-width: 1.5rem;
    -o-object-fit: contain;
    object-fit: contain
}

.v-application .TemplateGroup.TemplateGroup--flat {
    background: none;
    box-shadow: none !important;
    margin: 0;
    padding: .5rem 0
}

.v-application .TemplateGroup.TemplateGroup--condensed {
    background: none;
    box-shadow: none !important;
    margin: 2rem 0 0;
    padding: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__header {
    margin-bottom: 1rem
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__header .TemplateGroup__title {
    color: var(--color-slate)
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__file-uploader,
.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__file-uploader>* {
    padding-left: 0 !important
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__text-link {
    margin: 0 0 24px
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements {
    margin: 24px 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements .v-input.v-input--is-disabled textarea {
    color: var(--color-medium-charcoal) !important;
    font-size: 14px !important;
    line-height: 21px !important;
    margin-top: 30px !important
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements .v-label {
    color: var(--color-dark-charcoal) !important
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements .v-input:first-of-type {
    margin: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements .TemplateGroup__checkbox-verify-and-info-inner {
    margin-bottom: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__statements .TemplateGroup__verified-details {
    margin-bottom: 0;
    margin-top: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field,
.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-input__slot {
    margin: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-input__slot:before {
    border: none
}

.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-input__slot .v-label {
    color: var(--color-dark-charcoal) !important;
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin: 0;
    transform: none
}

.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-input__slot.v-label--active {
    caret-color: red !important;
    color: red !important
}

.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-text-field__slot input {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 32px 0 0;
    padding: 0
}

.v-application .TemplateGroup.TemplateGroup--condensed .TemplateGroup__description,
.v-application .TemplateGroup.TemplateGroup--condensed .v-text-field .v-input__control .v-text-field__details {
    display: none
}

.v-application .TemplateGroup .TemplateGroup__multi-tab-selector {
    margin: 24px 0
}

.v-application .TemplateGroup .TemplateGroup__multi-tab-selector .v-tab {
    background: hsla(0, 0%, 100%, .2);
    color: var(--color-scouts-medium-blue)
}

.v-application .TemplateGroup .TemplateGroup__multi-tab-selector .v-tabs-bar {
    background: none
}

.v-application .TemplateGroup .TemplateGroup__multi-tab-selector .v-window {
    background: transparent
}

.v-application .TemplateGroup .TemplateGroup__multi-tab-selector .v-window .v-window-item {
    padding-top: 16px
}

.v-application .TemplateGroup .TemplateGroup__input-links--single {
    align-self: center
}

.v-application .TemplateGroup .TemplateGroup__input-links--multi {
    margin: 0
}

.v-application .TemplateGroup .TemplateGroup__input-links--multi ol>li {
    color: var(--color-base-blue) !important
}

.TemplateGroup__disabled-overlay {
    background: #fff;
    border-radius: 0;
    height: 90%;
    opacity: .7;
    position: absolute;
    width: 92%;
    z-index: 1
}

.TemplateGroup__date-picker {
    width: 170px
}

.DatePicker {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    position: relative
}

.DatePicker .mx-input {
    background: none !important;
    border: none;
    border-bottom: 1px solid var(--color-light-mid-charcoal);
    border-radius: 0;
    box-shadow: none;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-size: 18px;
    font-weight: inherit;
    height: 28px;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 5px;
    padding: 0;
    width: 100%
}

@media only screen and (min-width:600px) {
    .DatePicker .mx-input {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.DatePicker .mx-input::-moz-placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-input::placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-datepicker {
    width: 100%
}

.DatePicker .mx-icon-calendar {
    display: none
}

.DatePicker.disabled {
    opacity: .6
}

.DatePicker .v-text-field__details .v-messages {
    display: none
}

.DatePicker .v-text-field__details .v-messages.error--text {
    display: flex
}

.DatePicker__icon {
    margin-right: 9px;
    position: relative;
    top: 5px
}

.DatePicker__label {
    color: var(--color-scouts-medium-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    font-weight: 700;
    left: 32px;
    letter-spacing: inherit !important;
    line-height: 18px !important;
    margin-top: 0;
    position: absolute;
    top: -16px
}

.FileUploader[data-v-f885b948] {
    width: 100%
}

.FileUploader[data-v-f885b948] .v-file-input__text {
    cursor: pointer
}

.FileUploader__uploaded[data-v-f885b948] {
    color: var(--color-medium-charcoal);
    font-weight: inherit;
    margin-top: 0;
    min-width: 180px;
    text-align: right
}

.FileUploader__alt-text[data-v-f885b948],
.FileUploader__uploaded[data-v-f885b948] {
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    letter-spacing: -.01em !important;
    line-height: 21px !important
}

.FileUploader__alt-text[data-v-f885b948] {
    color: var(--color-neutral-charcoal);
    font-weight: inherit;
    margin-top: 0
}

.FileUploader__uploaded-files[data-v-f885b948] {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px
}

@media only screen and (min-width:600px) {
    .FileUploader__uploaded-files[data-v-f885b948] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.FileUploader__filename[data-v-f885b948] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.FileUploader__filename.no-link[data-v-f885b948] {
    cursor: default
}

.FileUploader__filename.no-link[data-v-f885b948],
.FileUploader__filename.no-link[data-v-f885b948]:hover {
    color: var(--color-medium-charcoal)
}

.RiskAssessment[data-v-264ea88e] {
    background-color: #fff;
    border: 1px solid var(--color-light-charcoal);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px 24px 48px
}

.RiskAssessment__header[data-v-264ea88e] {
    color: inherit;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-top: 9px
}

@media only screen and (min-width:600px) {
    .RiskAssessment__header[data-v-264ea88e] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.RiskAssessment__text[data-v-264ea88e] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-top: 16px
}

.RiskAssessment__actions[data-v-264ea88e] {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top: 24px
}

.RiskAssessment__button[data-v-264ea88e] {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 24px;
    padding-right: 24px;
    text-transform: uppercase
}

.RiskAssessment__link[data-v-264ea88e] {
    font-size: 12px;
    font-weight: 600;
    line-height: 72px;
    text-transform: uppercase
}

.MilestonesParticipatesSummary__expansion_panel[data-v-0baa634a] {
    border-radius: 16px !important;
    margin-bottom: 16px
}

.MilestonesParticipatesSummary__header[data-v-0baa634a],
.MilestonesParticipatesSummary__item[data-v-0baa634a] {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.MilestonesParticipatesSummary__header[data-v-0baa634a] {
    align-items: start;
    display: flex;
    flex-direction: column
}

@media only screen and (min-width:600px) {
    .MilestonesParticipatesSummary__header[data-v-0baa634a] {
        align-items: center;
        flex-direction: row
    }
}

.MilestonesParticipatesSummary__header-title[data-v-0baa634a] {
    align-items: center;
    color: var(--color-medium-charcoal);
    display: flex;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin: 16px 0;
    width: 40%
}

.MilestonesParticipatesSummary__header-progress[data-v-0baa634a] {
    display: flex;
    width: 60%
}

.MilestonesParticipatesSummary__header-progress .MilestonesParticipatesSummary__progress-bar[data-v-0baa634a] {
    margin-top: 3px
}

.MilestonesParticipatesSummary__header-progress span[data-v-0baa634a] {
    margin-left: 8px;
    width: 50px
}

.MilestonesParticipatesSummary__icon[data-v-0baa634a] {
    margin-right: 16px;
    width: 24px
}

.MilestonesParticipatesSummary__item[data-v-0baa634a] {
    border-bottom: 1px solid var(--color-light-charcoal);
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0;
    padding: 8px 0
}

.MilestonesAssistLeadSummary[data-v-0f827d8c] {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px
}

.MilestonesAssistLeadSummary[data-v-0f827d8c]:last-child {
    margin-bottom: 48px
}

.MilestonesAssistLeadSummary__header[data-v-0f827d8c] {
    display: flex
}

.MilestonesAssistLeadSummary__title[data-v-0f827d8c] {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .MilestonesAssistLeadSummary__title[data-v-0f827d8c] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.MilestonesAssistLeadSummary__subtitle[data-v-0f827d8c] {
    align-self: end;
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-left: 4px;
    margin-top: 16px;
    padding-bottom: 4px
}

.MilestonesAssistLeadSummary__item[data-v-0f827d8c] {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.MilestonesAssistLeadSummary__item-name[data-v-0f827d8c] {
    min-width: 50%;
    padding-right: 12px;
    width: 200px
}

.MilestonesAssistLeadSummary__item-date[data-v-0f827d8c] {
    min-width: 85px
}

.MilestonesAssistLeadSummary__item[data-v-0f827d8c] {
    border-bottom: 1px solid var(--color-light-charcoal);
    color: var(--color-medium-charcoal);
    font-size: 14px !important;
    font-weight: inherit;
    line-height: 21px !important;
    margin: 0;
    padding: 8px 0
}

.MilestonesAssistLeadSummary__dialog-question[data-v-0f827d8c],
.MilestonesAssistLeadSummary__item[data-v-0f827d8c] {
    font-family: NunitoSans-regular, arial, sans-serif !important;
    letter-spacing: -.01em !important
}

.MilestonesAssistLeadSummary__dialog-question[data-v-0f827d8c] {
    color: var(--color-dark-charcoal);
    font-size: 16px !important;
    font-weight: inherit;
    line-height: 24px !important;
    margin-top: 16px
}

.MilestonesAssistLeadSummary__dialog-answer[data-v-0f827d8c] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-top: 16px
}

.v-stepper {
    box-shadow: none !important
}

.PeakAwardCard__progress-desc[data-v-0c476014] {
    color: var(--color-medium-charcoal);
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-bottom: 24px;
    margin-top: 0;
    text-transform: uppercase
}

.PeakAwardCard__progress-desc[data-v-0c476014],
.PeakAwardCard__title[data-v-0c476014] {
    font-family: NunitoSans-light, arial, sans-serif !important
}

.PeakAwardCard__title[data-v-0c476014] {
    color: inherit;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .PeakAwardCard__title[data-v-0c476014] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.PeakAwardCard__requirement-desc[data-v-0c476014] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 0;
    padding-left: 0
}

.PeakAwardCard__icon[data-v-0c476014] {
    display: flex;
    margin-top: 11px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px
}

.PeakAwardCard[data-v-0c476014] {
    background-color: #fff;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    box-sizing: border-box;
    padding: 40px;
    transition: all .2s ease
}

.MilestoneDialog__icon[data-v-6ee7c5d4] {
    align-self: center;
    height: 24px;
    margin-right: 12px;
    width: 24px
}

.MilestoneDialog__strong-row[data-v-6ee7c5d4] {
    font-weight: 600
}

.MilestoneDialog__normal-row[data-v-6ee7c5d4],
.MilestoneDialog__strong-row[data-v-6ee7c5d4] {
    color: var(--color-medium-charcoal);
    font-size: 14px;
    line-height: 40px
}

.MilestoneDialog__normal-row[data-v-6ee7c5d4] {
    align-items: flex-start
}

.MilestoneDialog__numbers[data-v-6ee7c5d4] {
    text-align: right;
    white-space: nowrap
}

.ProgramEssentialsCard__title[data-v-adfc770c] {
    color: inherit;
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin: 0 0 24px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

.ProgramEssentialsCard__title[data-v-adfc770c]:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .ProgramEssentialsCard__title[data-v-adfc770c] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.SiaDialog__strong-row[data-v-29db777f] {
    font-weight: 600;
    line-height: 40px
}

.SiaDialog__normal-row[data-v-29db777f],
.SiaDialog__strong-row[data-v-29db777f] {
    color: var(--color-medium-charcoal);
    font-size: 14px
}

.SiaDialog__normal-row[data-v-29db777f] {
    align-items: flex-start;
    letter-spacing: -.005em;
    line-height: 21px;
    padding-left: 12px
}

.SiaDialog__numbers[data-v-29db777f] {
    text-align: right;
    white-space: nowrap
}

.OasDialog__icon[data-v-8e2fec9c] {
    height: 24px;
    width: 24px
}

.OasDialog__strong-row[data-v-8e2fec9c] {
    color: var(--color-medium-charcoal);
    font-size: 14px;
    font-weight: 600;
    line-height: 40px
}

.OasDialog__normal-row[data-v-8e2fec9c] {
    line-height: 21px
}

.OasDialog__inner-row[data-v-8e2fec9c],
.OasDialog__normal-row[data-v-8e2fec9c] {
    align-items: flex-start;
    color: var(--color-medium-charcoal);
    font-size: 14px;
    letter-spacing: -.005em;
    padding-left: 12px
}

.OasDialog__inner-row[data-v-8e2fec9c] {
    line-height: 40px;
    text-align: right
}

.OasDialog__inner-row .col[data-v-8e2fec9c] {
    margin-right: 24px;
    padding-bottom: 0;
    padding-left: 3px
}

.PeakAward_progressText {
    color: inherit;
    color: var(--color-neutral-charcoal);
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 0;
    text-transform: uppercase
}

.PeakAward_progressText,
.PeakAward_progressValue {
    font-family: NunitoSans-light, arial, sans-serif !important
}

.PeakAward_progressValue {
    color: inherit;
    color: var(--color-dark-charcoal);
    font-size: 48px !important;
    font-weight: inherit;
    letter-spacing: -.03em !important;
    line-height: 54px !important;
    margin: 0 !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PeakAward_progressValue {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 56px !important;
        font-weight: inherit;
        letter-spacing: -.03em !important;
        line-height: 64px !important;
        margin-top: 24px
    }
}

.PeakAward__awarded {
    color: inherit;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 36px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 42px !important;
    margin-top: 0 !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PeakAward__awarded {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 48px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 56px !important;
        margin-top: 64px
    }
}

.PeakAward__awarded_date {
    color: inherit;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    justify-content: center;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0 !important;
    margin-top: 24px;
    text-transform: uppercase;
    text-transform: capitalize
}

.SiaRequirements .TemplateGroup {
    background: none !important;
    box-shadow: none !important
}

.SiaReview hr:not(:first-of-type):not(:last-of-type) {
    display: none
}

.SiaReview .TemplateGroup,
.SiaReview .TemplateGroup--condensed {
    margin: 12px 0
}

.SiaReview .TemplateGroup .TemplateGroup__statements,
.SiaReview .TemplateGroup--condensed .TemplateGroup__statements {
    margin: 0;
    padding: 0
}

.SiaReview .TemplateGroup .TemplateGroup__statements .TemplateGroup__markdown,
.SiaReview .TemplateGroup--condensed .TemplateGroup__statements .TemplateGroup__markdown {
    color: var(--color-dark-charcoal);
    margin: 0
}

.Loading[data-v-f099b51a] {
    text-align: center
}

.ApprovalsReview__title[data-v-f03f25f6] {
    color: inherit;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .ApprovalsReview__title[data-v-f03f25f6] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.ApprovalsReview__date[data-v-f03f25f6],
.ApprovalsReview__name[data-v-f03f25f6],
.ApprovalsReview__pathways[data-v-f03f25f6] {
    margin-bottom: 24px
}

.ApprovalsReview__subtitle[data-v-f03f25f6] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    letter-spacing: inherit !important;
    line-height: 24px !important;
    margin: 0
}

.ApprovalsReview__buttons[data-v-f03f25f6] {
    display: flex;
    justify-content: space-between
}

@media only screen and (max-width:599px) {
    .ApprovalsReview__buttons[data-v-f03f25f6] {
        flex-direction: column
    }
    .ApprovalsReview__buttons .v-btn[data-v-f03f25f6] {
        margin-bottom: 1rem;
        width: 100%
    }
}

.ApprovalsReview__buttons-action[data-v-f03f25f6] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.OasStageSidebarContent__link[data-v-6f96bcbe] {
    color: var(--color-base-blue);
    display: flex;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 24px;
    text-transform: uppercase
}

.OasStageSidebarContent__link--disabled[data-v-6f96bcbe] {
    color: var(--color-neutral-charcoal) !important
}

.Accordion .Accordion__panel button {
    margin-bottom: 0;
    margin-top: 0
}

.Accordion .v-expansion-panel-header {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px
}

.Accordion .v-expansion-panel-header:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        padding: 24px 40px
    }
}

.Accordion .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion .v-expansion-panel-content__wrap {
        padding: 0 40px 24px
    }
}

.Accordion .v-expansion-panel {
    border-radius: 16px !important
}

.Accordion .v-expansion-panel:before {
    box-shadow: none !important
}

.Accordion .v-expansion-panel-header__icon {
    padding-left: 12px
}

.Accordion--theme-alt .v-expansion-panel-header {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0;
    padding: 16px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important;
        padding: 24px
    }
}

.Accordion--theme-alt .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .Accordion--theme-alt .v-expansion-panel-content__wrap {
        padding: 0 24px 24px
    }
}

.OasStageSidebar__default {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    padding: 40px;
    transition: all .2s ease
}

.OasStageSidebar__accordion .OasStageSidebar__accordion-container button {
    margin-top: 0
}

.OasStageSidebar__accordion .v-expansion-panel-content__wrap {
    padding: 0 16px 24px
}

@media only screen and (min-width:600px) {
    .OasStageSidebar__accordion .v-expansion-panel-content__wrap {
        padding: 0 36px 36px
    }
}

.OasStageSidebar__accordion .v-expansion-panel-header {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px
}

.OasStageSidebar__accordion .v-expansion-panel-header:first-child {
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .OasStageSidebar__accordion .v-expansion-panel-header {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important;
        padding: 16px 36px
    }
}

.OasStageSidebar__accordion .v-expansion-panel {
    border-radius: 16px !important
}

.OasStageSidebar__accordion .v-expansion-panel:before {
    box-shadow: none !important
}

.v-application .VerifierDialog__text[data-v-7222bfc8] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin-bottom: 12px;
    margin-top: 0
}

.v-application .VerifierDialog__card[data-v-7222bfc8] {
    box-sizing: border-box
}

.v-application .VerifierDialog__radio[data-v-7222bfc8] {
    margin-bottom: 16px;
    margin-right: 24px
}

.v-application .VerifierDialog__radio .v-input--selection-controls__input[data-v-7222bfc8] {
    margin-right: 16px !important
}

.v-application .VerifierDialog__radio[data-v-7222bfc8]:last-child {
    margin-bottom: 0
}

.v-application .VerifierDialog__radio-group[data-v-7222bfc8] {
    margin-bottom: 24px
}

.v-application .VerifierDialog__text-field[data-v-7222bfc8] {
    margin-bottom: 12px;
    margin-top: 0
}

.v-application .VerifierDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-7222bfc8] {
    margin-bottom: 0
}

.v-application .VerifierDialog__card.v-card .VerifierDialog__saveBtn[data-v-7222bfc8] {
    color: var(--color-base-blue)
}

.v-application .VerifierDialog__card.v-card .VerifierDialog__saveBtn.inactive[data-v-7222bfc8] {
    opacity: .5
}

.v-application .VerifierDialog__card.v-card .v-btn__content[data-v-7222bfc8] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.v-application .VerifierDialog__actions[data-v-7222bfc8] {
    margin-top: 40px
}

.OasStage .OasStage__section {
    background-color: var(--color-white);
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 24px 24px 36px
}

@media only screen and (min-width:600px) {
    .OasStage .OasStage__section {
        padding: 24px 48px 36px
    }
}

.OasStage .OasStage__title {
    color: inherit;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .OasStage .OasStage__title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.OasStage .OasStage__section-title {
    color: inherit;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .OasStage .OasStage__section-title {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.OasStage .OasStage__statement {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.OasStage .OasStage__question-container {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.OasStage .OasStage__btn-info {
    margin-left: 24px
}

.OasStage .OasStage__submit {
    margin: 3rem auto
}

.OasStage .OasStage__submit .OasStage__btn-submit {
    float: right
}

.OasStage .OasStage-info-modal__text * {
    font-size: 16px
}

.OasStage .OasStage__info-card {
    border: 1px solid var(--color-light-charcoal) !important;
    border-radius: .5rem !important;
    display: flex;
    margin: auto;
    width: 100%
}

.OasStage .OasStage__info-card img {
    height: 32px;
    margin: auto !important;
    -o-object-fit: contain;
    object-fit: contain;
    width: 32px
}

.OasStage .OasStage__info-card .v-card__text {
    margin: auto 0 auto 1rem;
    padding: 0
}

.OasStage .OasStage__info-card .v-card__text p {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 auto
}

@media only screen and (min-width:600px) {
    .OasStage .OasStage__info-card img {
        height: 32px;
        margin: auto .5rem auto 0 !important;
        -o-object-fit: contain;
        object-fit: contain;
        width: 32px
    }
    .OasStage .OasStage__info-card .v-card__text p {
        color: var(--color-medium-charcoal);
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 16px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 24px !important;
        margin: 0 auto
    }
}