.v-speed-dial {
    position: relative;
    z-index: 1
}

.v-speed-dial--absolute {
    position: absolute
}

.v-speed-dial--fixed {
    position: fixed
}

.v-speed-dial--absolute,
.v-speed-dial--fixed {
    z-index: 4
}

.v-speed-dial--absolute>.v-btn--floating,
.v-speed-dial--fixed>.v-btn--floating {
    margin: 0
}

.v-speed-dial--top {
    top: 16px
}

.v-speed-dial--bottom {
    bottom: 16px
}

.v-speed-dial--left {
    left: 16px
}

.v-speed-dial--right {
    right: 16px
}

.v-speed-dial--direction-left .v-speed-dial__list,
.v-speed-dial--direction-right .v-speed-dial__list {
    height: 100%;
    padding: 0 16px;
    top: 0
}

.v-speed-dial--direction-bottom .v-speed-dial__list,
.v-speed-dial--direction-top .v-speed-dial__list {
    left: 0;
    width: 100%
}

.v-speed-dial--direction-top .v-speed-dial__list {
    bottom: 100%;
    flex-direction: column-reverse
}

.v-speed-dial--direction-right .v-speed-dial__list {
    flex-direction: row;
    left: 100%
}

.v-speed-dial--direction-bottom .v-speed-dial__list {
    flex-direction: column;
    top: 100%
}

.v-speed-dial--direction-left .v-speed-dial__list {
    flex-direction: row-reverse;
    right: 100%
}

.v-speed-dial__list {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    position: absolute
}

.v-speed-dial__list .v-btn {
    margin: 6px
}

.v-speed-dial:not(.v-speed-dial--is-active) .v-speed-dial__list {
    pointer-events: none
}

.v-input--checkbox.v-input--indeterminate.v-input--is-disabled {
    opacity: .6
}

.v-input--checkbox.v-input--dense {
    margin-top: 4px
}

.v-input--selection-controls {
    margin-top: 16px;
    padding-top: 4px
}

.v-input--selection-controls>.v-input__append-outer,
.v-input--selection-controls>.v-input__prepend-outer {
    margin-bottom: 0;
    margin-top: 0
}

.v-input--selection-controls:not(.v-input--hide-details)>.v-input__slot {
    margin-bottom: 12px
}

.v-input--selection-controls .v-input__slot,
.v-input--selection-controls .v-radio {
    cursor: pointer
}

.v-input--selection-controls .v-input__slot>.v-label,
.v-input--selection-controls .v-radio>.v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto
}

.v-input--selection-controls__input {
    color: inherit;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition-property: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 24px
}

.v-input--selection-controls__input .v-icon {
    width: 100%
}

.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 8px
}

.v-application--is-rtl .v-input--selection-controls__input {
    margin-left: 8px
}

.v-input--selection-controls__input input[role=checkbox],
.v-input--selection-controls__input input[role=radio],
.v-input--selection-controls__input input[role=switch] {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.v-input--selection-controls__input+.v-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.v-input--selection-controls__ripple {
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    left: -12px;
    margin: 7px;
    position: absolute;
    top: calc(50% - 24px);
    transition: inherit;
    width: 34px
}

.v-input--selection-controls__ripple:before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.2);
    transform-origin: center center;
    transition: inherit
}

.v-input--selection-controls__ripple>.v-ripple__container {
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--dense .v-input--selection-controls__ripple {
    height: 28px;
    left: -9px;
    width: 28px
}

.v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
    top: calc(50% - 21px)
}

.v-input--selection-controls.v-input {
    flex: 0 1 auto
}

.v-input--selection-controls .v-radio--is-focused .v-input--selection-controls__ripple:before,
.v-input--selection-controls.v-input--is-focused .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2)
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--indeterminate) .v-icon {
    color: inherit
}

.v-input--selection-controls.v-input--is-disabled:not(.v-input--is-readonly) {
    pointer-events: none
}

.v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    background: currentColor;
    transform: scale(1.2);
    transition: none
}

.v-application .ImportDataDialog__card[data-v-551ce9f9] {
    box-sizing: border-box
}

.v-application .ImportDataDialog__radio[data-v-551ce9f9] {
    margin-bottom: 16px;
    margin-right: 24px
}

.v-application .ImportDataDialog__radio .v-input--selection-controls__input[data-v-551ce9f9] {
    margin-right: 16px !important
}

.v-application .ImportDataDialog__radio[data-v-551ce9f9]:last-child {
    margin-bottom: 0
}

.v-application .ImportDataDialog__radio-group[data-v-551ce9f9] {
    margin-bottom: 24px
}

.v-application .ImportDataDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-551ce9f9] {
    margin-bottom: 0
}

.v-application .ImportDataDialog__card.v-card .ImportDataDialog__saveBtn[data-v-551ce9f9] {
    color: var(--color-base-blue)
}

.v-application .ImportDataDialog__card.v-card .ImportDataDialog__saveBtn.inactive[data-v-551ce9f9] {
    opacity: .5
}

.v-application .ImportDataDialog__card.v-card .v-btn__content[data-v-551ce9f9] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.v-application .ImportDataDialog__actions[data-v-551ce9f9] {
    margin-top: 40px
}

.RemoveUnitMemberDialog__card.v-card .v-btn.v-btn--is-elevated[data-v-1baecfd6] {
    margin-bottom: 0
}

.RemoveUnitMemberDialog__card.v-card .RemoveUnitMemberDialog__saveBtn[data-v-1baecfd6] {
    color: var(--color-base-blue)
}

.RemoveUnitMemberDialog__card.v-card .RemoveUnitMemberDialog__saveBtn.inactive[data-v-1baecfd6] {
    opacity: .5
}

.RemoveUnitMemberDialog__card.v-card .v-btn__content[data-v-1baecfd6] {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 20px;
    padding-left: 0 !important
}

.UnitCouncilCheckbox.v-input--checkbox[data-v-e9aa8cfc] {
    margin: auto 0;
    padding-bottom: 0
}

.UnitCouncilCheckbox.v-input--checkbox .v-icon[data-v-e9aa8cfc] {
    pointer-events: none
}

.UnitCouncilCheckbox.v-input--checkbox .v-input__control .v-input__slot[data-v-e9aa8cfc] {
    margin-bottom: 0
}

.UnitCouncilCheckbox.v-input--checkbox .v-input__control .v-messages[data-v-e9aa8cfc] {
    display: none
}

@media only screen and (max-width:959px) {
    .v-application .MembersUnitTable {
        margin-bottom: 50px !important
    }
}

.v-application .MembersUnitTable .v-text-field .v-input__append-inner {
    margin-top: 4px
}

.v-application .MembersUnitTable .v-select.v-input--is-label-active.v-text-field .v-label {
    color: var(--color-dark-charcoal)
}

.v-application .MembersUnitTable .v-input--checkbox .v-input--selection-controls__input {
    margin-right: 0
}

.v-application .MembersUnitTable .v-select__selections,
.v-application .MembersUnitTable td {
    text-transform: capitalize
}

.v-application .MembersUnitTable td {
    height: 55px !important
}

.v-application .MembersUnitTable .v-card__title {
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    padding-bottom: 0;
    padding-top: 0
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable .v-card__title {
        margin-top: 8px
    }
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown {
    margin: auto 0;
    max-width: 130px
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-select__selection--comma {
    font-size: 14px
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-input__control {
    font-size: 13px;
    margin: auto 0
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-input__control .v-input__slot {
    margin-bottom: 0
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-input__control .v-input__slot label {
    font-size: 13px !important;
    top: 10px
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-input__control .v-input__slot .v-label--is-disabled {
    position: relative !important
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-input__control .v-input__slot:before {
    border-style: none
}

.v-application .MembersUnitTable .MembersUnitTable__dropdown .v-text-field__details {
    display: none
}

.v-application .MembersUnitTable .dropdown__duty,
.v-application .MembersUnitTable .dropdown__patrol,
.v-application .MembersUnitTable .dropdown__unit {
    width: 110px
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable .dropdown__patrol,
    .v-application .MembersUnitTable .dropdown__unit {
        width: 130px
    }
    .v-application .MembersUnitTable .dropdown__duty {
        max-width: 180px;
        width: auto
    }
}

.v-application .MembersUnitTable .v-card__title {
    color: inherit;
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable .v-card__title {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.v-application .MembersUnitTable .v-card__title .v-text-field {
    height: 74px;
    margin-bottom: 0;
    padding-right: 1rem;
    width: 50%
}

.v-application .MembersUnitTable .v-card__title .MembersUnitTable__filter {
    padding-right: 1rem;
    width: 50%
}

.v-application .MembersUnitTable .MembersUnitTable__actions {
    width: -moz-max-content;
    width: max-content
}

.v-application .MembersUnitTable .MembersUnitTable__actions :first-child {
    padding-left: 0
}

.v-application .MembersUnitTable .MembersUnitTable__actions .v-btn span.v-btn__content {
    padding: 0
}

.v-application .MembersUnitTable .MembersUnitTable__actions .v-btn span.v-btn__content .v-image {
    height: 1.5rem;
    margin-left: 0;
    margin-right: .5rem;
    width: 1.5rem
}

.v-application .MembersUnitTable .MembersUnitTable__actions-complete {
    color: var(--color-neutral-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0;
    text-transform: uppercase
}

@media only screen and (max-width:599px) {
    .v-application .MembersUnitTable .MembersUnitTable__actions .v-btn span.v-btn__content {
        width: .5rem
    }
    .v-application .MembersUnitTable .MembersUnitTable__actions .v-btn span.v-btn__content .v-image {
        margin-left: 1.5rem
    }
    .v-application .MembersUnitTable .MembersUnitTable__actions .v-btn span.v-btn__content span {
        display: none
    }
}

.v-application .MembersUnitTable__header {
    position: relative
}

.v-application .MembersUnitTable__header-button {
    display: none
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable__header-button {
        bottom: 0;
        display: block;
        position: absolute;
        right: 0
    }
}

.v-application .MembersUnitTable__unit-name {
    color: inherit;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 24px;
    text-transform: uppercase
}

.v-application .MembersUnitTable__actions-container {
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 100px
}

.v-application .MembersUnitTable__actions-container .MembersUnitTable__actions-button {
    height: 30px;
    padding: 0
}

.v-application .MembersUnitTable__actions-container .MembersUnitTable__actions-container-divider {
    display: none
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable__actions-container .MembersUnitTable__actions-container-divider {
        display: inline;
        padding: 0 8px
    }
    .v-application .MembersUnitTable__actions-container {
        display: inline;
        margin-right: 0
    }
    .v-application .MembersUnitTable__actions-container .v-btn {
        height: 28px
    }
}

.v-application .MembersUnitTable__achievement-modal-icon {
    cursor: pointer;
    margin-left: 8px
}

.v-application .MembersUnitTable__subtitle {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 0 0 8px;
    text-transform: uppercase
}

.v-application .MembersUnitTable__title {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0 0 48px
}

@media only screen and (min-width:600px) {
    .v-application .MembersUnitTable__title {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}