.PopupDrawer[data-v-6ff45cbe] {
    background-color: var(--color-default-background);
    padding: 12px 12px 0 24px
}

.PopupDrawer[data-v-6ff45cbe] .v-navigation-drawer__content {
    overflow-y: hidden
}

@media only screen and (min-width:600px) {
    .PopupDrawer--large-padding[data-v-6ff45cbe] {
        padding: 24px 24px 0 48px
    }
}

.PopupDrawer__title[data-v-6ff45cbe] {
    color: var(--color-neutral-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .PopupDrawer__title[data-v-6ff45cbe] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.PopupDrawer__close[data-v-6ff45cbe] {
    cursor: pointer;
    max-width: 24px;
    vertical-align: middle;
    width: 24px
}