.Stream__node[data-v-1526c15a] {
    background: #fff;
    border: none !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    cursor: pointer;
    margin: auto;
    max-height: 136px;
    min-height: 110px;
    transition: all .2s ease;
    transition: .3s;
    width: 168px
}

.Stream__node[data-v-1526c15a]:hover {
    box-shadow: 0 5px 10px #e5e9ec !important;
    transform: scale(1.01)
}

.Stream__node .Stream__node-background-in-progress[data-v-1526c15a] {
    border-radius: inherit;
    height: inherit;
    position: absolute;
    width: inherit;
    z-index: 1
}

.Stream__node-progress[data-v-1526c15a] {
    display: flex;
    justify-content: flex-end;
    opacity: 1 !important;
    position: absolute;
    width: inherit;
    z-index: 2
}

.Stream__node-progress img[data-v-1526c15a] {
    margin: 9.5px 9.5px 0 0
}

.Stream__node-content[data-v-1526c15a] {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    opacity: 1 !important;
    padding: .5rem 1rem;
    z-index: 2
}

.Stream__node-number-icon[data-v-1526c15a] {
    align-items: center;
    display: flex
}

.Stream__node-number-icon p[data-v-1526c15a] {
    align-items: center;
    color: inherit;
    color: #fff;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 36px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 42px !important;
    margin: 0 !important;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .Stream__node-number-icon p[data-v-1526c15a] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 48px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 56px !important;
        margin-top: 64px
    }
}

.Stream__node-number-icon img[data-v-1526c15a] {
    color: #fff;
    height: 1.5rem;
    margin-left: .5rem;
    width: 1.5rem
}

.Stream__node-stage-name[data-v-1526c15a] {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: flex-end;
    text-align: left
}

.Stream__node-stage-name p[data-v-1526c15a] {
    color: inherit;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-size: 13px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    line-height: 1.4rem;
    margin: .2em
}

.Stream__node[data-v-1526c15a] {
    height: 110px
}

@media(max-width:960px) {
    .Stream__node[data-v-1526c15a] {
        width: 108px
    }
    .Stream__node-number-icon img[data-v-1526c15a] {
        display: none
    }
    .Stream__node-stage-name[data-v-1526c15a] {
        justify-content: center
    }
    .Stream__node-stage-name p[data-v-1526c15a] {
        color: inherit;
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 14px !important;
        font-size: 13px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 21px !important;
        line-height: 18px;
        margin: 0
    }
}

.b2t[data-v-1526c15a] {
    transform: rotate(180deg)
}

.l2r[data-v-1526c15a] {
    position: absolute;
    transform: rotate(-90deg) rotateY(180deg);
    transform-origin: left top
}

.verticalNodes ul[data-v-1526c15a] {
    list-style: none;
    margin: 0;
    padding-left: 18px;
    text-align: left
}

.verticalNodes ul[data-v-1526c15a]:first-child {
    margin-top: 2px
}

.verticalNodes>td[data-v-1526c15a]:before {
    border: 1px solid var(--color-neutral-charcoal);
    content: ""
}

.verticalNodes>td>ul>li[data-v-1526c15a]:first-child:before {
    border-width: 2px 0 0 2px;
    box-sizing: border-box;
    height: 30px;
    top: -4px;
    width: calc(50% - 2px)
}

.verticalNodes ul>li[data-v-1526c15a] {
    position: relative
}

.verticalNodes ul>li[data-v-1526c15a]:after,
.verticalNodes ul>li[data-v-1526c15a]:before {
    border-color: var(--color-neutral-charcoal);
    border-style: solid;
    border-width: 0 0 2px 2px;
    box-sizing: border-box;
    content: "";
    left: -6px;
    position: absolute
}

.verticalNodes ul>li[data-v-1526c15a]:before {
    height: 30px;
    top: -4px;
    width: 11px
}

.verticalNodes ul>li[data-v-1526c15a]:after {
    height: 100%;
    top: 1px
}

.verticalNodes ul>li[data-v-1526c15a]:first-child:after {
    border-width: 2px 0 0 2px;
    box-sizing: border-box;
    top: 24px;
    width: 11px
}

.verticalNodes ul>li[data-v-1526c15a]:last-child:after {
    border-width: 2px 0 0;
    box-sizing: border-box
}

.r2l[data-v-1526c15a] {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: left top
}

td[data-v-1526c15a] {
    padding: 0;
    text-align: center;
    vertical-align: top
}

.lines:nth-child(3) td[data-v-1526c15a] {
    box-sizing: border-box;
    height: 20px
}

.lines .topLine[data-v-1526c15a] {
    border-top: 2px solid var(--color-light-mid-charcoal)
}

.lines .rightLine[data-v-1526c15a] {
    border-radius: 0;
    border-right: 1px solid var(--color-light-mid-charcoal);
    float: none
}

.lines .leftLine[data-v-1526c15a] {
    border-left: 1px solid var(--color-light-mid-charcoal);
    border-radius: 0;
    float: none
}

.lines .downLine[data-v-1526c15a] {
    background-color: var(--color-light-mid-charcoal);
    float: none;
    height: 20px;
    margin: 0 auto;
    width: 2px
}

.node[data-v-1526c15a] {
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    position: relative;
    text-align: center;
    width: 180px
}

@media(max-width:960px) {
    .node[data-v-1526c15a] {
        width: 120px
    }
}

.l2r .node[data-v-1526c15a],
.r2l .node[data-v-1526c15a] {
    height: 130px;
    width: 50px
}

.node>.spinner[data-v-1526c15a] {
    color: rgba(68, 157, 68, .8);
    font-size: 30px;
    left: calc(50% - 15px);
    position: absolute;
    top: calc(50% - 15px);
    vertical-align: middle
}

.node[data-v-1526c15a]:hover {
    cursor: default;
    transition: .5s;
    z-index: 1
}

.node.focused[data-v-1526c15a],
.node[data-v-1526c15a]:hover {
    background-color: transparent;
    background-color: initial
}

.ghost-node[data-v-1526c15a] {
    left: -10000px;
    position: fixed;
    top: -10000px
}

.ghost-node rect[data-v-1526c15a] {
    fill: #fff;
    stroke: #bf0000
}

.node.allowedDrop[data-v-1526c15a] {
    border-color: rgba(68, 157, 68, .9)
}

.node .title[data-v-1526c15a] {
    background-color: var(--color-neutral-charcoal);
    border-radius: 4px 4px 0 0;
    color: #fff;
    display: none;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.b2t .node .title[data-v-1526c15a] {
    transform: rotate(-180deg);
    transform-origin: center bottom
}

.l2r .node .title[data-v-1526c15a] {
    transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
    transform-origin: bottom center;
    width: 120px
}

.r2l .node .title[data-v-1526c15a] {
    transform: rotate(-90deg) translate(-40px, -40px);
    transform-origin: bottom center;
    width: 120px
}

.node .title .symbol[data-v-1526c15a] {
    float: left;
    margin-left: 2px;
    margin-top: 4px
}

.node .content[data-v-1526c15a] {
    background-color: #fff;
    border: 1px solid var(--color-neutral-charcoal);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    color: #333;
    font-size: 11px;
    height: 112px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.b2t .node .content[data-v-1526c15a] {
    transform: rotate(180deg);
    transform-origin: center top
}

.l2r .node .content[data-v-1526c15a] {
    transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
    transform-origin: top center;
    width: 120px
}

.r2l .node .content[data-v-1526c15a] {
    transform: rotate(-90deg) translate(-40px, -40px);
    transform-origin: top center;
    width: 120px
}

.node .edge[data-v-1526c15a] {
    color: rgba(68, 157, 68, .5);
    cursor: default;
    font-size: 15px;
    position: absolute;
    transition: .2s
}

.noncollapsable .node .edge[data-v-1526c15a] {
    display: none
}

.edge[data-v-1526c15a]:hover {
    color: #449d44;
    cursor: pointer
}

.node .verticalEdge[data-v-1526c15a] {
    left: 5px;
    width: calc(100% - 10px);
    width: -moz-calc(100% - 10px)
}

.node .topEdge[data-v-1526c15a] {
    top: -4px
}

.node .bottomEdge[data-v-1526c15a] {
    bottom: -4px
}

.node .horizontalEdge[data-v-1526c15a] {
    height: calc(100% - 10px);
    height: -moz-calc(100% - 10px);
    top: 5px;
    width: 15px
}

.node .rightEdge[data-v-1526c15a] {
    right: -4px
}

.node .leftEdge[data-v-1526c15a] {
    left: -4px
}

.node .horizontalEdge[data-v-1526c15a]:before {
    position: absolute;
    top: calc(50% - 7px)
}

.node .rightEdge[data-v-1526c15a]:before {
    right: 3px
}

.node .leftEdge[data-v-1526c15a]:before {
    left: 3px
}

.node .toggleBtn[data-v-1526c15a] {
    bottom: -2px;
    color: rgba(68, 157, 68, .6);
    left: 5px;
    position: absolute
}

.node .toggleBtn[data-v-1526c15a]:hover {
    color: rgba(68, 157, 68, .8)
}

.node[data-v-1526c15a] {
    transition: transform .3s, opacity .3s
}

.slide-down[data-v-1526c15a] {
    opacity: 0;
    transform: translateY(40px)
}

.l2r .node.slide-down[data-v-1526c15a],
.r2l .node.slide-down[data-v-1526c15a] {
    transform: translateY(130px)
}

.slide-up[data-v-1526c15a] {
    opacity: 0;
    transform: translateY(-40px)
}

.l2r .node.slide-up[data-v-1526c15a],
.r2l .node.slide-up[data-v-1526c15a] {
    transform: translateY(-130px)
}

.slide-right[data-v-1526c15a] {
    opacity: 0;
    transform: translateX(130px)
}

.l2r .node.slide-right[data-v-1526c15a],
.r2l .node.slide-right[data-v-1526c15a] {
    transform: translateX(40px)
}

.slide-left[data-v-1526c15a] {
    opacity: 0;
    transform: translateX(-130px)
}

.l2r .node.slide-left[data-v-1526c15a],
.r2l .node.slide-left[data-v-1526c15a] {
    transform: translateX(-40px)
}

.StreamTree {
    overflow: hidden !important
}

.orgchart-container {
    border: 0;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%
}

.orgchart {
    -webkit-touch-callout: none;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 800px;
    min-height: 50%;
    min-width: 504px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.orgchart .hidden,
.orgchart~.hidden {
    display: none
}

.orgchart.b2t {
    transform: rotate(180deg)
}

.orgchart.l2r {
    position: absolute;
    transform: rotate(-90deg) rotateY(180deg);
    transform-origin: left top
}

.orgchart.r2l {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: left top
}

.orgchart>.spinner {
    color: rgba(68, 157, 68, .8);
    font-size: 100px;
    margin-top: 30px
}

.orgchart table {
    border-collapse: separate;
    border-spacing: 0
}

.orgchart>table:first-child {
    margin: 20px auto
}

.orgchart td {
    padding: 0;
    text-align: center;
    vertical-align: top
}

.oc-export-btn {
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.oc-export-btn[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .3
}

.oc-export-btn:active,
.oc-export-btn:focus,
.oc-export-btn:hover {
    background-color: #449d44;
    border-color: #347a34
}

.orgchart~.mask {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 999
}

.orgchart~.mask .spinner {
    color: hsla(0, 0%, 100%, .8);
    font-size: 108px;
    left: calc(50% - 54px);
    position: absolute;
    top: calc(50% - 54px)
}