hr[data-v-0b8eec11] {
    border: none;
    border-top: 1px solid var(--color-light-charcoal);
    margin: 1.5rem 0
}

.BaseList .BaseList__link[data-v-0b8eec11] {
    color: var(--color-base-blue);
    cursor: pointer;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 4px 0 24px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease
}

.BaseList .BaseList__link[data-v-0b8eec11]:hover {
    color: var(--color-scouts-medium-blue);
    -webkit-text-decoration: none;
    text-decoration: none
}

.BaseList .BaseList__main[data-v-0b8eec11] {
    margin-top: 24px
}

.BaseList .BaseList__main .BaseList__headline[data-v-0b8eec11] {
    color: inherit;
    display: flex;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 14px;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .BaseList .BaseList__main .BaseList__headline[data-v-0b8eec11] {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.BaseList .BaseList__main .BaseList__body[data-v-0b8eec11] {
    margin-bottom: 1rem;
    width: 100%
}

.BaseList .BaseList__main .BaseList__body p[data-v-0b8eec11] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 24px !important;
    margin-top: 16px
}

.BaseList .BaseList__main a.Nuxt__Link[data-v-0b8eec11] {
    margin: 0 auto !important;
    width: 100%
}

.BaseList .BaseList__image[data-v-0b8eec11] {
    margin-top: 48px
}

.BaseList .BaseList__overview-image[data-v-0b8eec11] {
    height: auto;
    max-width: 670px;
    width: 100%
}

.BaseList .BaseList__header[data-v-0b8eec11] {
    display: flex;
    flex-direction: row
}

.BaseList .BaseList__header .BaseList__title[data-v-0b8eec11] {
    color: var(--color-slate);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: .5rem 0 !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .BaseList .BaseList__header .BaseList__title[data-v-0b8eec11] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.BaseList .BaseList__header .BaseList__segment[data-v-0b8eec11] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin-top: 24px;
    text-transform: uppercase
}

.BaseList .BaseList__header .BaseList__subtitle[data-v-0b8eec11] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-bottom: 24px;
    margin-top: 16px
}

@media only screen and (min-width:600px) {
    .BaseList .BaseList__header .BaseList__subtitle[data-v-0b8eec11] {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
    .BaseList .BaseList__header[data-v-0b8eec11] {
        flex-direction: row;
        justify-content: space-between
    }
    .BaseList .BaseList__segment[data-v-0b8eec11] {
        margin-top: 0 !important
    }
    .BaseList .BaseList__main .BaseList__body[data-v-0b8eec11] {
        width: 75%
    }
}

.BaseList__info-card[data-v-0b8eec11] {
    width: 100%
}

@media only screen and (min-width:600px) {
    .BaseList__sub-description-container[data-v-0b8eec11] {
        align-self: center;
        display: flex
    }
}

.List[data-v-1b4fefe6] {
    margin-bottom: 24px
}

.List .ListItem[data-v-1b4fefe6] {
    align-items: center;
    border-bottom: 1px solid var(--color-light-charcoal);
    border-left: 1px solid var(--color-light-charcoal);
    border-radius: 0;
    border-right: 1px solid var(--color-light-charcoal);
    display: flex;
    padding: 16px
}

@media only screen and (min-width:600px) {
    .List .ListItem[data-v-1b4fefe6] {
        padding: 8px 16px
    }
}

.List .ListItem[data-v-1b4fefe6]:first-of-type {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid var(--color-light-charcoal)
}

.List .ListItem[data-v-1b4fefe6]:last-of-type {
    border-radius: 0 0 4px 4px
}

.List .ListItem[data-v-1b4fefe6]:first-of-type:last-of-type {
    border: 1px solid var(--color-light-charcoal);
    border-radius: 4px
}

.List .ListItem--rounded[data-v-1b4fefe6] {
    border: none !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4) !important;
    margin-bottom: 16px;
    padding: 24px;
    transition: all .2s ease
}

.List .ListItem--rounded .ListItem__title[data-v-1b4fefe6] {
    color: var(--color-medium-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .List .ListItem--rounded .ListItem__title[data-v-1b4fefe6] {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.List .row[data-v-1b4fefe6] {
    margin: 0
}

.List .col[data-v-1b4fefe6] {
    padding: 0
}

.List .ListItem__title-col[data-v-1b4fefe6] {
    margin-right: 16px;
    width: 0
}

@media only screen and (min-width:600px) {
    .List .ListItem__title-col[data-v-1b4fefe6] {
        display: flex;
        margin-right: 0
    }
}

.List .ListItem__action-col[data-v-1b4fefe6] {
    display: flex;
    margin-top: 16px
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-col[data-v-1b4fefe6] {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        margin-top: 0
    }
}

.List .ListItem__action-btn-col[data-v-1b4fefe6] {
    display: flex;
    justify-content: flex-end
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-btn-col[data-v-1b4fefe6] {
        min-width: 190px
    }
}

.List .ListItem__area-icon[data-v-1b4fefe6] {
    display: flex;
    margin-right: 24px;
    width: 24px
}

.List .ListItem__status[data-v-1b4fefe6],
.List .ListItem__title[data-v-1b4fefe6] {
    color: var(--color-dark-charcoal);
    font-style: normal;
    font-weight: 400
}

.List .ListItem__status.v-chip[data-v-1b4fefe6],
.List .ListItem__status.v-chip[data-v-1b4fefe6]:not(.v-chip--active) {
    color: var(--color-slate);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    font-size: 12px !important;
    font-weight: inherit;
    height: 22px;
    letter-spacing: -.01em !important;
    line-height: 21px !important;
    margin: 0 !important;
    margin-top: 16px;
    padding: 2px 8px
}

.List .ListItem__title[data-v-1b4fefe6] {
    font-size: 16px;
    letter-spacing: -.005em;
    line-height: 24px;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.List .ListItem__action[data-v-1b4fefe6] {
    float: right;
    height: -moz-min-content !important;
    height: min-content !important;
    margin-left: 24px;
    margin-right: -20px !important
}

@media only screen and (min-width:600px) {
    .List .ListItem__action[data-v-1b4fefe6] {
        margin-right: 0 !important;
        padding: 0
    }
}

.List .ListItem__action[data-v-1b4fefe6]:last-child,
.List .ListItem__action[data-v-1b4fefe6]:not(:first-child) {
    margin-left: 12px
}

.List .ListItem__action .v-btn--text[data-v-1b4fefe6] {
    margin-bottom: 0;
    padding: 0
}

.List .ListItem__action-icon[data-v-1b4fefe6] {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px
}

@media only screen and (min-width:600px) {
    .List .ListItem__action-icon[data-v-1b4fefe6] {
        margin-top: 0
    }
}

.List .ListItem__action[data-v-1b4fefe6]:first-of-type {
    margin-left: 0;
    margin-right: 0
}

@media only screen and (min-width:600px) {
    .ListItem__title-col[data-v-1b4fefe6] {
        flex-basis: 35%
    }
    .ListItem__status-col[data-v-1b4fefe6] {
        display: flex;
        justify-content: flex-start;
        width: 140px
    }
}

.BaseNoAchievements {
    align-items: center;
    display: flex;
    flex-direction: column
}

.BaseNoAchievements__empty {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 48px;
    margin-top: 12px
}

@media only screen and (min-width:600px) {
    .BaseNoAchievements__empty {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important;
        margin-bottom: 100px
    }
}