.OasStream {
    margin-bottom: 40px
}

.OasStream__title {
    align-items: center;
    display: flex;
    padding-top: 12px
}

.OasStream__title h1 {
    color: --color-slate;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 32px !important;
    font-weight: inherit;
    letter-spacing: -.02em !important;
    line-height: 40px !important;
    margin: 0;
    text-transform: capitalize
}

@media only screen and (min-width:600px) {
    .OasStream__title h1 {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 32px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 40px !important
    }
}

.OasStream__title .v-avatar {
    margin: 0 24px 0 10px
}

.OasStream__title span {
    text-transform: capitalize
}

.OasStream__stream-logo {
    margin-right: 16px;
    width: 48px
}

@media only screen and (min-width:600px) {
    .OasStream__stream-logo {
        margin-right: 24px;
        width: 64px
    }
}

.OasStream__subtitle {
    color: inherit;
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-top: 0
}

@media only screen and (min-width:600px) {
    .OasStream__subtitle {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.OasStream__info {
    border-bottom: 1px solid var(--color-light-charcoal);
    border-top: 1px solid var(--color-light-charcoal);
    color: inherit;
    display: flex;
    flex-direction: column;
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    justify-content: space-between;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 24px 0;
    padding: 16px 0
}

@media only screen and (min-width:600px) {
    .OasStream__info {
        flex-direction: row;
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.OasStream__info p {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: inherit;
    font-weight: 300;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin: 0
}

@media only screen and (min-width:600px) {
    .OasStream__info p {
        font-family: NunitoSans-light, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 32px !important
    }
}

.OasStream__info .OasStream__stream-details-title {
    color: var(--color-dark-charcoal);
    font-weight: inherit;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 16px;
    padding: 0
}

.OasStream__info .OasStream__stream-details-subtitle,
.OasStream__info .OasStream__stream-details-title {
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 14px !important;
    letter-spacing: -.01em !important;
    line-height: 21px !important
}

.OasStream__info .OasStream__stream-details-subtitle {
    color: var(--color-neutral-charcoal);
    font-weight: inherit;
    margin-bottom: 4px;
    margin-top: 0;
    padding: 0
}

.desktop hr {
    border: none;
    border-top: 1px solid var(--color-light-charcoal);
    margin: 1.5rem 0
}

.mobile * {
    -webkit-text-decoration: none;
    text-decoration: none
}

.mobile .OasStream__oas-link {
    padding: 12px 0;
    text-align: center
}

.mobile .OasStream__oas-link a {
    color: var(--color-neutral-charcoal);
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 18px
}

.mobile .OasStream__title span {
    text-transform: capitalize
}

.mobile .OasStream__description {
    color: var(--color-dark-charcoal);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.005em;
    line-height: 26px;
    margin-bottom: 0
}

.mobile .OasStream__branching-summary {
    background-color: transparent
}

.mobile .OasStream__progress-headline {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-semibold, arial, sans-serif !important;
    font-size: 22px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: -.02em !important;
    line-height: 28px !important;
    margin-bottom: 24px;
    margin-top: 24px
}

@media only screen and (min-width:600px) {
    .mobile .OasStream__progress-headline {
        font-family: NunitoSans-semibold, arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: inherit;
        letter-spacing: -.02em !important;
        line-height: 32px !important
    }
}

.mobile .v-tab:before,
.mobile .v-tabs-bar {
    background-color: transparent
}

.mobile .v-tabs-bar {
    margin-bottom: 36px
}

.mobile .v-tabs-bar .v-tab {
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    font-weight: 600;
    letter-spacing: .1rem !important;
    line-height: 18px !important;
    margin: 14px 0;
    text-transform: uppercase
}

.mobile .v-tabs-bar .v-tab--active {
    color: var(--color-scouts-medium-blue)
}

.mobile .v-tabs-bar.v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows):not(.v-slide-group--has-affixes) .v-slide-group__prev {
    display: none
}

.mobile .v-tabs-items {
    background-color: transparent
}

.mobile .OasStream__stage-container .OasStream__stage-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(229, 233, 236, .4)
}

.mobile .OasStream__stage-container .OasStream__stage-card div {
    display: inline;
    padding: 0 0 0 16px;
    vertical-align: middle
}

.mobile .OasStream__stage-container .OasStream__stage-card div.OasStream__stage-card__number {
    font-size: 32px;
    font-weight: 300
}

.mobile .OasStream__stage-container .OasStream__stage-card div.OasStream__stage-card__title {
    font-size: 14px;
    letter-spacing: -.005em;
    line-height: 21px
}

.mobile .OasStream__stage-container .OasStream__stage-card .OasStream__stage-card__completion-icon {
    float: right;
    height: 20px;
    margin-right: 16px;
    position: relative;
    top: 13px;
    width: auto
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed .v-card {
    color: #fff
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:first-child .v-card {
    background-color: var(--color-oas-stage-1)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(2) .v-card {
    background-color: var(--color-oas-stage-2)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(3) .v-card {
    background-color: var(--color-oas-stage-3)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(4) .v-card {
    background-color: var(--color-oas-stage-4)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(5) .v-card {
    background-color: var(--color-oas-stage-5)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(6) .v-card {
    background-color: var(--color-oas-stage-6)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(7) .v-card {
    background-color: var(--color-oas-stage-7)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(8) .v-card {
    background-color: var(--color-oas-stage-8)
}

.mobile .OasStream__stage-container.OasStream__stage-container--completed:nth-child(9) .v-card {
    background-color: var(--color-oas-stage-9)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):first-child .v-card div:first-child {
    color: var(--color-oas-stage-1)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(2) .v-card div:first-child {
    color: var(--color-oas-stage-2)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(3) .v-card div:first-child {
    color: var(--color-oas-stage-3)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(4) .v-card div:first-child {
    color: var(--color-oas-stage-4)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(5) .v-card div:first-child {
    color: var(--color-oas-stage-5)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(6) .v-card div:first-child {
    color: var(--color-oas-stage-6)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(7) .v-card div:first-child {
    color: var(--color-oas-stage-7)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(8) .v-card div:first-child {
    color: var(--color-oas-stage-8)
}

.mobile .OasStream__stage-container:not(.OasStream__stage-container--completed):nth-child(9) .v-card div:first-child {
    color: var(--color-oas-stage-9)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress .OasStream__stage-card:before {
    border-radius: 8px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .08;
    position: absolute;
    right: 0;
    top: 0
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:first-child .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-1)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(2) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-2)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(3) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-3)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(4) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-4)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(5) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-5)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(6) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-6)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(7) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-7)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(8) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-8)
}

.mobile .OasStream__stage-container.OasStream__stage-container--in-progress:nth-child(9) .OasStream__stage-card:before {
    background-color: var(--color-oas-stage-9)
}

.mobile .OasStream__stage-spacer {
    border-right: 2px solid var(--color-medium-charcoal);
    height: 16px;
    width: 50%
}

.OasStream__legend {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 24px 0 0
}

@media only screen and (min-width:600px) {
    .OasStream__legend {
        align-self: flex-end;
        flex-direction: column;
        margin-left: 24px
    }
}

.OasStream__legend-item {
    align-items: center;
    color: var(--color-dark-charcoal);
    display: flex;
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 12px !important;
    font-weight: inherit;
    letter-spacing: 0 !important;
    line-height: 18px !important;
    margin: 0 12px 0 0;
    width: 100px
}

.OasStream__legend-item:last-child {
    margin-bottom: 0
}

@media only screen and (min-width:600px) {
    .OasStream__legend-item {
        margin-bottom: 10px;
        margin-right: 0
    }
}

.OasStream__legend-icon {
    margin-right: 8px
}