.DatePicker {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    position: relative
}

.DatePicker .mx-input {
    background: none !important;
    border: none;
    border-bottom: 1px solid var(--color-light-mid-charcoal);
    border-radius: 0;
    box-shadow: none;
    color: var(--color-dark-charcoal);
    font-family: NunitoSans-regular, arial, sans-serif !important;
    font-size: 18px !important;
    font-size: 18px;
    font-weight: inherit;
    height: 28px;
    letter-spacing: -.01em !important;
    line-height: 26px !important;
    margin-top: 5px;
    padding: 0;
    width: 100%
}

@media only screen and (min-width:600px) {
    .DatePicker .mx-input {
        font-family: NunitoSans-regular, arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: inherit;
        letter-spacing: -.01em !important;
        line-height: 26px !important
    }
}

.DatePicker .mx-input::-moz-placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-input::placeholder {
    color: var(--color-dark-charcoal)
}

.DatePicker .mx-datepicker {
    width: 100%
}

.DatePicker .mx-icon-calendar {
    display: none
}

.DatePicker.disabled {
    opacity: .6
}

.DatePicker .v-text-field__details .v-messages {
    display: none
}

.DatePicker .v-text-field__details .v-messages.error--text {
    display: flex
}

.DatePicker__icon {
    margin-right: 9px;
    position: relative;
    top: 5px
}

.DatePicker__label {
    color: var(--color-scouts-medium-blue);
    font-family: NunitoSans-light, arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: inherit;
    font-weight: 700;
    left: 32px;
    letter-spacing: inherit !important;
    line-height: 18px !important;
    margin-top: 0;
    position: absolute;
    top: -16px
}